<div class="custom-container" #menu>
  <p class="title">About Us</p>
  <p class="paragraph">
    iClinic offers Smart, Innovative and Intuitively Designed End to End eHealth Solutions with Shared Patient Records
    at the Core, achieving the ‘<span class="fw-bold">One Patient, One Record’ Concept</span>.
    <br /><br />
    Our eHealth Solutions are used by a Network of Clinicians and Hospitals over Multiple Specialties in the Treatment
    of Complex Diseased Patients, facilitating Healthcare Providers with Improved Accuracy and Efficiency leading to
    improved Patient Care and Outcomes.
    <br /><br />
    Our Layer of Artificial Intelligence and Machine Learning Capabilities using Natural Language Processing offers a
    Wide Range of Innovative Tools, Applications and Down Stream Capabilities, including&nbsp;<span class="fw-bold">Deep
      Insights</span>&nbsp;for Population
    Health and&nbsp;<span class="fw-bold">Real-World Evidence for Precision</span>,&nbsp;<span
      class="fw-bold">Preventative Medicine and Therapeutic Innovations</span>.
  </p>
  <div class="icons-div">
    <div class="icons-row-div">
      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-msa.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-msa-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Modern System Architecture</p>
      </div>
      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'"
          src="./assets/images/aboutus/icons/icon-modulardesign.png" class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'"
          src="./assets/images/aboutus/icons/icon-modulardesign-blue.png" class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Modular Design</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-intuitiveinterface.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-intuitiveinterface-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Intuitive Interface</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-betteruserexperience.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-betteruserexperience-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Better User Experience</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-realtimequeries.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-realtimequeries-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Real-time Queries</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-customizable.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-customizable-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Customizable</p>
      </div>
    </div>
    <div class="icons-row-div">
      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-intelligentalerts.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-intelligentalerts-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Intelligent Alerts</p>
      </div>
      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'"
          src="./assets/images/aboutus/icons/icon-medications.png" class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'"
          src="./assets/images/aboutus/icons/icon-medications-blue.png" class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Medications</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-workflowmanagement.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-workflowmanagement-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Workflow Management</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-onepatientonerecord.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-onepatientonerecord-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">One Patient, One Record</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-ecosystem.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-ecosystem-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Ecosystem</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-divisionsharing.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-divisionsharing-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Division Sharing</p>
      </div>
    </div>
    <div class="icons-row-div">
      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-data.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-data-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Data</p>
      </div>
      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'"
          src="./assets/images/aboutus/icons/icon-oddc.png" class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'"
          src="./assets/images/aboutus/icons/icon-oddc-blue.png" class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Omni-Device Data Capture</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-artificialintelligence.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-artificialintelligence-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Artificial Intelligence</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-machinelearning.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-machinelearning-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Machine Learning</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-nlp.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-nlp-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Natural Language Processing</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-deepinsights.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-deepinsights-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Deep Insights</p>
      </div>
    </div>
    <div class="icons-row-div">
      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-innovativetools.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-innovativetools-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Innovative Tools</p>
      </div>
      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'"
          src="./assets/images/aboutus/icons/icon-personalizedmedicine.png" class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'"
          src="./assets/images/aboutus/icons/icon-personalizedmedicine-blue.png" class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Personalized Medicine</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-improvedqualityofcare.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-improvedqualityofcare-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Improved Quality of Care</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-clinicaldecisionsupport.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-clinicaldecisionsupport-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Clinical Decision Support</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-realworldevidence.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-realworldevidence-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Real World Evidence</p>
      </div>

      <div class="icons-individual-div">
        <img *ngIf="colorSchemeService.colorScheme === 'dark'" src="./assets/images/aboutus/icons/icon-populationhealth.png"
          class="icons-individual-img" alt="..." />
        <img *ngIf="colorSchemeService.colorScheme === 'light'" src="./assets/images/aboutus/icons/icon-populationhealth-blue.png"
          class="icons-individual-img" alt="..." />
        <p class="icons-individual-text">Population Health</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>