<div class="about_container" #menu>
  <p class="title text-light">About us</p>
  <p class="paragraph">
    iClinic specializes in the design and development of smart, innovative and
    practical eHealth Solutions. Our solutions span across physicians’ private
    offices into hospital clinics over multiple specialities, creating a true
    ecosystem of health information - One Patient, One Record.

    <span><br /><br /></span>
    With embedded decision support based on standardized treatment guidelines
    and the ability to capture and integrate discrete clinical data, our
    solutions enhance patient care and health management.
  </p>

  <div class="row row-cols-1 row-cols-md-3 g-4" #menuSecond>
    <div class="col">
      <div class="card h-100 card-div">
        <div class="card-img-div">
          <img
            #imgFirst
            src="./assets/images/aboutus/workflow.png"
            class="card-img-top card_icons"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">To Do / Workflow</h5>
          <p class="card-text">
            Convenient task reviews and performances of downstream activities.
            Real-time notifications of lab results, patient arrivals, secure
            messages, and more. Intelligent filters for efficient task
            management.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-div">
        <div class="card-img-div">
          <img
            #imgSecond
            src="./assets/images/aboutus/clinical_data.png"
            class="card-img-top card_icons"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Specialty Specific Clinical Data</h5>
          <p class="card-text">
            Customizable clinical data for smart data capture. Automatic
            inclusion of clinical data, medications and personal history on
            letters. Smart clinical reporting tools for population health
            management.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-div">
        <div class="card-img-div">
          <img
            src="./assets/images/aboutus/schedular.png"
            class="card-img-top card_icons"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Scheduler / iReception / Waitlists</h5>
          <p class="card-text">
            Single glance view of multiple calendars, rooms and facilities.
            Swift patient booking into the next and best available timeslot.
            Tightly integrated waitlists. Powerful single click appointment
            booking.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about_container" #secondSection>
  <p class="title text-light">About us</p>
  <p class="paragraph">
    iClinic specializes in the design and development of smart, innovative and
    practical eHealth Solutions. Our solutions span across physicians’ private
    offices into hospital clinics over multiple specialities, creating a true
    ecosystem of health information - One Patient, One Record.

    <span><br /><br /></span>
    With embedded decision support based on standardized treatment guidelines
    and the ability to capture and integrate discrete clinical data, our
    solutions enhance patient care and health management.
  </p>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 card-div">
        <div class="card-img-div">
          <img
            src="./assets/images/aboutus/workflow.png"
            class="card-img-top card_icons"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">To Do / Workflow</h5>
          <p class="card-text">
            Convenient task reviews and performances of downstream activities.
            Real-time notifications of lab results, patient arrivals, secure
            messages, and more. Intelligent filters for efficient task
            management.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-div">
        <div class="card-img-div">
          <img
            src="./assets/images/aboutus/clinical_data.png"
            class="card-img-top card_icons"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Specialty Specific Clinical Data</h5>
          <p class="card-text">
            Customizable clinical data for smart data capture. Automatic
            inclusion of clinical data, medications and personal history on
            letters. Smart clinical reporting tools for population health
            management.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-div">
        <div class="card-img-div">
          <img
            src="./assets/images/aboutus/schedular.png"
            class="card-img-top card_icons"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Scheduler / iReception / Waitlists</h5>
          <p class="card-text">
            Single glance view of multiple calendars, rooms and facilities.
            Swift patient booking into the next and best available timeslot.
            Tightly integrated waitlists. Powerful single click appointment
            booking.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about_container">
  <p class="title text-light">About us</p>
  <p class="paragraph">
    iClinic specializes in the design and development of smart, innovative and
    practical eHealth Solutions. Our solutions span across physicians’ private
    offices into hospital clinics over multiple specialities, creating a true
    ecosystem of health information - One Patient, One Record.

    <span><br /><br /></span>
    With embedded decision support based on standardized treatment guidelines
    and the ability to capture and integrate discrete clinical data, our
    solutions enhance patient care and health management.
  </p>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 card-div">
        <div class="card-img-div">
          <img
            src="./assets/images/aboutus/workflow.png"
            class="card-img-top card_icons"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">To Do / Workflow</h5>
          <p class="card-text">
            Convenient task reviews and performances of downstream activities.
            Real-time notifications of lab results, patient arrivals, secure
            messages, and more. Intelligent filters for efficient task
            management.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-div">
        <div class="card-img-div">
          <img
            src="./assets/images/aboutus/clinical_data.png"
            class="card-img-top card_icons"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Specialty Specific Clinical Data</h5>
          <p class="card-text">
            Customizable clinical data for smart data capture. Automatic
            inclusion of clinical data, medications and personal history on
            letters. Smart clinical reporting tools for population health
            management.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-div">
        <div class="card-img-div">
          <img
            src="./assets/images/aboutus/schedular.png"
            class="card-img-top card_icons"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Scheduler / iReception / Waitlists</h5>
          <p class="card-text">
            Single glance view of multiple calendars, rooms and facilities.
            Swift patient booking into the next and best available timeslot.
            Tightly integrated waitlists. Powerful single click appointment
            booking.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
