@import "~bootstrap/scss/bootstrap";
@import "/src/assets/fonts/fonts.scss";

.body{
  font-family: "ITCAvantGardeStd-medium";
}
.white_background {
  background-color: white;
}
.grey_background {
  background-color: rgb(240, 240, 240);
}
.custom_section {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 1440px;
  margin: auto;
}
.example {
  position: absolute;
}
.title {
  margin-bottom: 2rem;
}
.subtitle {
  margin-bottom: 2rem;
  text-align: center;
}