@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.footer-big-div{
    margin-top: 100px;
}
.footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

.privacy-section {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

.iclinicLogoDiv {
    display: flex;
    margin-bottom: 15px;
}

.iclinicLogo {
    width: 43px;
    height: 43px;
    margin: 0;
    padding: 0;
}

.iclinictext {
    font-size: 24px;
    padding-left: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.icons-div {
    margin-top: 25px;
}

.icons-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icons-ul li {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 18px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s linear;
}

.icons-ul li:last-child {
    margin-right: 0;
}

.icons-ul li .fa {
    position: absolute;
    color: #fff;
    font-size: 30px;
    transition: all 0.5s linear;
}

.icons-ul li:hover .fa {
    color: #77a5cb;
}

.iclinic-solutions {
    display: flex;
    justify-content: space-between;
}

.iclinic-solutions-lists {
    margin-right: 36px;
}

.footer-link {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-link-title {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
}
.footer-link-item {
    margin-bottom: 10px;
    text-align: right;
}
.footer-subtitles{
    font-size: 14px;
    color: var(--iclinic-blue-white);
}
.text-pptos{
    font-size: 10px;
    opacity: 0.8;
    color: var(--iclinic-blue-white);
}
@media only screen and (min-width: 768px) {
    .icons-ul li {
        width: 20px;
        height: 20px;
        margin-right: 18px;
    }
    .footer-link-title {
        font-size: 24px;
    }

    .iclinictext {
        font-size: 24px;
    }
    .footer-subtitles{
        font-size: 16px;
    }
    .text-pptos{
        font-size: 12px;
    }
}
@media only screen and (min-width: 1400px) {
    .iclinictext {
        font-size: 28px;
    }
}
.purple-text{
    color: #450159;
}