<footer class="footer-container">
  <div class="footer-div">
    <div class="address-section">
      <div class="iclinicLogoDiv" aria-expanded="false" role="button" routerLink="/" *ngIf="router.url !== '/'">
        <a class="text-light">
          <img src="./assets/images/aboutus/aiClinic.svg" alt=" " class="iclinicLogo" />
        </a>
        <p class="iclinictext text-light">iClinic</p>
      </div>
      <p class="footer-subtitles text-light">210 - 1122 Mainland Street</p>
      <p class="footer-subtitles text-light">Vancouver, BC&nbsp;&nbsp;V6B 5L1</p>
      <div class="d-flex icons-div">
        <ul class="icons-ul">
          <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>

    <!-- <div class="solutions-section">
      <p class="footer-link-title">Solutions</p>
      <div class="iclinic-solutions">
        <div class="iclinic-solutions-lists">
          <ul class="footer-link">
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic MD</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic AF</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic CR</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic CRw</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic HF</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic AC</a>
            </li>
          </ul>
        </div>
        <div class="iclinic-solutions-lists">
          <ul class="footer-link">
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic ONC</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic ICU</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic SC</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic SPC</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic WC</a>
            </li>
            <li class="footer-link-item">
              <a class="text-light text-decoration-none text-center" routerLink="/solutions">iClinic PN</a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->

    <div class="discover-section">
      <p class="footer-link-title">Discover</p>
      <ul class="footer-link">
        <li class="footer-link-item">
          <a class="footer-subtitles text-light text-decoration-none" routerLink="/aboutus">About us</a>
        </li>
        <li class="footer-link-item">
          <a class="footer-subtitles text-light text-decoration-none" routerLink="/ecosystem">Ecosystem</a>
        </li>
        <li class="footer-link-item">
          <a class="footer-subtitles text-light text-decoration-none" routerLink="/support">Support</a>
        </li>
        <li class="footer-link-item">
          <a class="footer-subtitles text-light text-decoration-none" routerLink="/resources">Resources</a>
        </li>
        <li class="footer-link-item text-right">
          <a class="footer-subtitles text-light text-decoration-none" routerLink="/connect">Connect</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<div class="d-flex justify-content-between privacy-section ">

  <div>
    <p class="text-pptos text-light">© {{ currentYear }} iClinic Systems Inc.</p>
  </div>
  <div class="d-flex justify-content-end">
    <a class="text-pptos text-light text-decoration-none" type="button" routerLink="/privacy">
      Privacy Policy
    </a>
    <a class="text-pptos text-light text-decoration-none" type="button" routerLink="/termsofservice">&nbsp;&nbsp;Terms of Use
    </a>
  </div>

</div>
<!-- <app-modal
  [id]="privacyId"
  [title]="privacyTitle"
  [content]="privacyContent"
></app-modal>
<app-modal
  [id]="termsId"
  [title]="termsTitle"
  [content]="termsContent"
></app-modal> -->