<div class="footer-big-div">
  <footer class="footer-container">
    <div class="footer-div">
      <div class="address-section">
        <div class="iclinicLogoDiv" aria-expanded="false" role="button" routerLink="/">
          <a>
            <img [src]="this.themeIconChange()" alt=" " class="iclinicLogo" />
          </a>
          <p class="iclinictext custom-nav-link ">iClinic</p>
        </div>
        <!-- <p class="footer-subtitles custom-nav-link ">210 - 1122 Mainland Street</p>
        <p class="footer-subtitles custom-nav-link ">Vancouver, BC&nbsp;&nbsp;V6B 5L1</p> -->
        <div class="d-flex icons-div">
          <ul class="icons-ul">
            <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
            <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>
      <div class="discover-section">
        <ul class="footer-link">
          <li class="footer-link-item">
            <a class="footer-subtitles text-decoration-none custom-nav-link " routerLink="/aboutus">About Us</a>
          </li>
          <li class="footer-link-item">
            <a class="footer-subtitles text-decoration-none custom-nav-link " routerLink="/solutions">Solutions</a>
          </li>
          <li class="footer-link-item">
            <a class="footer-subtitles text-decoration-none custom-nav-link " routerLink="/ecosystem">Ecosystem</a>
          </li>
          <li class="footer-link-item text-right">
            <a class="footer-subtitles text-decoration-none custom-nav-link " routerLink="/connect">Connect with Us</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <div class="d-flex justify-content-between privacy-section">
    <div>
      <p class="text-pptos custom-nav-link ">© {{ currentYear }} iClinic Systems Inc.</p>
    </div>
    <div class="d-flex justify-content-end">
      <a class="text-pptos text-decoration-none custom-nav-link " type="button" routerLink="/privacy">
        Privacy Policy
      </a>
      <a class="text-pptos text-decoration-none custom-nav-link " type="button"
        routerLink="/termsofservice">&nbsp;&nbsp;Terms of
        Use
      </a>
    </div>
  </div>

</div>