.navbar-custom {
  z-index: 100;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-top: 1.5vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1.5vh;
  backdrop-filter: blur(8px);
}

.navbar-brand {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon-home:focus,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span,
.navbar-toggler-icon-home span {
  margin: 0;
  padding: 0;
}

.navbar-inner-custom {
  opacity: 0.8;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #212121;
}

.toggler-icon,
.toggler-icon-home {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.aiclinicLogoDiv {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.iclinicLogo {
  width: 42px;
  margin: 0;
  padding: 0;
  fill:black;
}
.aiclinicLogo {
  width: 20%;
  margin: 0;
  padding: 0;
}


.aiclinictext {
  font-size: 2rem;
  padding-left: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.iclinictext {
  font-size: 2rem;
  padding-left: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.middle-bar {
  margin-top: #121212;
}

/* State when the navbar is collapsed */
.open {
  background-color: #fff;
  transition: 0.5s ease-in-out;
}

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background-image: linear-gradient(90deg, rgba(105, 180, 250, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(105, 180, 250, 1) 75%);
}

.navbar-toggler.collapsed .toggler-icon-home {
  background-image: linear-gradient(90deg, rgba(50, 38, 150, 1) 25%, rgba(222, 255, 255, 1) 50%, rgba(50, 38, 150, 1) 75%);
}

.right-nav-div {
  display: flex;
  align-items: center;
}

.language-icon {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

@media only screen and (min-width: 1300px) {
  .navbar-custom {
    padding-left: 0%;
    padding-right: 0%;
  }
}