<nav class="navbar navbar-custom bg-transparent fixed-top" [ngClass]="clicked ? 'open' : 'closed'">
  <div class="w-100 d-flex bd-highlight justify-content-between">
    <div class="bd-highlight my-auto">
      <div class="aiclinicLogoDiv" role="button" routerLink="/home" *ngIf="router.url !== '/home'">
        <a class="navbar-brand text-light">
          <img src="./assets/images/aboutus/aiClinic.svg" alt=" " class="iclinicLogo" />
        </a>
        <p class="iclinictext text-light">iClinic</p>
      </div>
      <div class="aiclinicLogoDiv" role="button" routerLink="/home" *ngIf="router.url === '/home'">
        <a class="navbar-brand text-light">
          <!-- <img src="./assets/images/aboutus/aiClinic-test.png" alt=" " class="aiclinicLogo" /> -->
          <img src="./assets/images/aboutus/aiClinic.svg" alt=" " class="iclinicLogo" /> 
          <!-- <img src="./assets/images/aboutus/aiClinic-test3.png" alt=" " class="aiclinicLogo" /> -->
        </a>
        <p class="iclinictext text-light">aiClinic</p>
      </div>
    </div>
    <div class="right-nav-div ms-auto">
      <div class="p-2 bd-higlight">
        <button class="btn btn-dark text-light text-nowrap" type="button" data-bs-toggle="modal"
          data-bs-target="#bookDemo">Book
          Demo</button>
      </div>
      <div class="bd-higlight icon-div">
        <mat-icon class="text-light language-icon" aria-hidden="false">language</mat-icon>
      </div>
      <div class="p-2 mb-1 bd-highlight">
        <button class="navbar-toggler collapsed align-middle" (click)="changeBackground()" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="toggler-icon-home top-bar" *ngIf="router.url === '/home'"></span>
          <span class="toggler-icon-home middle-bar" *ngIf="router.url === '/home'"></span>
          <span class="toggler-icon-home bottom-bar" *ngIf="router.url === '/home'"></span>

          <span class="toggler-icon top-bar" *ngIf="router.url !== '/home'"></span>
          <span class="toggler-icon middle-bar" *ngIf="router.url !== '/home'"></span>
          <span class="toggler-icon bottom-bar" *ngIf="router.url !== '/home'"></span>
        </button>


      </div>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-inner-custom">
      <li class="nav-item">
        <a class="nav-link text-center text-light" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="changeBackground()"
          routerLink="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center text-light" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="changeBackground()"
          routerLink="/solutions">Solutions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center text-light" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="changeBackground()"
          routerLink="/ecosystem">Ecosystem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center text-light" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="changeBackground()"
          routerLink="/support">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center text-light" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="changeBackground()"
          routerLink="/resources">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center text-light" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="changeBackground()"
          routerLink="/connect">Connect With Us</a>
      </li>
    </ul>
  </div>
  <!-- </div> -->
</nav>
<app-modal [id]="bookDemoId" [title]="bookDemoTitle" [formCheck]="true" [modalSize]="bookDemoModalSize"></app-modal>