@font-face {
  font-family: "manrope-semibold";
  src: url("/src/assets/fonts/webfonts/manrope/Manrope-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "manrope-regular";
  src: url("/src/assets/fonts/webfonts/manrope/Manrope-Regular.ttf") format("truetype");
}