@font-face {
  font-family: "ITC Avant Garde Gothic Std Extra Light";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Extra Light"),
    url("/src/assets/fonts/ITCAvantGardeStdXLt.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Extra Light Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Extra Light Condensed"),
    url("/src/assets/fonts/ITCAvantGardeStdXLtCn.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Extra Light Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Extra Light Condensed Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdXLtCnObl.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Extra Light Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Extra Light Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdXLtObl.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Book";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Book"),
    url("/src/assets/fonts/ITCAvantGardeStdBk.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Book Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Book Condensed"),
    url("/src/assets/fonts/ITCAvantGardeStdBkCn.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Book Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Book Condensed Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdBkCnObl.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Book Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Book Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdBkObl.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Medium";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Medium"),
    url("/src/assets/fonts/ITCAvantGardeStdMd.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Medium Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Medium Condensed"),
    url("/src/assets/fonts/ITCAvantGardeStdMdCn.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Medium Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Medium Condensed Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdMdCnObl.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Medium Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Medium Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdMdObl.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Demi"),
    url("/src/assets/fonts/ITCAvantGardeStdDemi.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Demi Condensed"),
    url("/src/assets/fonts/ITCAvantGardeStdDemiCn.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Demi Condensed Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdDemiCnObl.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Demi Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdDemiObl.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Bold";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Bold"),
    url("/src/assets/fonts/ITCAvantGardeStdBold.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Bold Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Bold Condensed"),
    url("/src/assets/fonts/ITCAvantGardeStdBoldCn.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Bold Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Bold Condensed Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdBoldCnObl.woff") format("woff");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Bold Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Bold Oblique"),
    url("/src/assets/fonts/ITCAvantGardeStdBoldObl.woff") format("woff");
}
