<div class="background-regular">
  <div class="privacy-policy-div">
    <h1 class="text-light privacy-title">PRIVACY POLICY</h1>
    <h2 class="text-light">Introduction</h2>
    <div>
      <p class="text-light description">
        This Privacy Policy governs iClinic Systems Inc.’s (the
        <strong>“Company”</strong>, <strong>“we”</strong> or
        <strong>“us”</strong>) collection, use and disclosure of Personal
        Information. In compliance with Canadian provincial and federal personal
        information and personal health information protection legislation, and
        other applicable legislation, this Privacy Policy is designed to provide
        transparency regarding our privacy practices with respect to the use and
        disclosure of the Personal Information we collect from you when you use
        any of our platforms, solutions and applications and related services
        (the<strong>“Services”</strong> ) as defined in the Terms of Use available
        by clicking
        <span role="button" routerLink="/termsofservice"><strong>here</strong></span>
        (the <span>“Terms”</span>). <br /><br />Please read this Privacy Policy
        carefully. By using the Services, you consent to the collection, use and
        disclosure of Personal Information in accordance with the terms of this
        Privacy Policy. If you do not want us to collect, use or disclose your
        Personal Information in the ways identified in this Privacy Policy, you
        should not use the Services. <br /><br />We may amend this Privacy Policy
        from time to time and will post any changes to this Privacy Policy. Please
        refer back to this Privacy Policy on a regular basis. Your continued use
        of the Services following the posting of changes to this Privacy Policy
        will signify your acceptance of those changes.
      </p>
    </div>
    <div class="expandOrCollapse-div text-light">
      <button mat-button (click)="accordion.openAll()" class="btn text-light">
        Expand All
      </button>
      <span class="expandOrCollapse-divider">|</span>
      <button mat-button (click)="accordion.closeAll()" class="btn text-light">
        Colalpse All
      </button>
    </div>
    <div class="collapsibles-div text-light">
      <mat-accordion multi>
        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Personal Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            <strong>“Personal Information”</strong> is information about an
            identifiable individual and includes but is not limited to contact
            information such as email address and phone number, personal health
            information, name, age and gender. To the extent that this information
            is collected or provided through the Services and can be used to
            identify an individual, we will treat it as Personal Information in
            accordance with this Privacy Policy.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Collection of Personal Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            When using the Services, you will be asked to provide certain Personal
            Information including age, gender, allergies, medical history,
            description of symptoms, summary of problem and images (the
            <strong>“Services Information”</strong>). We will use this Personal
            Information to provide you with the services, products and
            functionalities for which you sign up, to improve our products and
            services, and only if you consent, for research purposes in limited
            circumstances and to send you information on our products or services
            that may be of interest to you.<br /><br />We may also collect and use
            your Personal Information for other purposes, with your consent.
            Unless the purposes for collecting Personal Information are obvious
            and you voluntarily provide your Personal Information for those
            purposes.<br /><br />You may refuse to supply Personal Information but
            be aware that this can prevent you from engaging in certain activities
            in relation to the Services.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Information Sharing
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            We may remove personal identifiers from your information and maintain
            and use it in a de-identified form that may be combined with other
            information to generate aggregated information. Other information
            includes but is not limited to technical information about the device,
            system and application software and peripherals. We will ask for your
            consent before sharing this de-identified information with a third
            party, such as for research purposes. We may use this de-identified
            information for any purpose internally, especially to improve our
            products and services and perform statistical analyses and generate
            data related to how users use our Services.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Other Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            Personal Information is only shared through the Services with
            organization(s) of your choice, by accepting an invitation from an
            organization, using an organization’s registration code, or signing up
            in any similar way through the Services. An organization could be a
            doctor’s office, hospital, your employer, a business you are visiting,
            etc. Your Personal Information will not be shared with any other
            organization via the Services without your consent, approval or sign
            up. We make every effort to ensure that any receiving organization
            receives only the information it is legally entitled to. Once in
            receipt of your information, the receiving organization is solely
            responsible for ensuring your Personal Information is available to the
            appropriate people within their organization.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title"> Consent </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            By giving us Personal Information when you use our Services, you
            consent to your information being collected, used, disclosed and
            stored by us, only as described in this Privacy Policy.<br /><br />At
            any time and without penalty, you can withdraw your consent to the use
            and disclosure of your information and delete your account. To delete
            your account, send an email to help@iclinicemr.com. We will let you
            know by email within 15 business days when your account has been
            removed.<br /><br />You may also withdraw your consent to the use of
            your Personal Information for research purposes only (without deleting
            your account). This can be done at any time by sending an email to
            help@iclinicemr.com.<br /><br />We may also collect, use and/or
            disclose Personal Information for other purposes with your consent, or
            to the extent necessary for the purposes of meeting relevant
            regulatory, legal, insurance, audit, security and processing
            requirements, or to the extent permitted or required by applicable
            law.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Using and Disclosing Personal Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            We will use your Personal Information for the purposes described
            above. We may also use Personal Information to:<br /><br />
            <span>
              <ul>
                <li class="list-unstyled">
                  (a) assist you with technical support issues. Most technical
                  issues can be resolved without our support team viewing your
                  Personal Information.
                </li>
                <br />
                <li class="list-unstyled">
                  (b) comply with any laws, regulations, court orders, subpoenas,
                  or other legal process or investigation and to protect ourselves
                  and other individuals from harm.
                </li>
              </ul>
            </span>
            With your consent, the Services Information may be disclosed to a
            third party for the purposes identified in this Privacy Policy or for
            a purpose reasonably related to those purposes.<br /><br />We may
            disclose your information to other third parties in relation to a
            merger, acquisition, or any form of sale of some or all of our assets
            or business. Your information may be provided to the entities and
            advisors involved, for the purposes of determining whether to proceed
            with the transaction and, where applicable, to conclude the
            transaction. Your information may be transferred to a successor
            business as part of the process of assigning all or part of our assets
            to the successor business. The successor business may use and disclose
            the information for the purposes described in this Privacy Policy.<br /><br />We
            will not use or disclose your Personal Information for any additional
            purpose unless we obtain your consent to do so.<br /><br />We do not
            sell your Personal Information.<br /><br /><strong>With your consent, your Personal Information may be
              disclosed to a
              third party for the purposes identified in this Privacy
              Policy.</strong>
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Retaining Personal Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            If we use Personal Information to make a decision that directly
            affects you, we will retain that Personal Information for at least one
            year after making that decision so that you have a reasonable
            opportunity to request access to it.<br /><br />Subject to the above,
            we will retain Personal Information only as long as necessary to
            fulfill the identified purposes or as permitted or required by law.
            Because one purpose is to assist you with the management of your
            Personal Information, including the personal health information that
            you provide when using our Services, we will keep your Personal
            Information until you delete your account or let us know that you no
            longer require our assistance.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Ensuring Accuracy of Personal information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            We rely on you to ensure that the Personal Information you provide
            while using the Services or a related Service is accurate, complete
            and up-to-date. You are welcome to make changes, request deletion or
            corrections to Personal Information at any time by updating your
            settings or by contacting us at help@iclinicemr.com.<br /><br />We
            maintain appropriate storage and processing practices and security
            measures to protect your Personal Information from unauthorized
            access, collection, use, disclosure, copying, modification or disposal
            or destruction. We train our team to follow privacy and security
            practices.<br /><br />Using contracts, we ensure that any third party
            acting on our behalf in respect of your Personal Information maintains
            reasonable and appropriate safeguards.<br /><br />We will use
            appropriate security measures when destroying Personal Information
            such as deleting electronically stored information.<br /><br />We will
            review and update our security policies and controls as technology
            changes to ensure ongoing Personal Information security. However,
            please bear in mind that no internet or email transmission is ever
            fully secure or error free and no security system is impenetrable. We
            cannot fully guarantee the confidentiality of any information that you
            share with us.<br /><br />It is important to guard your privacy when
            you are online. If our Services contain links to other websites, this
            Privacy Policy does not govern those websites. Whether we have posted
            those links or other organizations or individuals have, you should
            read their privacy policies and make an informed decision about
            whether you want to use those websites or their services.<br /><br />
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Location of Services
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            While your personal health information is stored securely in Canada,
            we make use of the third party applications for specific functions
            that enable or support our Services.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Individual Access
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            You may request access to, make corrections to, or delete the Personal
            Information we hold about you at any time, subject to limited
            exceptions. Upon written request, we will also provide you with a list
            of individuals or entities (e.g. third party service providers) to
            whom we have disclosed your Personal Information, if applicable.
            Please contact us at help@iclinicemr.com for additional information.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Changes to this Privacy Policy
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            We may update this notice to reflect changes to our information
            practices. We will post any changes to this page including the Last
            Updated Date and, if the changes are significant, we will provide a
            more prominent notice (including email notification if appropriate).
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="collapsible-individual-div">
          <mat-expansion-panel-header class="collapsible-div">
            <mat-panel-title class="collapsible-title">
              Contacting Us
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="collapsible-content">
            We encourage you to periodically review our Privacy Policy for the
            latest information on our privacy practices and to contact us if you
            have any questions or concerns at help@iclinicemr.com.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <p class="text-light">
      Last updated:&nbsp;<strong>September 25, 2022</strong>
    </p>
  </div>

  <app-footer></app-footer>
</div>