.privacy-policy-div {
    max-width: 1300px;
    width: 90%;
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.privacy-title {
    margin-bottom: 60px;
}

.description {
    font-size: 16px;
    text-align: justify;
}

.expandOrCollapse-div {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.expandOrCollapse-divider {
    margin-top: auto;
    margin-bottom: auto;
}
.collapsible-individual-div {
    padding-left: 15px 10px;
    box-shadow: var(--box-shadow);
    margin-bottom: 24px;
}

.collapsible-title {
    padding-top: 16px;
    padding-bottom: 16px;
    /* padding-left: 24px; */
}

.collapsible-content {
    text-align: justify;
    font-size: 1em;
    line-height: 1.6;
}