<div class="termsofservice-div">
    <h1 class="text-light privacy-title">TERMS OF SERVICE</h1>
    <h2 class="text-light">Introduction</h2>
    <div>
        <p class="text-light description">IClinic Systems Inc. (<strong>“iClinic”</strong>, <strong>“we”</strong> and/or
            <strong>“our”</strong>) is an ehealth
            technology company that
            provides services
            for both healthcare providers and patients across Canada through several software applications (the
            <strong>“Solutions”</strong>). 
            <br><br>
            At iClinic, we understand the responsibility that comes along with providing healthcare technology and so
            have built in privacy protections with our users in mind.  We have developed this Privacy Policy (the
            <strong>“Policy”</strong>) to help explain the privacy features of our Solutions as well as the websites we
            operate
            including: www.aiClinic.ca and www.iClinicemr.com (the <b>“Sites”</b>). 
            <br><br>
            This Policy describes how we help healthcare professionals manage and protect the privacy of personal
            information through the Solutions.  The Policy also describes how we collect, use, disclose and protect your
            personal information when you interact or use the Sites, and/or if you use any of our products, applications
            (including the Solutions), or any other services made available through or in relation to the Sites and the
            Solutions (the <strong>“Services”</strong>). 
            <br><br>
            Please click on any of the headings below to find out more about the privacy features of our Solutions or
            how we protect personal information in the provision of our Services. 
        </p>
    </div>
    <div class="expandOrCollapse-div text-light">
        <button mat-button (click)="accordion.openAll()" class="btn text-light">Expand All</button>
        <span class="expandOrCollapse-divider">|</span>
        <button mat-button (click)="accordion.closeAll()" class="btn text-light">Colalpse All</button>
    </div>
    <div class="collapsibles-div text-light">

        <mat-accordion multi>
            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        Accountability
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">In adopting and adhering to this Policy, we assure you that the
                    personal information we collect will be used in an appropriate and responsible manner.  iClinic
                    is committed to protecting the privacy of all personal information which has been provided to us
                    and we will manage personal information in accordance with applicable Canadian privacy
                    legislation and any other applicable provincial or federal legislation.</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        What is Personal Information and Personal Health Information?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">In this Policy, “personal information” means information about an
                    identifiable individual, including personal health information about that individual.  “Personal
                    health information” means identifying information that relates to an individual’s health,
                    including diagnostic, treatment and care information, and information like the individual’s
                    personal health number. </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        What Solutions Does iClinic Offer?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">iClinic provides software and hosting solutions to help enable
                    healthcare professionals manage their practice, so individuals can better access healthcare, and
                    for both to be able to access and share information with each other, including personal
                    information. 

                    The personal information collected, used and disclosed through these Solutions is typically
                    managed by healthcare professionals and their staff in the course of providing health care
                    services to patients, or it may be provided directly by an individual in the course of using the
                    Solution.  In these circumstances, we will be assisting the health care provider and/or
                    individual by providing the software and data hosting to enable the health care provider and
                    individual to use the Solution. 

                    Some solutions or certain features are provided on the basis of a paid subscription. We engage
                    specialized payment processing service providers to assist us as described in the Payment
                    Processing section below. </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        What Personal Information Do We Collect and Use and Why?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">iClinic provides software solutions for healthcare providers and
                    patients. In the course of using our Solutions, healthcare providers will collect, use and/or
                    disclose personal information about their patients, including personal health information.

                    In the provision of our Solutions, iClinic manages (and in some cases hosts) personal
                    information on behalf of healthcare providers, who remain the custodians of that personal health
                    information.

                    This Policy is not about the collection, use, and/or disclosure of personal information by
                    healthcare providers. If you would like to know more about how your healthcare provider handles
                    your personal information, you should ask them about their policies and practices.</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        Personal Information Collected by Healthcare Providers Using the Solutions
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">iClinic’s Solutions provide healthcare providers with a platform to
                    collect, use, process, store, and disclose patients’ personal information. Below, we have
                    described what types of personal information are collected by healthcare providers (including
                    physicians, pharmacists and their administrative staff) using iClinic Solutions.

                    name

                    address

                    contact information, including phone number and e-mail address

                    demographic information, such as languages spoken, occupation, age, gender, and dependent
                    information

                    personal health number

                    personal health information, including:

                    visits to your healthcare provider (e.g. date of service, healthcare provider, visit type, visit
                    reason, referring provider, payment information); and

                    health information recorded by health care providers and their staff in the course of providing
                    treatment (e.g. conditions, diagnoses, medications, diagnostic imaging, lab observations,
                    immunizations, treatments, referrals, clinical observations, surgical history and
                    consultations).

                    iClinic also uses third party partners to provide additional functionality to our Solutions.</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        What Personal Information Do We Collect and Use and Why?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">iClinic also collects personal information from and about individuals
                    in a variety of ways, including: when it is provided directly; and when individuals interact
                    with us and use the Sites, Solutions, and/or the Services. 

                    We use personal information to provide our products, Services and Solutions, to manage our
                    business relationship, to communicate offers and information, to measure the effectiveness our
                    Services, including marketing and promotions about our Services, and as permitted or required by
                    law.

                    Personal Information ICLINIC Collects From Our Healthcare Provider Clients

                    iClinic collects certain personal information from our clients and their staff in the course of
                    managing our business relationship. For example, we collect the names and authentication
                    information of our clients’ staff so they have unique log in credentials to use the Solutions in
                    accordance with our License and Services Agreements with clients. For user verification and
                    security purposes, we also collect information like IP address and browser type for use in
                    conjunction with authentication information. We also collect personal information about our
                    clients’ staff when providing them with Services like training or support on our Solutions.

                    We collect information that you provide directly to iClinic, over the telephone, by e-mail, as
                    well as through the use of the Sites and the Solutions. This includes your contact information,
                    account and profile information associated with the Solutions, limited personal health
                    information, appointment information, feedback, ratings, reviews, job application information,
                    social media information, and call centre information. Click on the headings below to learn more
                    about the purposes for collecting this information.

                    Generally, iClinic will collect personal information directly from the person to whom the
                    personal information relates.  However, given the nature of the Solutions, iClinic will
                    sometimes receive personal information about you from your healthcare provider.

                    All users of our Solutions, including healthcare providers and their administrative staff, must
                    have a unique login to access and use iClinic Solutions.  As a result, iClinic clients will
                    provide iClinic with the certain identifying information to enable iClinic to set up and manage
                    accounts and user profiles for client staff to access and use the Solutions.

                    To set up a healthcare provider with iClinic Solutions, the healthcare provider may provide
                    iClinic with a copy of their patient database to be imported into the iClinic Solution.  This
                    will include all personal information in their patient files which the provider wants to
                    digitize in the solution. 

                    iClinic may also receive personal information about you from a client when a client initiates a
                    request for service or support.  To provide this service, we may require access to an electronic
                    file or data set, which may include your personal information.

                    If you have concerns about personal information that has been provided to iClinic by your
                    employer or your healthcare provider, you should address that concern directly with your
                    employer/healthcare provider.  iClinic will reasonably assist its clients in answering questions
                    that individual users may have about their accounts.

                    iClinic uses various technologies which automatically collect certain information.  These
                    technologies include cookies and analytics technology.  The information we collect includes
                    device, technical and usage information, geolocation information, and video call and messaging
                    information. Review the sections below to learn more about each type of automatic collection of
                    information by iClinic.

                    In addition to the purposes listed above, in general, iClinic may also use the personal
                    information we collect about you to:

                    conduct data analysis, testing, and monitor and analyze usage and activity trends;

                    ensure compliance with and identify violations of the applicable Terms of Service;

                    enforce our rights arising from any contracts between you and us;

                    enforce billing and collections;

                    identify and prevent fraudulent activity and to protect security of the Sites and Solutions;

                    meet legal and regulatory requirements; and

                    facilitate such other services and activities, as we may identify to you at the time.

                    iClinic will only use your personal information for the purpose for which it was originally
                    collected, or for a use consistent with that purpose, unless you expressly consent or it is
                    permitted or required by law. </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        Getting Your Consent
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">There are various ways you may consent to the collection, use and
                    disclosure of your personal information processed through our Solutions on behalf of your
                    healthcare provider and the Services provided by iClinic.

                    Typically, you will voluntarily give information to your healthcare provider or will otherwise
                    provide your consent to them. You should raise any questions you have about consent you have
                    given your healthcare provider directly with them.

                    As described above, there are some instances in which individuals provide personal information
                    to iClinic. If you install any of the Solutions, enter into a License and Services Agreement,
                    create an account to use one of our Solutions, or use the Sites, Solutions or Services, you
                    acknowledge the notices in this Policy and you consent to iClinic’s collection, use, disclosure,
                    and retention of your personal information in accordance with this Policy and as otherwise
                    permitted by law. You may withdraw your consent at any time by giving ICLINIC reasonable notice,
                    but consent may not be withdrawn where doing so would frustrate performance of a legal
                    obligation.

                    In some cases, iClinic may seek your consent for the use and disclosure of your personal
                    information after it has been collected, but before it has been used or disclosed (e.g. where we
                    want to use your personal information for a purpose not previously identified to you). We will
                    not use or disclose your personal information for any new purpose without first identifying the
                    new purpose and providing notice to you or obtaining your consent (as applicable), unless
                    otherwise permitted by law. You can always choose not to provide iClinic with certain requested
                    personal information, but then you may not be able to access or utilize all or part of the
                    Sites, the Solutions and/or the Services. </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        What Personal Information Do We Collect and Use and Why?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">iClinic provides software solutions for healthcare providers and
                    patients. In the course of using our Solutions, healthcare providers will collect, use and/or
                    disclose personal information about their patients, including personal health information.

                    In the provision of our Solutions, iClinic manages (and in some cases hosts) personal
                    information on behalf of healthcare providers, who remain the custodians of that personal health
                    information.

                    This Policy is not about the collection, use, and/or disclosure of personal information by
                    healthcare providers. If you would like to know more about how your healthcare provider handles
                    your personal information, you should ask them about their policies and practices.</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        How Do We Share Personal Information with Partners and Service Providers?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">We may share your personal information within our group of companies,
                    or with our service providers and other third parties for the purposes described below and in
                    accordance with applicable laws. 

                    iClinic does not share any of your health information with any advertisers or related
                    companies.  Except as described in this Policy or in other situations where we have provided you
                    with prior notice, have obtained your consent, or are obligated or permitted by law, ICLINIC
                    will not share your personal information with third parties.  Please note that third party
                    companies are not governed by this Policy and may have their own privacy policies and practices
                    regarding personal information.  

                    We will generally only share aggregate usage and similar information with our parent company, or
                    our wholly-owned subsidiary, where available.  In limited circumstances, such as to assist with
                    a legal or regulatory matter, iClinic may share certain personal information to assist us.

                    iClinic’s Solutions support the use of several integrated third party patient management modules
                    such as appointment reminders, transcription, dictation, patient messaging, online booking,
                    video conferencing, and e-prescribing.  These add-on tools are offered by third parties that
                    integrate with the Solutions, to optimize their performance and utility. 


                    If your healthcare provider uses any of these tools when using iClinic’s Solutions, these
                    partners may receive personal information about you.

                    iClinic’s Solutions allow for third party healthcare providers and provincial services to
                    exchange personal information between health care providers and the vendors. For example,
                    laboratory vendors such as Life Labs, can transmit your electronic lab results to healthcare
                    providers who use iClinic Solutions and healthcare providers can transmit billing information
                    through provincial claims services such as Teleplan.

                    The third-party service providers will have access to personal information needed to perform
                    their functions, but are only provided the limited amount of information required to perform
                    their services. When iClinic uses third party service providers, it requires the providers to
                    protect your personal information in accordance with the law and with appropriate safeguards for
                    the protection of the personal information. Any such sharing of your personal information by
                    iClinic to a third-party service provider will be conditional upon the information being used
                    solely for the purpose for which it has been shared.

                    iClinic may decide to sell or transfer all or part of our business to a related company or to a
                    third party, to merge with another entity, to insure or securitize its assets, or to engage in
                    another form of corporate or financing transaction (including transfers made as part of
                    insolvency or bankruptcy proceedings or as part of a corporate reorganization or stock sale or
                    other change in corporate control). iClinicC may share your personal information in connection
                    with the evaluation of and/or entry into such transactions.

                    iClinic may also disclose your personal information where authorized or required by law.  For
                    example, we may disclose your personal information to comply with a subpoena, in response to a
                    law enforcement body with the lawful authority to obtain the information, pursuant to an
                    investigation into the breach of a law, or to our legal counsel. </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        What Personal Information Do We Collect and Use and Why?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">iClinic provides software solutions for healthcare providers and
                    patients. In the course of using our Solutions, healthcare providers will collect, use and/or
                    disclose personal information about their patients, including personal health information.

                    In the provision of our Solutions, iClinic manages (and in some cases hosts) personal
                    information on behalf of healthcare providers, who remain the custodians of that personal health
                    information.

                    This Policy is not about the collection, use, and/or disclosure of personal information by
                    healthcare providers. If you would like to know more about how your healthcare provider handles
                    your personal information, you should ask them about their policies and practices.</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        What Choices Do You Have About How We Use and Share Your Personal Information?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">We want you to understand your choices and make informed decisions
                    about how we use and disclose your personal information.  There are several options available
                    for you to manage your privacy preferences including, for example by managing your preferences
                    within your account(s), contacting iClinic directly, changing your browser or device settings,
                    and/or by contacting third parties. 

                    If you provide us with your e-mail address and “opt-in” to receiving messages from us via the
                    e-mail address provided, you may receive electronic communications from us from time to time. 
                    These electronic communications will provide you with our contact information and a method to
                    opt-out and unsubscribe from receiving marketing information and/or any further communications
                    from us.  You can opt-out of receiving these types of communications by updating your email
                    preferences or clicking the unsubscribe link directly within the emails

                    iClinic may use your e-mail address to communicate with you regarding important matters, such as
                    information about your account with one of our Solutions.  You may not opt-out of receiving
                    communications required by law, or necessary to provide you with requested services.  

                    You can disable cookies by adjusting the settings on your internet browser.  Disabling cookies
                    may affect your ability to access some pages on the Sites and some parts of the Solutions may
                    not be accessible or may not function properly. 

                    We do not share personal health information.  We also do not share your personal information
                    with unaffiliated third parties for marketing or promotional purposes.

                    We do not control third parties’ collection or use of your information to serve advertising.
                     These third parties may provide you with additional choices about how they use your information
                    or ways to choose not to have your information collected or used in this way.  You can opt out
                    of several third party ad servers’ and networks’ cookies by using one of the tools created by
                    the Digital Advertising Alliance of Canada.</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        How Do We Secure Your Personal Information?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">The security of personal information in our care is important to us. 

                    We have built security features into our Solutions to help healthcare professionals protect your
                    personal health information when they are using the Solutions.  Some of these features include
                    access controls, unique user accounts, multi-factor authentication, threat detection, and active
                    logging.

                    iClinic takes precautions to help safeguard personal information we manage through the Solutions
                    or is otherwise provided to us.  We have made security arrangements to protect against
                    unauthorized access, collection, use, disclosure, and disposal of personal information, in a
                    manner appropriate to the sensitivity of the information.  These measures include various
                    administrative and technological safeguards including unique user accounts, and role-based
                    access based on need to know.  We also use security practices to protect our systems, which
                    include but are not limited to regular monitoring of our systems for possible vulnerabilities
                    and attacks, proactive penetration tests, encryption of data in transit and at rest, active
                    logging, and employing intrusion detection and prevention systems.  We also take steps to ensure
                    that our third party service providers provide similar or better privacy and security for the
                    personal information they process for us.   

                    As well, iClinic will use care when destroying or disposing of personal information to prevent
                    unauthorized access, use or disclosure of any personal information.  iClinic’s employees with
                    access to personal information are required to respect the confidentiality of such information.

                    The safety and security of your personal information also depends on you.  iClinic is not
                    responsible for any lost, stolen, or compromised usernames, passwords or for any activity on
                    your account via unauthorized password activity.  You should take steps to protect against
                    unauthorized access to your account by, for example, choosing a robust password and keeping your
                    username and password private.  iClinic is not responsible for any failure by you to secure your
                    own devices and their access to the Internet or your use of public, unsecured networks.  The
                    Sites and Solutions may include links to external websites.  Once you leave the Sites or the
                    Solutions, this Policy does not apply.  iClinic is not responsible for the privacy practices,
                    collection of personal information, or content of external websites. 

                    Unfortunately, information systems, the transmission of information via the Internet and mobile
                    platforms are not completely secure.  Although we have designed features and employed security
                    techniques to protect your personal information, we cannot guarantee the security of personal
                    information at all times.  Any transmission of your personal information is at your own risk.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        Where do we Store Data?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">iClinic EMR is only hosted on datacentres located in Canada and
                    personal health information is always stored in Canada. 

                    If you have any questions about iClinic’s policies and practices with respect to service
                    providers outside of Canada, including its collection, use, disclosure, and storage of personal
                    information, you can contact the iClinic Privacy Officer at the details listed in the Questions
                    and Concerns section of this Policy below.</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        Data Retention
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">Most of the data that iClinic manages is on behalf of health care
                    providers and individuals through use of the Solutions.  As described above, we also collect
                    some personal information for use by iClinic. 

                    Personal information that is collected by your healthcare provider, including your personal
                    health information, is the responsibility of the healthcare provider, being the custodian of
                    that information.  Your personal information associated with your relationship with that
                    custodian will be subject to the retention policies and practices of the custodian. 

                    Personal information collected by iClinic for its use directly is maintained in accordance with
                    applicable privacy legislation and iClinic’s retention policies and practices.  Generally,
                    iClinic stores your personal information for as long as it is reasonably necessary to fulfill
                    the purposes we collected it for, except as otherwise permitted or required by applicable law or
                    regulation. 

                    For clients who have purchased iClinic-hosted Solutions, iClinic backs up client data and
                    retains those backups for approximately 30 days.  Data imports from health care providers may be
                    retained for six months for data integrity confirmation purposes.  

                    When the applicable retention period ends, personal information is scheduled for destruction
                    according to our record retention policies.  Where the personal information is stored in an
                    electronic format, it will be deleted from the Solution or systems in which it is retained.  Any
                    backups of the personal information will exist until rotated out of the backup archives.
                     Physical storage which is retired is put through a deep data wipe, degaussing and/or physical
                    destruction designed to ensure there is no risk of personal information being recovered.  

                    Under some circumstances we may anonymize or aggregate your personal information so that it can
                    no longer be associated with you.  We reserve the right to use such anonymous and de-identified
                    data for any legitimate business purpose without further notice to you or your consent.</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        How Can You Correct and Access Your Personal Information?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">You can challenge the accuracy and completeness of your personal
                    information.  It may be most appropriate for you to raise this with your healthcare provider who
                    maintains your healthcare record. 

                    If you want to access or correct personal information in your medical file, including personal
                    information stored in a Solution on behalf of your healthcare provider, you should make the
                    request directly to your healthcare services provider.  It is your responsibility to provide any
                    updates to your personal information to your healthcare provider as appropriate.  

                    If you have an account with one of our Solutions, all personal information in your account and
                    user profile is accessible by you.  You can make changes to certain personal information that
                    iClinic holds about you, such as your contact information, by editing the information in your
                    account.  You are responsible for keeping the personal information in your account up to date
                    and accurate. 

                    In appropriate circumstances, iClinic will amend personal information.  It is your
                    responsibility to provide any updates to your personal information to iClinic in writing, as
                    applicable. 

                    You may request access to your personal information and/or correction of that information by
                    contacting iClinic in writing at the contact information noted below, with sufficient detail to
                    enable iClinic to identify the personal information being sought.  When you contact iClinic, we
                    may ask for further information to confirm your identity and the nature of the information being
                    sought. 

                    After we receive your request for access to personal information, iClinic may provide you with
                    an estimate of when you can expect a response.  In some cases, iClinic may need additional time
                    to respond to a request, in which case we will provide you with written notice of the
                    extension.  If you require the documents in an alternative format, we will make reasonable
                    efforts to provide you with your personal information in that format.

                    Please note that in some cases, iClinic may not provide access to personal information that we
                    hold about you, such as where the denial of access is authorized by law.  There are also cases
                    where iClinic may be legally required to refuse access to personal information.  If iClinic
                    denies your request for access to personal information, we will advise you of the reason for the
                    refusal, and will provide the name, title, and contact information of the designated person who
                    can address the refusal.

                    iClinic may charge a reasonable fee according to the cost required to retrieve and provide
                    access to the requested information, or to provide it in a requested alternative format.  We may
                    provide an estimate of the fee in advance and in some cases, will require a deposit for all or
                    part of the fee. </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        Changes to the Policy
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">iClinic reserves the right to modify this Policy at any time and from
                    time to time by posting a new version of the Policy on the Sites and the Solutions.  If there
                    are significant changes made to the Policy, we may provide users of the Solutions through the
                    Solutions or by e-mail.  Your continued use of the Solutions will signify your acceptance of the
                    modifications to this Policy. Any changes to the Privacy Policy will be effective immediately.
                    iClinic’s collection, use, disclosure, and retention of your personal information will be
                    governed by the version of the Policy in effect at that time.  We suggest that you review this
                    Policy periodically. </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="collapsible-individual-div">
                <mat-expansion-panel-header class="collapsible-div">
                    <mat-panel-title class="collapsible-title">
                        Contact Information
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="collapsible-content">Questions or concerns about your personal health information should
                    be directed to the healthcare provider from whom you received healthcare services. 

                    If you have a product, service, program, or are participating in a promotion, contest or event
                    that is offered by a third party on behalf of iClinic, the third party may hold certain of your
                    personal information.  Should you have any questions or concerns about their use of your
                    personal information, we will direct you to the appropriate contact so that you may make
                    enquiries as to that party’s privacy policies and practices.

                    Questions or concerns regarding this Policy can be directed to iClinic by using any of the
                    following methods:

                    Mailing Address: 210 – 1122 Mainland Street, Vancouver, BC V6B 5L1

                    Email: TRL@iClinicemr.com

                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <p class="text-light">Effective date&nbsp;<strong>September, 2022</strong></p>
</div>

<app-footer></app-footer>