<div class="termsofservice-div">
  <h1 class="privacy-title">TERMS OF SERVICE</h1>
  <h2 class="">Introduction</h2>
  <div>
    <p class="description">
      These Terms of Use govern your access to and use of any of our platforms,
      solutions and applications for web and mobile devices (the
      <strong>“App”</strong>), the iClinic website (the
      <strong>“Website”</strong>), and the content, information and services
      performed or provided by or through them (collectively the
      <strong>“Services”</strong>). The Services are made available by iClinic
      Systems Inc. (the <strong>“Company”</strong>, <strong>“we”</strong> or
      <strong>“us”</strong>) only to the user (<strong>“you”</strong>) under
      these Terms of Use and in accordance with the Privacy Policy available by
      clicking<span role="button" routerLink="/privacy"
        >&nbsp;<strong>here</strong>&nbsp;</span
      >(together, the <strong>“Agreement”</strong>). You may visit or use the
      Services only on the condition that you agree to abide by the terms of the
      Agreement. If you do not agree to the terms of the Agreement, do not
      access or use the Services.
    </p>
  </div>
  <div class="expandOrCollapse-div">
    <button mat-button (click)="accordion.openAll()" class="btn">
      Expand All
    </button>
    <span class="expandOrCollapse-divider">|</span>
    <button mat-button (click)="accordion.closeAll()" class="btn">
      Colalpse All
    </button>
  </div>
  <div class="collapsibles-div">
    <mat-accordion multi>
      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title"> Scope </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          Subject to the terms of this Agreement, the Company hereby grants to
          you a non-exclusive, limited, non-transferable, non-sublicensable
          license to the Services for your non-commercial and personal use
          only.<br /><br />You may choose to use the Services to assist you in
          making your own decisions about your actions. The information provided
          to you from your use of the Services is health information that<br /><br />
          <span>
            <ul>
              <li class="list-unstyled">
                (A) is not a substitute for a doctor or other healthcare
                provider;
              </li>
              <li class="list-unstyled">(B) does not provide diagnosis;</li>
              <li class="list-unstyled">
                (C) is utilized at your own risk; and
              </li>
              <li class="list-unstyled">
                (D) should not be treated as a substitute for medical
                consultation, diagnosis, treatment or advice.
              </li>
            </ul>
          </span>
          <br />By using the Services, you agree that the Company is not liable
          for any damages, injuries or negative results or consequences relating
          to any recommendations provided by the Services.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title"> Account </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          In order to use certain Services, you may be required to register and
          create an account. You represent and warrant that you are authorized
          to provide all the information you provide upon registration for your
          account. Further, you must provide accurate, current and truthful
          information. You are responsible for all activities occurring under
          your account and for keeping your password and other account
          information confidential. You are responsible for putting in place and
          observing all safety measures that may be necessary to protect your
          personal well-being and property and to prevent unauthorized access,
          misuse of account information and/or passwords, or misuse of any other
          information. The Company is not liable to you for any unauthorized
          access or misuse of the Services or your account.<br /><br />In order
          to enter into the Agreement, you must be fully able and competent to
          enter into the Agreement and to abide by and comply with its terms. If
          you enter into the Agreement, you represent that you have the capacity
          to be bound by the Terms and to agree to the collection, use and
          disclosure of your personal information in accordance with our Privacy
          Policy.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title">
            Third Party Communication
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          We offer several products, services, and functionalities as part of
          the Services. The Services may allow you to communicate with a third
          party (a “Third Party”) such as a health professional.
          <br /><br />Any communication with a Third Party, including any
          services and any advice, opinion or health information you may obtain
          by way of such communications through the Services, is between you and
          this Third Party.<br /><br />The Company is not responsible for the
          content of these communications and expressly disclaims any
          responsibility or liability for any claims, losses or damages that may
          arise as a result of such communications or failure of
          communications.<br /><br />The Company reserves the right, but has no
          obligation, to become involved in any way with any dispute between you
          and another party arising out of or in connection with the
          Services.<br /><br />The Company is not responsible for the conduct,
          whether online or offline, of any user of the Services.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title">
            Permitted Uses
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          You must not, and you must not request or authorize another person to:
          <br /><br />
          <span>
            <ul>
              <li class="list-unstyled pb-2">
                (A) engage in any activities through or in connection with the
                Services that seek to attempt to or do harm any individuals or
                entities or are unlawful, offensive, obscene, violent,
                threatening, harassing, or abusive or that violate any right of
                any third party;
              </li>
              <li class="list-unstyled pb-2">
                (B) reverse engineer, decompile, disassemble, reverse assemble,
                or modify any source or object code or any software or other
                products, services or processes accessible through any portion
                of the Services;
              </li>
              <li class="list-unstyled pb-2">
                (C) engage in any activity that interferes with a user’s access
                to the Services or the proper operation of the Services, or
                otherwise causes harm to the Services, the Company, a Third
                Party or other users of the Services;
              </li>
              <li class="list-unstyled pb-2">
                (D) interfere with or circumvent any security feature of the
                Services or any feature that restricts or enforces limitations
                on use of or access to the Services;
              </li>
              <li class="list-unstyled pb-2">
                (E) attempt to gain unauthorized access to the Services,
                computer systems or networks connected to the Services, through
                hacking, password mining, or any other means and from engaging
                in activities that are not in compliance with applicable laws;
              </li>
              <li class="list-unstyled pb-2">
                (F) harvest or otherwise collect or store any information of
                third parties, including personal information about other users
                of the Services, without the express consent of such users;
              </li>
              <li class="list-unstyled pb-2">
                (G) use the Services or any data obtained through the Services
                for the purpose of engaging in any commercial activity or to
                send any unsolicited or unauthorized advertising, solicitations,
                promotional materials, spam or other commercial electronic
                messages through the Services; or
              </li>
              <li class="list-unstyled pb-2">
                (H) otherwise violate this Agreement.
              </li>
            </ul>
          </span>
          <br />We will delete or request removal of accounts, without notice at
          our discretion and without liability, for unacceptable or prohibited
          use. We also reserve the right to take appropriate legal action,
          including, without limitation, referral to law enforcement, for any
          illegal or unauthorized use of the Services.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title">
            Consent to Use of Data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          When creating an account and using the Services, you will be asked to
          provide certain personal information which may include personal health
          information. The Company will collect, store, use and disclose this
          information in accordance with the Privacy Policy available by
          clicking<span role="button" routerLink="/privacy"
            >&nbsp;<strong>here</strong>&nbsp;</span
          >. <br /><br />
          By agreeing to the terms of this Agreement, you agree to the
          collection, use and disclosure of your personal information as
          outlined in our Privacy Policy.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title">
            Rights to Data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          In accordance with our Privacy Policy, available by<span
            role="button"
            routerLink="/privacy"
            >&nbsp;<strong>here</strong>&nbsp;</span
          >, you agree that the Company may collect, use and disclose any
          non-personally identifiable information that has been derived from
          your personal information, or generated by your use of the Services
          (the <strong>“De-Identified Data”</strong>).
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title"> Updates </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          From time to time, the Company will provide updates to the Services.
          The terms of this Agreement will govern any update to the Services
          provided by the Company that replace and/or supplement the original
          Services, unless such update is accompanied by a separate license in
          which case the terms of that license will govern.<br /><br />Some
          updates to the Services may be optional or require some action on your
          part, for example when you must download and install an update to an
          App.&nbsp;If you do not complete the installation of the update, the
          Services may not function properly or at all. The Company will not be
          responsible for any problems caused by your failure to complete the
          timely installation of any update.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title"> Links </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          Any links or references to third party information are provided solely
          as a convenience to you. These links do not and should not be taken as
          implying an endorsement or approval of any kind of the content or
          reliability of those websites or references or the activities of the
          people, organizations, and/or businesses responsible. When you use a
          link to go from the Services to another website or service, your
          browsing and interaction is subject to that website’s own rules and
          policies, not those of the Company. The Company shall have no
          liability to you for any content that you may find to be offensive,
          indecent, or objectionable.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title">
            Termination
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          This Agreement is effective until terminated. Your rights under this
          Agreement will terminate automatically without notice from the Company
          if you fail to comply with any term(s) of this Agreement. Upon
          termination of this Agreement, you must cease all use of the Services.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title">
            Intellectual Property Rights
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          You acknowledge that the Services and all information related thereto
          constitute valuable proprietary, confidential and trade secret
          information of the Company. The Services are protected by copyrights,
          trademarks, service marks, international treaties, and/or other
          proprietary rights and laws of Canada and other countries.<br /><br />By
          agreeing to this Agreement, you acknowledge that, as between you and
          the Company, the Company owns and retains all rights, title and
          interest in and to the Services including without limitation, all
          copyright, trademark and intellectual property rights therein, and
          that the only right you have is the limited right to use the same as
          set forth in this Agreement. You may not rent, lease, lend, sell,
          redistribute or sublicense the Services.<br /><br />You may not copy,
          decompile, reverse engineer, disassemble, attempt to derive the source
          code of, modify, or create derivative works of the Services, any
          updates, upgrades, or any part thereof (except as and only to the
          extent any foregoing restriction is prohibited by applicable law). Any
          attempt to do so is a violation of the rights of Company and its
          licensors. All rights in the Services not expressly granted to you are
          reserved by Company or its licensors.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title">
            Limitation of Warranty
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE SERVICES IS AT
          YOUR SOLE RISK AND THAT THE ENTIRE RISK AS TO SATISFACTORY QUALITY,
          PERFORMANCE, ACCURACY AND EFFORT IS WITH YOU. TO THE MAXIMUM EXTENT
          PERMITTED BY APPLICABLE LAW, THE SERVICES, INCLUDED BUT NOT LIMITED TO
          THE APP AND THE WEBSITE, ARE PROVIDED "AS IS" AND "AS AVAILABLE", WITH
          ALL FAULTS AND WITHOUT WARRANTY OF ANY KIND, AND THE COMPANY HEREBY
          DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH RESPECT TO ANY SERVICES,
          EITHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO,
          THE IMPLIED WARRANTIES AND/OR CONDITIONS OF MERCHANTABILITY, OF
          SATISFACTORY QUALITY, OF FITNESS FOR A PARTICULAR PURPOSE, OF
          ACCURACY, OF QUIET ENJOYMENT AND NON-INFRINGEMENT OF THIRD PARTY
          RIGHTS.<br /><br />THE COMPANY DOES NOT WARRANT AGAINST INTERFERENCE
          WITH YOUR ENJOYMENT OF THE SERVICES, THAT THE FUNCTIONS CONTAINED IN,
          OR SERVICES PERFORMED OR PROVIDED BY, THE SERVICES WILL MEET YOUR
          REQUIREMENTS, THAT THE OPERATION OF THE SERVICES WILL BE UNINTERRUPTED
          OR ERROR-FREE, OR THAT DEFECTS IN THE SERVICES WILL BE CORRECTED.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title">
            Limitation of Liability
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          TO THE EXTENT NOT PROHIBITED BY LAW, IN NO EVENT SHALL THE COMPANY BE
          LIABLE FOR PERSONAL INJURY, OR ANY DIRECT, INDIRECT, INCIDENTAL,
          SPECIAL OR CONSEQUENTIAL DAMAGES WHATSOEVER ARISING OUT OF OR RELATED
          TO YOUR USE OR INABILITY TO USE THE SERVICES, HOWEVER CAUSED,
          REGARDLESS OF THE THEORY OF LIABILITY (CONTRACT, EXTRA-CONTRACTUAL
          LIABILITY, TORT OR OTHERWISE) AND EVEN IF THE COMPANY HAS BEEN ADVISED
          OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATIONS WILL
          APPLY EVEN IF THE LIMITED REMEDY OFFERED IN THIS LICENSE FAILS OF ITS
          ESSENTIAL PURPOSE.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title"> Changes </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          The Company may modify this Agreement from time to time. The Company
          will give you written notice of modifications to the Agreement by any
          reasonable manner of notice which it elects and your use of the
          Services after the effective date of the modifications as set out in
          such notice constitutes your agreement to such modifications.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title"> General </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          This Agreement constitutes the entire agreement between you and the
          Company with respect to your use of the Services. The Company's
          failure to enforce your strict compliance with this Agreement will not
          constitute a waiver of any of its rights. The Services are intended
          for use in Canada only.<br /><br />You may not use the Services
          outside Canada. You may not export or re-export the Services except as
          permitted under the laws of Canada. If any provision of this Agreement
          is found to be unenforceable or invalid, that provision will be
          limited or eliminated to the minimum extent necessary so that this
          Agreement will otherwise remain in full force and effect. This
          Agreement is not assignable, transferable or sublicensable by you
          except with the Company’s prior written consent.<br /><br />The laws
          of the Province of British Columbia, excluding its conflicts of law
          rules, and the federal laws of Canada applicable therein govern this
          Agreement. Any disputes in relation to this Agreement shall be brought
          to the courts of competent jurisdiction in the province of British
          Columbia.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="collapsible-individual-div">
        <mat-expansion-panel-header class="collapsible-div">
          <mat-panel-title class="collapsible-title">
            Contacting Us
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="collapsible-content">
          We encourage you to periodically review our Terms of Use for the
          latest information and to contact us if you have any questions or
          concerns at&nbsp;help@iclinicemr.com.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <p class="">Last updated&nbsp;<strong>September 25, 2022</strong></p>
</div>
<app-footer></app-footer>
