<div>
	<p class="title"><span class="bg-color">aiClinic</span></p>
	<p class="subtitle">
		<span class="bg-color">Healthcare Powered By Data</span>
	</p>
</div>

<video *ngIf="!hideVideoAfterPlay" autoplay muted playsinline preload="auto" onloadedmetadata="this.muted = true" id="myVideo">
	<source src="https://storage.googleapis.com/video-background-iclinic/videoBackground.mp4" type="video/mp4">
</video>

<canvas #rendererCanvas id="renderCanvas" [hidden]="displayAfterVideo"></canvas>


<!-- <div class="cookie-container">
	<p class="cookie-text">
		We use cookies and similar technologies that are necessary to operate the website. Additional cookies are used to perform analysis of website usage. By continuing to use our website, consent to our use of cookies. For more information, please read our <a href="#"> Privacy Policy.</a>
	</p>
	<div class="agree">
	<button>Sounds good!</button>
		</div>
</div> -->