.title {
    position: absolute;
    z-index: 1;
    margin: 0;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: transparent;
    top: 35%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 1;
    animation: fadeInOut 10s ease-in backwards;
    animation-delay: 1s;
    background: transparent;
}

.title-aiclinic {
    position: absolute;
    z-index: 1;
    margin: 0;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: white;
    top: 40%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 1;
    animation: fadeIn ease-in 3s;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    background: transparent;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        color: white;
        text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;

    }

    20%,
    75% {
        opacity: 1;

    }

    100% {
        opacity: 0;
        color: white;
        text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    }
}

.subtitle {
    font-size: 36px;
    position: absolute;
    margin: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    color: transparent;
    top: 47%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    line-height: 1;
    opacity: 1;
    animation: fadeInOut 8s ease-in backwards;
    animation-delay: 3s;
    background: transparent;
}

.subtitle-aiclinic {
    font-size: 36px;
    position: absolute;
    margin: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    color: white;
    top: 52.5%;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    width: 100%;
    text-align: center;
    animation: fadeIn ease-in 3s;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    background: transparent;
}

#renderCanvas {
    width: 100%;
    display: block;
    z-index: 2;
}

#myVideo {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 60px;
    }

    .title-aiclinic {
        font-size: 60px;
    }

    .subtitle {
        font-size: 60px;
    }

    .subtitle-aiclinic {
        font-size: 42px;
    }

    .datapoints-div {
        font-size: 10px
    }
}

//====================================================DATA POINT========================================================
.datapoints-div {
    :nth-child(1) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 75%;
        left: 75%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(2) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 85%;
        left: 5%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(3) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 85%;
        left: 10%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(4) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 91%;
        left: 10%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(5) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 45%;
        left: 5%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(6) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 55%;
        left: 75%;
        z-index: 100;
        opacity: 0;
        animation: fadeInInsideGlobe 10s forwards infinite ease-in;
    }

    :nth-child(7) {
        font-size: 8px;
        margin: 3rem;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 73%;
        left: 75%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s forwards infinite ease-in;
    }

    :nth-child(8) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 91%;
        left: 24%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s forwards infinite ease-in;
    }

    :nth-child(9) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 47%;
        left: 12%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s forwards infinite ease-in;
    }

    :nth-child(10) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 66%;
        left: 86%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-in;
    }

    :nth-child(11) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 60%;
        left: 5%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(12) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 50%;
        left: 80%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s forwards infinite ease-in;
    }

    :nth-child(13) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 35%;
        left: 84%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s forwards infinite ease-in;
    }

    :nth-child(14) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 90%;
        left: 90%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s forwards infinite ease-in;
    }

    :nth-child(15) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 84%;
        left: 84%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite;
    }

    :nth-child(16) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 62%;
        left: 60%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite;
    }

    :nth-child(17) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 82%;
        left: 55%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s forwards infinite ease-in;
    }

    :nth-child(18) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 75%;
        left: 40%;
        z-index: 100;
        opacity: 0;
        animation: fadeInInsideGlobe 10s forwards infinite ease-in;
    }

    :nth-child(19) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 66%;
        left: 50%;
        z-index: 100;
        opacity: 0;
        animation: fadeInInsideGlobe 10s forwards infinite ease-in;
    }

    :nth-child(20) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 70%;
        left: 60%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(21) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 65%;
        left: 20%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(22) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 55%;
        left: 30%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(23) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 70%;
        left: 42%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(24) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 72%;
        left: 10%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(25) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 43%;
        left: 82%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(26) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 75%;
        left: 15%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(27) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 37%;
        left: 4%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(28) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 85%;
        left: 80%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(29) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 79%;
        left: 64%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(30) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 62%;
        left: 93%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }

    :nth-child(31) {
        font-size: 8px;
        position: absolute;
        color: rgb(187, 182, 182);
        top: 46%;
        left: 69%;
        z-index: 100;
        opacity: 0;
        animation: fadeInText 10s reverse infinite ease-out;
    }
}

.insideglobe {
    font-size: 14px !important;
}

@keyframes fadeInText {
    25% {
        opacity: 0;
    }

    75% {
        opacity: 1;
        scale: 1.5;
    }
}

@keyframes fadeInInsideGlobe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        scale: 1.5;
    }
}

@media only screen and (min-width: 1200px){
    .datapoints-div {
        :nth-child(1) {
            font-size: 10px;
        }
    
        :nth-child(2) {
            font-size: 10px;
        }
    
        :nth-child(3) {
            font-size: 10px;
        }
    
        :nth-child(4) {
            font-size: 10px;
        }
    
        :nth-child(5) {
            font-size: 10px;
        }
    
        :nth-child(6) {
            font-size: 10px;
        }
    
        :nth-child(7) {
            font-size: 10px;
        }
    
        :nth-child(8) {
            font-size: 10px;
        }
    
        :nth-child(9) {
            font-size: 10px;
        }
    
        :nth-child(10) {
            font-size: 10px;
        }
    
        :nth-child(11) {
            font-size: 10px;
        }
    
        :nth-child(12) {
            font-size: 10px;
        }
    
        :nth-child(13) {
            font-size: 10px;
        }
    
        :nth-child(14) {
            font-size: 10px;
        }
    
        :nth-child(15) {
            font-size: 10px;
        }
    
        :nth-child(16) {
            font-size: 10px;
        }
    
        :nth-child(17) {
            font-size: 10px;
        }
    
        :nth-child(18) {
            font-size: 10px;
        }
    
        :nth-child(19) {
            font-size: 10px;
        }
    
        :nth-child(20) {
            font-size: 10px;
        }
    
        :nth-child(21) {
            font-size: 10px;
        }
    
        :nth-child(22) {
            font-size: 10px;
        }
    
        :nth-child(23) {
            font-size: 10px;
        }
    
        :nth-child(24) {
            font-size: 10px;
        }
    
        :nth-child(25) {
            font-size: 10px;
        }
    
        :nth-child(26) {
            font-size: 10px;
        }
    
        :nth-child(27) {
            font-size: 10px;
        }
    
        :nth-child(28) {
            font-size: 10px;
        }
    
        :nth-child(29) {
            font-size: 10px;
        }
    
        :nth-child(30) {
            font-size: 10px;
        }
    
        :nth-child(31) {
            font-size: 10px;
        }
    }
}
//====================================================DATA POINT========================================================