<div *ngIf="!aiclinictextappear">
  <p class="title">Imagine</p>
  <p class="subtitle">Future of Healthcare</p>
</div>
<div *ngIf="aiclinictextappear" class="title-div">
  <p class="title-aiclinic">aiClinic</p>
  <p class="subtitle-aiclinic">Data Driven Healthcare</p>
</div>
<video *ngIf="!hideVideoAfterPlay" autoplay muted playsinline preload="auto" onloadedmetadata="this.muted = true"
  id="myVideo">
  <source src="https://storage.googleapis.com/video-background-iclinic/videoBackground.mp4" type="video/mp4" />
</video>
<canvas #rendererCanvas id="renderCanvas" [hidden]="displayAfterVideo"></canvas>