.title {
    position: absolute;
    z-index: 1;
    margin: 0;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: transparent;
    top: 35%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 1;
    animation: fadeInOut 10s ease-in backwards;
    animation-delay: 1s;
    background: transparent;
}

.title-aiclinic {
    position: absolute;
    z-index: 1;
    margin: 0;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: white;
    top: 45%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 1;
    animation: fadeIn ease-in 3s;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    background: transparent;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        color: white;
        text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;

    }

    20%,
    75% {
        opacity: 1;

    }

    100% {
        opacity: 0;
        color: white;
        text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    }
}

.subtitle {
    font-size: 36px;
    position: absolute;
    margin: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    color: transparent;
    top: 47%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    opacity: 1;
    animation: fadeInOut 8s ease-in backwards;
    animation-delay: 3s;
    background: transparent;
}

.subtitle-aiclinic {
    font-size: 24px;
    position: absolute;
    margin: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    color: white;
    top: 57%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    animation: fadeIn ease-in 3s;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    background: transparent;
}

#renderCanvas {
    width: 100%;
    display: block;
    z-index: 2;
}

#myVideo {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 60px;
    }

    .title-aiclinic {
        font-size: 60px;
    }

    .subtitle {
        font-size: 60px;
    }

    .subtitle-aiclinic {
        font-size: 30px;
    }
}