.title {
    position: absolute;
    z-index: 1;
    margin: 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    color: white;
    top: 45%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 1;
    animation: fadeIn ease-in 3s;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    background: transparent;
}

.title-aiclinic {
    position: absolute;
    z-index: 1;
    margin: 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    color: white;
    top: 45%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 1;
    animation: fadeIn ease-in 3s;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    background: transparent;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.subtitle {
    font-size: 24px;
    position: absolute;
    margin: 0;
    font-size: 30px;
    z-index: 1;
    display: flex;
    align-items: center;
    color: white;
    top: 57%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    opacity: 1;
    animation: fadeIn ease-in 5s;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    background: transparent;
}

.subtitle-aiclinic {
    font-size: 24px;
    position: absolute;
    margin: 0;
    font-size: 30px;
    z-index: 1;
    display: flex;
    align-items: center;
    color: white;
    top: 57%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    animation: fadeIn ease-in 3s;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    background: transparent;
}

#renderCanvas {
    width: 100%;
    display: block;
    z-index: 2;
}

@media only screen and (min-width: 576px) {
    #renderCanvas {
        padding-top: 25px;
    }
}
#myVideo {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*=================================================
COOKIE
===================================================*/

.cookie-container {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: white;
    color: black;
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    gap: 2rem;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;
}

.cookie-container.hide {
    opacity: 0;
    visibility: hidden;
}

.cookie-container a {
    color: var(--white-color);
}

.cookie-container a:hover {
    color: var(--hover-text);
}

.cookie-container .cookie-text {
    flex: 8 768px;
}

.cookie-container .agree {
    flex: 1 150px;
    text-align: center;
}

.agree button {
    background: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    font-size: 1rem;
}

.agree button:hover {
    background: var(--button-background-hover);
    color: var(--white-text);
}
/*=================================================
COOKIE
===================================================*/
