/*==========================
        4. ABOUT
============================*/
.profile_img_div {
  max-width: 450px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  z-index: 1;
}
.profile_img {
  z-index: 0;
}
.profile_img::after {
  border-radius: 10px;
}
.about_explanation {
  font-size: 1rem;
  font-family: "manrope-regular";
  font-weight: 500;
  margin: auto auto;
  padding: 10px;
}
.carousel-indicators li {
  display: none;
}
.ubc_link {
  color: #002145;
  font-family: "manrope-semibold";
  &:hover {
    text-decoration: none;
    color: #0680a6;
  }
}
.catalyx_link {
  color: #aa70ff;
  font-family: "manrope-semibold";
  &:hover {
    text-decoration: none;
    color: #8234f8;
  }
}
@media (max-width: 768px) {
  .about_explanation {
    font-size: 1rem;
    padding: 15px;
  }
}
