/*==========================
        4. ABOUT
============================*/
.profile_img_div{
    max-width: 450px;
    margin: auto auto;
    border-radius: 10px;
    overflow: hidden;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    z-index: 1;
  }
  .profile_img{
    z-index: 0;
  }
  .profile_img::after{
    border-radius: 10px;
  }
  .about_explanation{
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto;
    padding: 10px;
  }
  .carousel-indicators li{
    display:none;
  }
  .catalyx_link{
    color: #AA70FF;
  }
  .catalyx_link:hover{
    text-decoration: none;
    color: #8234f8;
  }