/*
=============================================
GENERAL CSS
=============================================
*/
.margin-reset-class {
  margin: 0 !important;
}

/*
=============================================
PATIENT DOCTOR DIV CSS
=============================================
*/
.iclinicmd-text-inside {
  position: absolute;
  height: 100%;
  left: 28%;
  top: 30%;
  color: white;
  z-index: 2;
  font-size: 10px;
}

.top-div-description-div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;

  .top-div-left {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 47.5%;

    :nth-child(1) {
      top: 0%;
    }

    :nth-child(2) {
      top: 33%;
    }

    :nth-child(3) {
      top: 66%;
    }

    :nth-child(4) {
      top: 99%;
    }
  }

  .top-div-right {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 47.5%;

    :nth-child(1) {
      top: 0%;
    }

    :nth-child(2) {
      top: 33%;
    }

    :nth-child(3) {
      top: 66%;
    }

    :nth-child(4) {
      top: 99%;
    }
  }

  .top-div-description-text {
    position: absolute;
    color: var(--text-secondary);
    font-size: 10px;
  }
}

.care-starts-with {
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 13px;
}

.patientDoctor-division {
  height: 100vh;
}

.patientDoctor-first-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25%;
}

.clinic-image-div {
  display: flex;
  flex-direction: column;
  // box-shadow: var(--box-shadow);
  // padding: 15px;
  // border-radius: 10px;
  // margin-left: auto;
  // margin-right: auto;
  // justify-content: center;
  // align-items: center;
}

.flip-card-back-img {
  position: relative;
  height: 100%;
  width: 100%;
}

.flip-card-back-text-title {
  font-size: 8px;
  margin-bottom: 8px;
}

.flip-card-back-text {
  font-size: 6px;
}

.patientchart-div-left-text-div {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.patientchart-div-left-text {
  color: var(--text-secondary);
  font-size: 10px;
}

.patientchart-div-right-text {
  color: var(--text-secondary);
  font-size: 10px;
}

.patientchart-div-right-text-div {
  position: relative;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.patientchart-arrow-left-div {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  left: 12.5%;
}

.patientchart-arrow-right {
  // position: absolute;
}

.patientchart-arrow-right-div {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  right: 12.5%;
}

.patientchart-arrow-right {
  // position: absolute;
}

.patientchart-div {
  display: flex;
  flex-direction: row;
  align-items: center;

  .patientchart-div-text-fadein {
    opacity: 0;
  }
}

.patientchart-outer-img-div {
  box-shadow: var(--box-shadow);
  border: 1.5px solid rgb(192 192 255);
  // padding: 15px;
  width: 130px;
  height: 145px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patientchart-img-div {
  box-shadow: 0px 0px 12px 0px rgb(192 192 255);
  border: 3px solid rgb(192 192 255);
  // padding: 15px;
  width: 105px;
  height: 125px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patient-div {
  width: 35%;
}

.patient-text {
  font-size: 12px;
}

.doctor-div {
  width: 35%;
}

.clinic-div {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15%;
}

.arrow-left-svg {
  position: absolute;
  left: 27.5%;
}

.arrow-right-svg {
  position: absolute;
  right: 27.5%;
}

.svg-div {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  position: relative;
  width: 100%;
}

.svg-div-chart-inside {
  position: absolute;
  bottom: 0;
  align-items: center;
  width: 100%;
}

.svg-div-chart {
  position: relative;
  align-items: center;
  width: 100%;
}

.svg-icon {
  width: 100%;
  height: 150px;
}

.svg-icon-down {
  margin-left: auto;
  margin-right: auto;
  height: 75px;
}

.svg-icon-patientchart {
  width: 100%;
  height: 150px;
}

.svg-icon-linear {
  margin-top: auto;
  margin-bottom: auto;
}

.svg-icon-linear-reverse {
  position: absolute;
  top: 30%;
  right: 10%;
}

.svg-icon-linear-reverse-hospital {
  position: absolute;
  bottom: 150%;
  right: 18%;
}

.svg-icon-chart {
  position: absolute;
  width: 100%;
  height: 300px;
}

.svg-div-onchart {
  display: flex;
  padding-top: 10%;
}

.svg-icon-onchart {
  margin-left: auto;
  margin-right: auto;
}

.patient-img {
  width: 75px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

.patient-img-hospital {
  position: absolute;
  width: 75px;
  height: 75px;
  right: -100px;
}

.doctor-img {
  width: 75px;
  width: 75px;
  display: flex;
  margin-left: auto;
}

.doctor-img-hospital {
  width: 75px;
  height: 75px;
}

.clinic-img {
  width: 75px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

.patientchart-img {
  width: 75px;
  height: 75px;
}

/*
=============================================
CHART DIV CSS
=============================================
*/
.chart-div-text-onbackground-div {
  top: 15%;
  position: absolute;
  width: 100%;
  height: 100px;

  .chart-div-text-onbackground-text {
    position: absolute;
    opacity: 0;
  }

  .chart-div-text-onbackground-text2 {
    position: absolute;
    opacity: 0;
  }

  :nth-child(1) {
    top: 0%;
    left: 10%;
  }

  :nth-child(2) {
    top: 50%;
    left: 15%;
  }

  :nth-child(3) {
    top: 0%;
    right: 10%;
  }

  :nth-child(4) {
    top: 50%;
    right: 15%;
  }
}

.chart-div-text-ontop {
  position: absolute;
  top: -50px;
  padding: 5px;
  border-radius: 10px;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: var(--box-shadow);
}

.negative-left {
  left: -32px;
}

.negative-right {
  right: -32px;
}

.iclinic-button-inner {
  cursor: initial;
  position: absolute;
  height: 33%;
  border-radius: 50%;
  width: 33%;
  top: 33.5%;
  left: 33.5%;
  z-index: 5;
  background: transparent;
  border: transparent;
  color: #450159;

  :nth-child(1) {
    font-size: 2vw;
  }

  :nth-child(2) {
    font-size: 1.5vw;
  }
}

.ring-div {
  background-color: transparent;
  border: 3px solid rgba(192, 192, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(192, 192, 255, 1);
  height: 33%;
  border-radius: 50%;
  width: 33%;
  top: 33.5%;
  left: 33.5%;
  position: absolute;
  z-index: -1;
}

.ring-div2 {
  background-color: transparent;
  border: 3px solid rgb(192, 192, 255);
  box-shadow: 0px 0px 10px 0px rgb(192 192 255);
  height: 75%;
  border-radius: 50%;
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  position: absolute;
  z-index: -1;
}

.chart-section-pad {
  display: flex;
  justify-content: center;
}

.ecosystem-chart-div {
  position: relative;
  height: 100vh;
}

.main-chart-div {
  position: relative;
  height: 100%;
}

.ecosystem-chart {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: var(--box-shadow);
  border: 1.5px solid rgba(192, 192, 255, 1);
  border-radius: 50%;
  z-index: 2;
  overflow: visible !important;
  width: 90%;
}

#donutchart {
  box-shadow: 0px 0px 12px 0px rgba(192, 192, 255, 1);
  border: 3px solid rgba(192, 192, 255, 1);
  border-radius: 50%;
}

.chart-parts-div {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 12.5vh;
  justify-content: space-evenly;
}

.chart-div-teleplan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-div-eHealthViewer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-div-pharmanet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-div-hospital {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teleplan-img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.eHealth-img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.pharmaNet-img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.hospital-img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.external-label {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 8px;
}

.gsap-card {
  width: 100px;
  height: 100px;
  cursor: pointer;
  perspective: 1000px;
}

.gsap-card-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.gsap-card-front,
.gsap-card-back {
  padding: 10px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card {
  width: 75px;
  height: 75px;
  perspective: 1000px;
}

.flip-card-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  animation: randomFlip 50s forwards infinite;
}

@keyframes randomFlip {
  0% {
    transform: rotateY(0deg);
  }

  5% {
    transform: rotateY(180deg);
  }

  10% {
    transform: rotateY(0deg);
  }

  15% {
    transform: rotateY(180deg);
  }

  20% {
    transform: rotateY(180deg);
  }

  25% {
    transform: rotateY(180deg);
  }

  30% {
    transform: rotateY(0deg);
  }

  35% {
    transform: rotateY(180deg);
  }

  45% {
    transform: rotateY(0deg);
  }

  45% {
    transform: rotateY(180deg);
  }

  50% {
    transform: rotateY(0deg);
  }

  55% {
    transform: rotateY(180deg);
  }

  60% {
    transform: rotateY(0deg);
  }

  65% {
    transform: rotateY(180deg);
  }

  70% {
    transform: rotateY(0deg);
  }

  75% {
    transform: rotateY(180deg);
  }

  80% {
    transform: rotateY(0deg);
  }

  85% {
    transform: rotateY(180deg);
  }

  90% {
    transform: rotateY(0deg);
  }

  95% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.flip-card-front,
.flip-card-back {
  padding: 10px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: none;
}

.flip-card-back {
  background-color: none;
  transform: rotateY(180deg);
}

/*
=============================================
APP DIV CSS
=============================================
*/
.app-description-div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;

  .app-description-div-left {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 30%;

    :nth-child(1) {
      top: 25%;
    }

    :nth-child(2) {
      top: 50%;
    }

    :nth-child(3) {
      top: 75%;
    }
  }

  .app-description-div-right {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 30%;

    :nth-child(1) {
      top: 25%;
    }

    :nth-child(2) {
      top: 50%;
    }

    :nth-child(3) {
      top: 75%;
    }
  }

  .app-description-text {
    font-size: 10px;
    position: absolute;
    color: var(--text-secondary);
  }
}

.app-outer-div {
  box-shadow: var(--box-shadow);
  border: 1.5px solid rgb(192, 192, 255);
  // padding: 15px;
  width: 165px;
  height: 150px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.app-inside-texts {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.app-div {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 12px 0px rgb(192 192 255);
  border: 3px solid rgb(192 192 255);
  border-radius: 10px;
  // padding: 15px;
  width: 150px;
  height: 135px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.app-phone-img {
  width: 75px;
  height: 75px;
}

.arrow-div-2-left-arrow-div {
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  top: 47.5%;
  right: 50%;
}

.svg-left-appdiv {
  width: 75%;
}

.svg-right-appdiv {
  width: 75%;
}

.arrow-div-2-right-arrow-div {
  position: absolute;
  display: flex;
  align-items: start;
  flex-direction: column;
  top: 47.5%;
  left: 50%;
}

/*
=============================================
BOTTOM PATIENT DIV CSS
=============================================
*/
.endPatient-div {
  width: 100%;
  margin: auto auto;
  margin-top: 2.5%;
  display: flex;
}

.care-img {
  width: 35px;
  height: 35px;
  margin: auto auto;
}

.endPatient-img {
  width: 75px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  // width: 15%;
}

// .bottom-nurse-img {
//   position: relative;
//   margin-top: 6%;
//   left: -50%;
//   width: 75px;
//   height: 75px;
// }
// .bottom-doctors-img {
//   position: relative;
//   margin-top: 6%;
//   right: -50%;
//   width: 75px;
//   height: 75px;
// }

/*
=============================================
ARROW CSS
=============================================
*/
.text-over-arrows {
  font-size: 12px;
  position: absolute;
  width: 100%;
  top: -25%;
  left: 10%;
}

.dotted-path {
  stroke-dasharray: 3px 14px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-width: 15;
  animation: dash 30s linear infinite;
}

.dotted-path-reverse {
  stroke-dasharray: 3px 14px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-width: 15;
  animation: reverse-dash 30s linear infinite;
}

.linear-path-test {
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: 1, 15;
  stroke: var(--text-primary);
  fill: transparent;
  stroke-width: 3;
  animation: dash 30s linear infinite;
}

.linear-path-reverse-test {
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: 1, 15;
  stroke: var(--text-primary);
  fill: transparent;
  stroke-width: 3;
  animation: reverse-dash 30s linear infinite;
}

.linear-path {
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: 1, 10;
  fill: transparent;
  stroke-width: 1;
  animation: reverse-dash 30s linear infinite;
}

.linear-path-reverse {
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: 1, 10;
  fill: transparent;
  stroke-width: 1;
  animation: reverse-dash 30s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 600;
  }
}

@keyframes reverse-dash {
  from {
    stroke-dashoffset: 600;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.arrow-img {
  position: absolute;
  width: 2.5%;
  margin: 0;
  left: 38%;
  transform: translateY(10%);
  padding: 0;
}

.arrow-div-2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.chart-arrow-div {
  display: flex;
  width: 100%;
  transform: rotate(90deg);
  margin-bottom: 75px;
  // height: 100%;
}

/*
=============================================
Mobile
=============================================
*/
@media only screen and (min-width: 576px) {
  .patientchart-div-left-text-div {
    width: 32.5%;
  }

  .patientchart-div-right-text-div {
    width: 32.5%;
  }
  .patientchart-div-right-text {
    font-size: 14px;
  }

  .patientchart-div-left-text {
    font-size: 14px;
  }
  .app-description-div {
    .app-description-div-left{
      width: 32.5%;
    }
    .app-description-div-right{
      width: 32.5%;
    }
    .app-description-text {
      font-size: 14px;
    }
  }
  .app-inside-texts {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .care-starts-with {
    font-size: 14px;
  }

  .patientchart-img-div {
    // padding: 25px;
    width: 150px;
    height: 150px;
  }

  .patientchart-outer-img-div {
    // padding: 25px;
    width: 175px;
    height: 175px;
  }

  .app-outer-div {
    width: 200px;
    height: 175px;
  }

  .app-div {
    width: 175px;
    height: 150px;
  }

  .chart-arrow-div {
    width: 65%;
    margin-bottom: 75px;
  }

  .arrow-left-svg {
    left: 35%;
  }

  .arrow-right-svg {
    right: 35%;
  }

  .ecosystem-chart {
    width: 60%;
  }

  .chart-parts-div {
    bottom: 10vh;
  }

  .clinic-image-div {
    padding: 25px;
  }


  .patientDoctor-first-div {
    padding-top: 20%;
  }

  .gsap-card {
    width: 125px;
    height: 125px;
  }

  .gsap-card-front,
  .gsap-card-back {
    padding: 15px;
  }

  .flip-card-front,
  .flip-card-back {
    padding: 15px;
  }

  .flip-card-back-text-title {
    font-size: 14px;
  }

  .flip-card-back-text {
    font-size: 10px;
  }

  .flip-card {
    width: 125px;
    height: 125px;
  }

  .top-div-description-div {
    .top-div-description-text {
      font-size: 14px;
    }
  }

  .patient-text {
    font-size: 16px;
  }

  .iclinicmd-text-inside {
    left: 29%;
    top: 30%;
    font-size: 12px;
  }

  .teleplan-img {
    width: 75px;
    height: 75px;
  }

  .eHealth-img {
    width: 75px;
    height: 75px;
  }

  .pharmaNet-img {
    width: 75px;
    height: 75px;
  }

  .hospital-img {
    width: 75px;
    height: 75px;
  }

  .svg-left-appdiv {
    width: 90%;
  }

  .svg-right-appdiv {
    width: 90%;
  }

}

/*
=============================================
TABLET
=============================================
*/
@media only screen and (min-width: 768px) {
  .patientchart-div-left-text-div {
    width: 35%;
  }

  .patientchart-div-right-text-div {
    width: 35%;
  }
  .patientchart-div-right-text {
    font-size: 14px;
  }

  .patientchart-div-left-text {
    font-size: 14px;
  }
  .app-description-div {
    .app-description-div-left{
      width: 35%;
    }
    .app-description-div-right{
      width: 35%;
    }
    .app-description-text {
      font-size: 14px;
    }
  }
  .iclinic-button-inner {
    :nth-child(1) {
      font-size: 1vw;
    }

    :nth-child(2) {
      font-size: 0.7vw;
    }
  }

  .care-starts-with {
    font-size: 14px;
  }

  .app-inside-texts {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .patientchart-img-div {
    // padding: 25px;
    width: 150px;
    height: 150px;
  }

  .patientchart-outer-img-div {
    // padding: 25px;
    width: 175px;
    height: 175px;
  }

  .app-outer-div {
    width: 200px;
    height: 175px;
  }

  .app-div {
    width: 175px;
    height: 150px;
  }

  .svg-div-onchart {
    padding-top: 15%;
  }

  .arrow-left-svg {
    left: 36.5%;
  }

  .arrow-right-svg {
    right: 36.5%;
  }

  .chart-arrow-div {
    margin-bottom: 0;
    transform: rotate(0deg);
    align-items: center;
  }

  .ecosystem-chart {
    margin-top: 5%;
    width: 45%;
  }

  .patientDoctor-first-div {
    padding-top: 15%;
  }

  .chart-parts-div {
    height: 100vh;
    left: 0;
    bottom: 0;
    display: block;
  }

  .chart-div-teleplan {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 25%;
    gap: 10%;
  }

  .chart-div-eHealthViewer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 6%;
    width: 25%;
    gap: 10%;
  }

  .rotate-eHealth {
    transform: translate(-25px, -100px) rotate(-40deg);
  }

  .rotate-hospital {
    transform: translate(25px, -100px) rotate(40deg);
  }

  .chart-div-pharmanet {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 0;
    width: 25%;
    gap: 10%;
  }

  .chart-div-hospital {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 6%;
    width: 25%;
    gap: 10%;
  }

  .patient-img {
    width: 75px;
    height: 75px;
  }

  .doctor-img {
    width: 75px;
    height: 75px;
  }

  .clinic-img {
    width: 75px;
    height: 75px;
  }

  .patientchart-img {
    width: 75px;
    height: 75px;
  }

  .app-phone-img {
    width: 75px;
    height: 75px;
  }

  .care-img {
    width: 35px;
    height: 35px;
    margin: auto auto;
  }

  .endPatient-div {
    width: 80%;
  }

  .endPatient-img {
    width: 75px;
    height: 75px;
  }

  // .bottom-nurse-img {
  //   width: 75px;
  //   height: 75px;
  // }
  // .bottom-doctors-img {
  //   width: 75px;
  //   height: 75px;
  // }
  .teleplan-img-div {
    display: flex;
    flex-direction: column;
  }

  .eHealth-img-div {
    display: flex;
    flex-direction: column;
  }

  .pharmanet-img-div {
    display: flex;
    flex-direction: column;
  }

  .hospital-img-div {
    display: flex;
    flex-direction: column;
  }

  .teleplan-img {
    width: 75px;
    height: 75px;
  }

  .eHealth-img {
    width: 75px;
    height: 75px;
  }

  .pharmaNet-img {
    width: 75px;
    height: 75px;
  }

  .hospital-img {
    width: 75px;
    height: 75px;
  }

  .gsap-card {
    width: 125px;
    height: 125px;
  }

  .gsap-card-front,
  .gsap-card-back {
    padding: 15px;
  }

  .flip-card-front,
  .flip-card-back {
    padding: 15px;
  }

  .flip-card {
    width: 250px;
    height: 125px;
  }

  .top-div-description-div {
    .top-div-description-text {
      font-size: 14px;
    }
  }

  .patient-text {
    font-size: 16px;
  }

  .iclinicmd-text-inside {
    left: 27%;
    top: 30%;
    font-size: 13px;
  }

  .app-description-div {
    .app-description-text {
      font-size: 12px;
    }

    // :nth-child(1) {
    //   left: 30%;
    //   top: 33%;
    // }

    // :nth-child(2) {
    //   left: 30%;
    //   top: 66%;
    // }

    // :nth-child(3) {
    //   right: 30%;
    //   top: 33%;
    // }

    // :nth-child(4) {
    //   right: 30%;
    //   top: 66%;
    // }
  }
}

/*
=============================================
SMALL DESKTOP
=============================================
*/

@media only screen and (min-width: 992px) {

  .chart-div-teleplan {
    width: 25%;
    gap: 10%;
  }

  .patientDoctor-first-div {
    padding-top: 5%;
  }

  .chart-div-eHealthViewer {
    width: 25%;
    gap: 10%;
  }

  .chart-div-pharmanet {
    width: 25%;
    gap: 10%;
  }

  .chart-div-hospital {
    width: 25%;
    gap: 10%;
  }

  .svg-div-onchart {
    padding-top: 6.5%;
  }

  .chart-arrow-div {
    // width: 75%;
  }

  .arrow-left-svg {
    left: 40%;
  }

  .arrow-right-svg {
    right: 40%;
  }

  .external-label {
    font-size: 16px;
  }

  .ecosystem-chart {
    margin-top: 5%;
    width: 45%;
  }

  .inner-chart {
    // width: 50%;
  }

  .patient-img {
    width: 90px;
    height: 90px;
  }

  .doctor-img {
    width: 90px;
    height: 90px;
  }

  .clinic-img {
    width: 90px;
    height: 90px;
  }

  .patientchart-img {
    width: 90px;
    height: 90px;
  }

  .app-phone-img {
    width: 90px;
    height: 90px;
  }

  .care-img {
    width: 50px;
    height: 50px;
    margin: auto auto;
  }

  .endPatient-div {
    width: 75%;
  }

  .endPatient-img {
    width: 90px;
    height: 90px;
  }

  .svg-left-appdiv {
    width: 100%;
  }

  .svg-right-appdiv {
    width: 100%;
  }

  .teleplan-img {
    width: 75px;
    height: 75px;
  }

  .eHealth-img {
    width: 75px;
    height: 75px;
  }

  .pharmaNet-img {
    width: 75px;
    height: 75px;
  }

  .hospital-img {
    width: 75px;
    height: 75px;
  }

  .patientchart-outer-img-div {
    width: 250px;
    height: 250px;
  }

  .patientchart-img-div {
    width: 225px;
    height: 225px;
  }

  .app-div {
    width: 225px;
    height: 225px;
  }

  .app-outer-div {
    // padding: 25px;
    width: 250px;
    height: 250px;
  }

  .gsap-card {
    width: 150px;
    height: 150px;
  }

  .gsap-card-front,
  .gsap-card-back {
    padding: 15px;
  }

  .flip-card-front,
  .flip-card-back {
    padding: 15px;
  }

  .flip-card-back-text-title {
    font-size: 14px;
  }

  .flip-card-back-text {
    font-size: 10px;
  }

  .flip-card {
    width: 250px;
    height: 125px;
  }

  .top-div-description-div {
    margin-top: 10px;

    .top-div-description-text {
      font-size: 16px;
    }
  }

  .patient-text {
    font-size: 16px;
  }

  .iclinicmd-text-inside {
    left: 27%;
    top: 30%;
    font-size: 16px;
  }

  .app-description-div {
    .app-description-text {
      font-size: 16px;
    }

    // :nth-child(1) {
    //   left: 25%;
    //   top: 33%;
    // }

    // :nth-child(2) {
    //   left: 25%;
    //   top: 66%;
    // }

    // :nth-child(3) {
    //   right: 20%;
    //   top: 33%;
    // }

    // :nth-child(4) {
    //   right: 20%;
    //   top: 66%;
    // }
  }
}

/*
=============================================
DESKTOP
=============================================
*/
@media only screen and (min-width: 1200px) {
  .patientchart-div-left-text-div {
    width: 35%;
  }

  .patientchart-div-right-text-div {
    width: 35%;
  }
  .patientchart-div-right-text {
    font-size: 16px;
  }

  .patientchart-div-left-text {
    font-size: 16px;
  }
  .app-description-div {
    .app-description-div-left{
      width: 35%;
    }
    .app-description-div-right{
      width: 35%;
    }
    .app-description-text {
      font-size: 16px;
    }
  }
  .chart-div-teleplan {
    width: 27.5%;
    gap: 15%;
  }

  .care-starts-with {
    font-size: 18px;
  }

  .app-inside-texts {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .chart-div-eHealthViewer {
    width: 27.5%;
    gap: 15%;
  }

  .chart-div-pharmanet {
    width: 27.5%;
    gap: 15%;
  }

  .chart-div-hospital {
    width: 27.5%;
    gap: 15%;
  }

  .ecosystem-chart {
    margin-top: 0;
    width: 40%;
  }

  .negative-left {
    left: -16px;
  }

  .negative-right {
    right: -16px;
  }

  .inner-chart {
    // width: 40%;
  }

  .patient-img {
    width: 100px;
    height: 100px;
  }

  .doctor-img {
    width: 100px;
    height: 100px;
  }

  .clinic-img {
    width: 100px;
    height: 100px;
  }

  .patientchart-img {
    width: 100px;
    height: 100px;
  }

  .teleplan-img {
    width: 90px;
    height: 90px;
  }

  .eHealth-img {
    width: 90px;
    height: 90px;
  }

  .pharmaNet-img {
    width: 90px;
    height: 90px;
  }

  .hospital-img {
    width: 90px;
    height: 90px;
  }

  .app-phone-img {
    width: 100px;
    height: 100px;
  }

  .care-img {
    width: 50px;
    height: 50px;
    margin: auto auto;
  }

  .endPatient-div {
    width: 60%;
  }

  .endPatient-img {
    width: 100px;
    height: 100px;
  }

  // .bottom-doctors-img {
  //   width: 100px;
  //   height: 100px;
  //   margin-top: 10%;
  // }
  // .bottom-nurse-img {
  //   width: 100px;
  //   height: 100px;
  //   margin-top: 10%;
  // }
  .flip-card-front,
  .flip-card-back {
    padding: 15px;
  }

  .flip-card-back-text-title {
    font-size: 16px;
  }

  .flip-card-back-text {
    font-size: 12px;
  }

  .flip-card {
    width: 250px;
    height: 150px;
  }

  .arrow-right-svg {
    right: 41%;
  }

  .arrow-left-svg {
    left: 41%;
  }

  .gsap-card {
    width: 150px;
    height: 150px;
  }

  .gsap-card-front,
  .gsap-card-back {
    padding: 15px;
  }

  .top-div-description-div {
    .top-div-description-text {
      font-size: 16px;
    }
  }

  .patient-text {
    font-size: 16px;
  }

  .iclinicmd-text-inside {
    left: 27%;
    top: 30%;
    font-size: 16px;
  }

  .arrow-div-2-left-arrow-div {
    right: 51%;
  }

  .arrow-div-2-right-arrow-div {
    left: 51%;
  }
}

/*
=============================================
Animation
=============================================
*/
.clinic-visit-gsap,
.fadein-gsap,
.fadein-gsap2,
.fadein-gsap3,
.fadein-gsap4,
.fadein-gsap5 {
  opacity: 0;
}