/*
=============================================
GENERAL CSS
=============================================
*/

/*
=============================================
PATIENT DOCTOR DIV CSS
=============================================
*/
.patientDoctor-division {
    height: 100vh;
}

.patientDoctor-first-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 45%;
}

.clinic-image-div {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.patientchart-outer-img-div {
    box-shadow: var(--box-shadow);
    border: 1.5px solid rgb(192 192 255);
    padding: 15px;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patientchart-img-div {
    box-shadow: 0px 0px 12px 0px rgb(192 192 255);
    border: 3px solid rgb(192 192 255);
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patientchart-div {}

.patient-div {
    width: 35%;
}

.doctor-div {
    width: 35%;
}

.clinic-div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15%;
}

.arrow-left-svg {
    position: absolute;
    left: 30%;
}

.arrow-right-svg {
    position: absolute;
    right: 30%;
}

.svg-div {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    position: relative;
    width: 100%;
}

.svg-div-chart-inside {
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
}

.svg-div-chart {
    position: relative;
    align-items: center;
    width: 100%;
}

.svg-icon {
    width: 100%;
    height: 150px;
}

.svg-icon-down {
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}

.svg-icon-patientchart {
    width: 100%;
    height: 150px;
}

.svg-icon-linear {
    margin-top: auto;
    margin-bottom: auto;
}

.svg-icon-linear-reverse {
    position: absolute;
    top: 30%;
    right: 10%;
}

.svg-icon-linear-reverse-hospital {
    position: absolute;
    bottom: 150%;
    right: 18%;
}

.svg-icon-chart {
    position: absolute;
    width: 100%;
    height: 300px;
}

.svg-div-onchart {
    display: flex;
    padding-top: 10%;
}

.svg-icon-onchart {
    margin-left: auto;
    margin-right: auto;
}

.patient-img {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.doctor-img {
    width: 75px;
    width: 75px;
    display: flex;
    margin-left: auto;
    // margin-right: auto;
}

.clinic-img {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.patientchart-img {
    width: 75px;
    height: 75px;
}

/*
=============================================
CHART DIV CSS
=============================================
*/

.ring-div {
    background-color: transparent;
    border: 3px solid rgba(192, 192, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(192, 192, 255, 1);
    height: 33%;
    border-radius: 50%;
    width: 33%;
    top: 33.5%;
    left: 33.5%;
    position: absolute;
    z-index: -1;
}

.ring-div2 {
    background-color: transparent;
    border: 3px solid rgb(192, 192, 255);
    box-shadow: 0px 0px 10px 0px rgb(192 192 255);
    height: 75%;
    border-radius: 50%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    position: absolute;
    z-index: -1;
}

.chart-section-pad {
    display: flex;
    justify-content: center;
}

.ecosystem-chart-div {
    position: relative;
    height: 100vh;
}

.main-chart-div {
    position: relative;
    height: 100%;
}

.ecosystem-chart {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border: 1.5px solid rgba(192, 192, 255, 1);
    border-radius: 50%;
    z-index: 2;
    overflow: visible !important;
    width: 80%;
}

#donutchart {
    box-shadow: 0px 0px 12px 0px rgba(192, 192, 255, 1);
    border: 3px solid rgba(192, 192, 255, 1);
    border-radius: 50%;
}

.chart-parts-div {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 12.5vh;
    justify-content: space-evenly;
}

.chart-div-teleplan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-div-eHealthViewer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-div-pharmanet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-div-hospital {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teleplan-img {
    width: 50px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.eHealth-img {
    width: 50px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.pharmaNet-img {
    width: 50px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.hospital-img {
    width: 50px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.external-label {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 8px;
}

.flip-card {
    width: 85px;
    height: 100px;
    cursor: pointer;
    perspective: 1000px;
}

.flip-card-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: none;
}

.flip-card-back {
    background-color: none;
    transform: rotateY(180deg);
}

/*
=============================================
APP DIV CSS
=============================================
*/
.app-outer-div {
    box-shadow: var(--box-shadow);
    border: 1.5px solid rgb(192, 192, 255);
    padding: 15px;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.app-div {
    display: flex;
    box-shadow: 0px 0px 12px 0px rgb(192 192 255);
    border: 3px solid rgb(192 192 255);
    border-radius: 10px;
    padding: 15px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.app-phone-img {
    width: 75px;
    height: 75px;
}

/*
=============================================
BOTTOM PATIENT DIV CSS
=============================================
*/
.endPatient-div {
    margin-top: 2.5%;
    display: flex;
}

.endPatient-img {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    // width: 15%;
}

/*
=============================================
ARROW CSS
=============================================
*/
.dotted-path {
    stroke-dasharray: 3px 14px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-width: 15;
    animation: dash 30s linear infinite;
}

.dotted-path-reverse {
    stroke-dasharray: 3px 14px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-width: 15;
    animation: reverse-dash 30s linear infinite;
}

.linear-path-test {
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: 1, 15;
    stroke: var(--text-primary);
    fill: transparent;
    stroke-width: 3;
    animation: dash 30s linear infinite;
}

.linear-path-reverse-test {
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: 1, 15;
    stroke: var(--text-primary);
    fill: transparent;
    stroke-width: 3;
    animation: reverse-dash 30s linear infinite;
}

.linear-path {
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: 1, 15;
    stroke: rgb(203, 223, 237);
    fill: transparent;
    stroke-width: 3;
    animation: dash 30s linear infinite;
}

.linear-path-reverse {
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: 1, 15;
    stroke: rgb(203, 223, 237);
    fill: transparent;
    stroke-width: 3;
    animation: reverse-dash 30s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 600;
    }
}

@keyframes reverse-dash {
    from {
        stroke-dashoffset: 600;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.arrow-img {
    position: absolute;
    width: 2.5%;
    margin: 0;
    left: 38%;
    transform: translateY(10%);
    padding: 0;
}

.arrow-div-2 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.chart-arrow-div {
    display: flex;
    width: 100%;
    transform: rotate(90deg);
    margin-bottom: 100px;
    // height: 100%;
}

/*
=============================================
Mobile
=============================================
*/
@media only screen and (min-width: 576px) {
    .chart-arrow-div {
        width: 65%;
        margin-bottom: 75px;
    }

    .arrow-left-svg {
        left: 32.5%;
    }

    .arrow-right-svg {
        right: 32.5%;
    }

    .ecosystem-chart {
        width: 60%;
    }

    .chart-parts-div {
        bottom: 10vh;
    }

    .clinic-image-div {
        padding: 25px;
    }

    .patientchart-img-div {
        padding: 25px;
        width: 125px;
        height: 125px;
    }

    .patientchart-outer-img-div {
        padding: 25px;
        width: 145px;
        height: 145px;
    }

    .app-div {
        padding: 25px;
        width: 125px;
        height: 125px;
    }

    .app-outer-div {
        padding: 25px;
        width: 145px;
        height: 145px;
    }

    .flip-card-front,
    .flip-card-back {
        padding: 15px;
    }

    .flip-card {
        width: 100px;
        height: 100px;
        cursor: pointer;
        perspective: 1000px;
    }
}

/*
=============================================
TABLET
=============================================
*/
@media only screen and (min-width: 768px) {
    .svg-div-onchart {
        padding-top: 15%;
    }

    .arrow-left-svg {
        left: 35%;
    }

    .arrow-right-svg {
        right: 35%;
    }

    .chart-arrow-div {
        margin-bottom: 0;
        transform: rotate(0deg);
        align-items: center;
    }

    .ecosystem-chart {
        margin-top: 5%;
        width: 45%;
    }

    #donutchart {
        // top: 50%;
        // transform: translate(0, -50%);
    }

    .patientDoctor-first-div {
        padding-top: 30%;
    }

    .chart-parts-div {
        height: 100vh;
        left: 0;
        bottom: 0;
        display: block;
    }

    .chart-div-teleplan {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 0;
        width: 25%;
        gap: 10%;
    }

    .chart-div-eHealthViewer {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 10%;
        left: 6%;
        width: 25%;
        gap: 10%;
    }

    .rotate-eHealth {
        transform: translate(-25px, -100px) rotate(-40deg);
    }

    .rotate-hospital {
        transform: translate(25px, -100px) rotate(40deg);
    }

    .chart-div-pharmanet {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 40%;
        right: 0;
        width: 25%;
        gap: 10%;
    }

    .chart-div-hospital {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        bottom: 10%;
        right: 6%;
        width: 25%;
        gap: 10%;
    }

    .patient-img {
        width: 75px;
        height: 75px;
    }

    .doctor-img {
        width: 75px;
        height: 75px;
    }

    .clinic-img {
        width: 90px;
        height: 90px;
    }

    .patientchart-img {
        width: 75px;
        height: 75px;
    }

    .app-phone-img {
        width: 75px;
        height: 75px;
    }

    .endPatient-img {
        width: 75px;
        height: 75px;
    }

    .teleplan-img-div {
        display: flex;
        flex-direction: column;
    }

    .eHealth-img-div {
        display: flex;
        flex-direction: column;
    }

    .pharmanet-img-div {
        display: flex;
        flex-direction: column;
    }

    .hospital-img-div {
        display: flex;
        flex-direction: column;
    }

    .teleplan-img {
        width: 50px;
        height: 50px;
    }

    .eHealth-img {
        width: 50px;
        height: 50px;
    }

    .pharmaNet-img {
        width: 50px;
        height: 50px;
    }

    .hospital-img {
        width: 50px;
        height: 50px;
    }

    .flip-card-front,
    .flip-card-back {
        padding: 20px;
    }

    .flip-card {
        width: 150px;
        height: 125px;
        cursor: pointer;
        perspective: 1000px;
    }
}

/*
=============================================
SMALL DESKTOP
=============================================
*/

@media only screen and (min-width: 992px) {
    .chart-div-teleplan {
        width: 25%;
        gap: 10%;
    }

    .patientDoctor-first-div {
        padding-top: 16%;
    }

    .chart-div-eHealthViewer {
        width: 25%;
        gap: 10%;
    }

    .chart-div-pharmanet {
        width: 25%;
        gap: 10%;
    }

    .chart-div-hospital {
        width: 25%;
        gap: 10%;
    }

    .svg-div-onchart {
        padding-top: 6.5%;
    }

    .chart-arrow-div {
        // width: 75%;
    }

    .arrow-left-svg {
        left: 37.5%;
    }

    .arrow-right-svg {
        right: 37.5%;
    }

    .external-label {
        font-size: 16px;
    }

    .ecosystem-chart {
        margin-top: 5%;
        width: 45%;
    }

    .inner-chart {
        // width: 50%;
    }

    .patient-img {
        width: 90px;
        height: 90px;
    }

    .doctor-img {
        width: 90px;
        height: 90px;
    }

    .clinic-img {
        width: 105px;
        height: 105px;
    }

    .patientchart-img {
        width: 90px;
        height: 90px;
    }

    .app-phone-img {
        width: 90px;
        height: 90px;
    }

    .endPatient-img {
        width: 90px;
        height: 90px;
    }

    .teleplan-img {
        width: 50px;
        height: 50px;
    }

    .eHealth-img {
        width: 50px;
        height: 50px;
    }

    .pharmaNet-img {
        width: 50px;
        height: 50px;
    }

    .hospital-img {
        width: 50px;
        height: 50px;
    }
}

/*
=============================================
DESKTOP
=============================================
*/
@media only screen and (min-width: 1200px) {
    .chart-div-teleplan {
        width: 27.5%;
        gap: 15%;
    }

    .chart-div-eHealthViewer {
        width: 27.5%;
        gap: 15%;
    }

    .chart-div-pharmanet {
        width: 27.5%;
        gap: 15%;
    }

    .chart-div-hospital {
        width: 27.5%;
        gap: 15%;
    }

    .ecosystem-chart {
        margin-top: 0;
        width: 40%;
    }

    .inner-chart {
        // width: 40%;
    }

    .patient-img {
        width: 100px;
        height: 100px;
    }

    .doctor-img {
        width: 100px;
        height: 100px;
    }

    .clinic-img {
        width: 125px;
        height: 125px;
    }

    .patientchart-img {
        width: 100px;
        height: 100px;
    }

    .teleplan-img {
        width: 90px;
        height: 90px;
    }

    .eHealth-img {
        width: 90px;
        height: 90px;
    }

    .pharmaNet-img {
        width: 90px;
        height: 90px;
    }

    .hospital-img {
        width: 90px;
        height: 90px;
    }

    .app-phone-img {
        width: 100px;
        height: 100px;
    }

    .endPatient-img {
        width: 100px;
        height: 100px;
    }

    .flip-card-front,
    .flip-card-back {
        padding: 15px;
    }

    .flip-card {
        width: 200px;
        height: 150px;
        cursor: pointer;
        perspective: 1000px;
    }
}