<div class="custom-container" #container>
  <div class="gsap-container">
    <!-- patient doctor merge animation div -->
    <section class="patientDoctor-division">
      <div class="patient-div">
        <img src="./assets/images/ecosystem/revised-patient-light.png" alt=" " class="patient-img"
          *ngIf="colorSchemeService.colorScheme === 'light'" />
        <img src="./assets/images/ecosystem/revised-patient-pd.png" alt=" " class="patient-img"
          *ngIf="colorSchemeService.colorScheme === 'dark'" />

        <!-- <div class="indicator rotate-right">
          <span></span>
          <span></span>
          <span></span>
          <span *ngIf="desktop || largedesktop"></span>
          <span *ngIf="desktop || largedesktop"></span>
        </div> -->
        <!-- <svg id="demo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 800 600">
          <path id="base-path" d="M 50 300 Q 300 300 750 300 " />
          <path class="dotted-path dotted-path-base" d="M 50 300 Q 300 300 750 300 " />
          <path class="dotted-path dotted-path-middle" d="M 50 300 Q 300 300 750 300 " />
          <path class="dotted-path dotted-path-upper" d="M 50 300 Q 300 300 750 300 " />
        </svg> -->

      </div>
      <img src="./assets/images/ecosystem/arrow-right-pincaigreen.png" alt=" " class="arrow-img" />
      <div class="clinic-div">
        <img src="./assets/images/ecosystem/revised-clinic.png" alt=" " class="clinic-img"
          *ngIf="colorSchemeService.colorScheme === 'dark'" />
        <img src="./assets/images/ecosystem/revised-clinic-light.png" alt=" " class="clinic-img"
          *ngIf="colorSchemeService.colorScheme === 'light'" />
        <!-- <div class="indicator-pad indicator rotate-down">
          <span></span>
          <span></span>
          <span></span>
          <span *ngIf="desktop || largedesktop"></span>
          <span *ngIf="desktop || largedesktop"></span>
        </div> -->
        <div class="d-flex svg-div">
          <svg class="svg-icon" viewBox="0 0 300 300">
            <g transform="translate(100,75)" fill="rgb(88,194,183)" stroke="rgb(88,194,183)">
              <path class="dotted-path" d="M50,200 C50,200 50,-200 50,-200"></path>
            </g>
            <g transform="translate(150,275)" fill="rgb(88,194,183)" stroke="rgb(88,194,183)">
              <path
                d=" M0,10.875 C0,10.875 -27.71299934387207,-10.875 -27.71299934387207,-10.875 C-27.71299934387207,-10.875 27.71299934387207,-10.875 27.71299934387207,-10.875 C27.71299934387207,-10.875 0,10.875 0,10.875z">
              </path>
            </g>
          </svg>
        </div>
      </div>
      <img src="./assets/images/ecosystem/arrow-right-pincaigreen.png" alt=" "
        class="arrow-img-right rotate-right-two " />
      <div class="doctor-div">
        <!-- <div class="indicator rotate-left">
          <span></span>
          <span></span>
          <span></span>
          <span *ngIf="desktop || largedesktop"></span>
          <span *ngIf="desktop || largedesktop"></span>
        </div> -->
        <img src="./assets/images/ecosystem/doctor.png" alt=" " class="doctor-img"
          *ngIf="colorSchemeService.colorScheme === 'dark'" />
        <img src="./assets/images/ecosystem/doctor-light.png" alt=" " class="doctor-img"
          *ngIf="colorSchemeService.colorScheme === 'light'" />
      </div>
      <div class="patientchart-div">
        <img src="./assets/images/ecosystem/revised-patientchart-iclinicblue.png" alt=" " class="patientchart-img"
          *ngIf="colorSchemeService.colorScheme === 'dark'" />
        <img src="./assets/images/ecosystem/revised-patient-chart-light.png" alt=" " class="patientchart-img"
          *ngIf="colorSchemeService.colorScheme === 'light'" />
      </div>
    </section>

    <section class="section-pad"></section>
    <section class="section-pad"></section>
    <!-- END patient doctor merge animation div -->

    <!-- CHART DIV -->
    <section class="ecosystem-chart-div">
      <div [ngClass]="
          tablet || desktop || largedesktop ? 'abovechart-arrow-div' : 'd-none'
        ">
        <div class="indicator rotate-down">
          <span></span>
          <span></span>
          <span></span>
          <span *ngIf="desktop || largedesktop"></span>
          <span *ngIf="desktop || largedesktop"></span>
        </div>
      </div>
      <div class="main-chart-div">
        <div *ngIf="mobile" class="ecosystem-chart">
          <canvas baseChart [data]="doughnutChartDataMobile" [type]="doughnutChartType" [options]="chartOptions"
            id="donutchart"></canvas>
        </div>
        <div *ngIf="tablet" class="ecosystem-chart">
          <canvas baseChart [data]="doughnutChartDataTablet" [type]="doughnutChartType" [options]="chartOptions"
            id="donutchart"></canvas>
        </div>
        <div *ngIf="desktop || largedesktop" class="ecosystem-chart">
          <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType" [options]="chartOptions"
            id="donutchart"></canvas>
        </div>
        <div class="inner-chart">
          <canvas baseChart [data]="doughnutChartData2" [type]="doughnutChartType2" [options]="chartOptions2"
            id="donutchart2"></canvas>
        </div>
      </div>
      <div class="chart-parts-div">
        <div class="chart-div-teleplan">
          <div class="chart-arrow-div" [ngClass]="
              tablet || desktop || largedesktop
                ? 'order-2 rotate-teleplan'
                : 'order-1'
            ">
            <div class="indicator rotate-top">
              <span></span>
              <span></span>
              <span></span>
              <span *ngIf="desktop || largedesktop"></span>
              <span *ngIf="desktop || largedesktop"></span>
            </div>
            <div class="chart-gapline"></div>
            <div class="indicator rotate-down">
              <span></span>
              <span></span>
              <span></span>
              <span *ngIf="desktop || largedesktop"></span>
              <span *ngIf="desktop || largedesktop"></span>
            </div>
          </div>
          <div class="teleplan-img-div" [ngClass]="
              tablet || desktop || largedesktop
                ? 'order-1'
                : 'd-flex flex-column order-2'
            ">
            <img src="./assets/images/ecosystem/teleplan2.png" alt=" " class="teleplan-img"
              *ngIf="colorSchemeService.colorScheme === 'dark'" />
            <img src="./assets/images/ecosystem/teleplan-light.png" alt=" " class="teleplan-img"
              *ngIf="colorSchemeService.colorScheme === 'light'" />
            <p class="external-label">Teleplan</p>
          </div>
        </div>

        <div class="chart-div-eHealthViewer">
          <div class="chart-arrow-div" [ngClass]="
              tablet || desktop || largedesktop
                ? 'order-2 rotate-eHealth'
                : 'order-1'
            ">
            <div class="indicator rotate-top">
              <span></span>
              <span></span>
              <span></span>
              <span *ngIf="desktop || largedesktop"></span>
              <span *ngIf="desktop || largedesktop"></span>
            </div>
            <div class="chart-gapline"></div>
            <div class="indicator rotate-down">
              <span></span>
              <span></span>
              <span></span>
              <span *ngIf="desktop || largedesktop"></span>
              <span *ngIf="desktop || largedesktop"></span>
            </div>
          </div>
          <div class="eHealth-img-div" [ngClass]="
              tablet || desktop || largedesktop
                ? 'order-1'
                : 'd-flex flex-column order-2'
            ">
            <img src="./assets/images/ecosystem/eHealth.png" alt=" " class="eHealth-img"
              *ngIf="colorSchemeService.colorScheme === 'dark'" />
            <img src="./assets/images/ecosystem/eHealth-light.png" alt=" " class="eHealth-img"
              *ngIf="colorSchemeService.colorScheme === 'light'" />
            <p class="external-label">eHealth Viewer</p>
          </div>
        </div>

        <div class="chart-div-pharmanet">
          <div class="chart-arrow-div" [ngClass]="
              tablet || desktop || largedesktop ? 'rotate-pharmanet' : ''
            ">
            <div class="indicator rotate-top">
              <span></span>
              <span></span>
              <span></span>
              <span *ngIf="desktop || largedesktop"></span>
              <span *ngIf="desktop || largedesktop"></span>
            </div>
            <div class="chart-gapline"></div>
            <div class="indicator rotate-down">
              <span></span>
              <span></span>
              <span></span>
              <span *ngIf="desktop || largedesktop"></span>
              <span *ngIf="desktop || largedesktop"></span>
            </div>
          </div>
          <div class="pharmanet-img-div" [ngClass]="desktop || largedesktop ? '' : 'd-flex flex-column'">
            <img src="./assets/images/ecosystem/pharmaNet.png" alt=" " class="pharmaNet-img"
              *ngIf="colorSchemeService.colorScheme === 'dark'" />
            <img src="./assets/images/ecosystem/pharmaNet-light.png" alt=" " class="pharmaNet-img"
              *ngIf="colorSchemeService.colorScheme === 'light'" />
            <p class="external-label">PharmaNet</p>
          </div>
        </div>

        <div class="chart-div-hospital">
          <div class="chart-arrow-div" [ngClass]="
              tablet || desktop || largedesktop ? 'rotate-hospital' : ''
            ">
            <div class="indicator rotate-top">
              <span></span>
              <span></span>
              <span></span>
              <span *ngIf="desktop || largedesktop"></span>
              <span *ngIf="desktop || largedesktop"></span>
            </div>
            <div class="chart-gapline"></div>
            <div class="indicator rotate-down">
              <span></span>
              <span></span>
              <span></span>
              <span *ngIf="desktop || largedesktop"></span>
              <span *ngIf="desktop || largedesktop"></span>
            </div>
          </div>
          <div class="hospital-img-div" [ngClass]="desktop || largedesktop ? '' : 'd-flex flex-column'">
            <img src="./assets/images/ecosystem/hospital.png" alt=" " class="hospital-img"
              *ngIf="colorSchemeService.colorScheme === 'dark'" />
            <img src="./assets/images/ecosystem/hospital-light.png" alt=" " class="hospital-img"
              *ngIf="colorSchemeService.colorScheme === 'light'" />
            <p class="external-label">Hospital</p>
          </div>
        </div>
        <div [ngClass]="
            tablet || desktop || largedesktop
              ? 'belowchart-arrow-div'
              : 'd-none'
          ">
          <div class="indicator rotate-down">
            <span></span>
            <span></span>
            <span></span>
            <span *ngIf="desktop || largedesktop"></span>
            <span *ngIf="desktop || largedesktop"></span>
          </div>
        </div>
      </div>
    </section>
    <section class="chart-section-pad"></section>
    <!-- <section class="section-pad"></section> -->
    <!-- END CHART DIV -->

    <div class="arrow-div-2">
      <div class="indicator rotate-top">
        <span></span>
        <span></span>
        <span></span>
        <span *ngIf="desktop || largedesktop"></span>
        <span *ngIf="desktop || largedesktop"></span>
      </div>
      <div class="gapline"></div>
      <div class="indicator rotate-down">
        <span></span>
        <span></span>
        <span></span>
        <span *ngIf="desktop || largedesktop"></span>
        <span *ngIf="desktop || largedesktop"></span>
      </div>
    </div>

    <!-- APP DIV -->
    <div class="app-div">
      <img src="./assets/images/ecosystem/app-iclinicblue.png" alt=" " class="app-phone-img"
        *ngIf="colorSchemeService.colorScheme === 'dark'" />
      <img src="./assets/images/ecosystem/app-light.png" alt=" " class="app-phone-img"
        *ngIf="colorSchemeService.colorScheme === 'light'" />
    </div>
    <!-- END APP DIV -->

    <div class="arrow-div-2">
      <div class="indicator rotate-top">
        <span></span>
        <span></span>
        <span></span>
        <span *ngIf="desktop || largedesktop"></span>
        <span *ngIf="desktop || largedesktop"></span>
      </div>
      <div class="gapline"></div>
      <div class="indicator rotate-down">
        <span></span>
        <span></span>
        <span></span>
        <span *ngIf="desktop || largedesktop"></span>
        <span *ngIf="desktop || largedesktop"></span>
      </div>
    </div>

    <!-- PATIENT DIV -->
    <div class="endPatient-div">
      <img src="./assets/images/ecosystem/revised-patient-pd.png" alt=" " class="endPatient-img"
        *ngIf="colorSchemeService.colorScheme === 'dark'" />
      <img src="./assets/images/ecosystem/revised-patient-light.png" alt=" " class="endPatient-img"
        *ngIf="colorSchemeService.colorScheme === 'light'" />
    </div>
    <!-- END PATIENT DIV -->
  </div>
</div>
<app-footer></app-footer>