/*
=============================================
GENERAL CSS
=============================================
*/
.section-pad {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
}

/*
=============================================
PATIENT DOCTOR DIV CSS
=============================================
*/
.patientDoctor-division {
  height: 100vh;
}

.patientDoctor-first-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 16%;
}

.clinic-image-div {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  padding: 25px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.patientchart-img-div {
  box-shadow: var(--box-shadow);
  padding: 25px;
  width: 125px;
  height: 125px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patientchart-div {
  // margin-top: 2.5%;
  // display: flex;
  // flex-direction: column;
  // width: 25%;
  // // position: absolute;
  // bottom: 15%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.patient-div {
  width: 35%;
  // justify-content: space-between;
  // align-items: center;
  // padding-bottom: 15%;
}

.doctor-div {
  width: 35%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding-bottom: 15%;
}

.clinic-div {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15%;
}

.svg-div {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  position: relative;
  width: 100%;
}

.svg-div-chart-inside {
  position: absolute;
  bottom: 0;
  align-items: center;
  width: 100%;
}

.svg-div-chart {
  position: relative;
  align-items: center;
  width: 100%;
}

.svg-icon {
  // position: absolute;
  // margin-top: 15%;
  width: 100%;
  height: 300px;
}

.svg-icon-patientchart {
  // position: absolute;
  // margin-top: 15%;
  width: 100%;
  height: 300px;
}

.svg-icon-linear {
  // position: absolute;
  // top: 30%;
  // right: -70%;
  margin-top: auto;
  margin-bottom: auto;
}

.svg-icon-linear-reverse {
  position: absolute;
  top: 30%;
  right: 10%;
}

.svg-icon-linear-reverse-hospital {
  position: absolute;
  bottom: 150%;
  right: 18%;
}

.svg-icon-chart {
  position: absolute;
  width: 100%;
  height: 300px;
}

.svg-div-onchart {
  display: flex;
  padding-top: 8.5%;
}

.svg-icon-onchart {
  margin-left: auto;
  margin-right: auto;
}

.patient-img {
  width: 75px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

.doctor-img {
  width: 75px;
  width: 75px;
  display: flex;
  margin-left: auto;
  // margin-right: auto;
}

.clinic-img {
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}

.patientchart-img {
  // position: absolute;
  // left: 30%;
  // margin-top: -37.5%;
  // width: 60%;
  width: 90px;
  height: 90px;
}

/*
=============================================
CHART DIV CSS
=============================================
*/

.inner-chart {
  display: absolute;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.ring-div {
  background-color: transparent;
  border: 3px solid rgba(192,192,255,1);
  box-shadow: 0px 0px 10px 0px rgba(192,192,255,1);
  height: 15%;
  border-radius: 50%;
  width: 10%;
  top: 42.5%;
  left: 45%;
  position: absolute;
} 
.ring-div2 {
  background-color: transparent;
  border: 3px solid rgba(192,192,255,1);
  box-shadow: 0px 0px 10px 0px rgba(192,192,255,1);
  height: 36.5%;
  border-radius: 50%;
  width: 25%;
  top: 32%;
  left: 37.5%;
  position: absolute;
} 
.chart-section-pad {
  display: flex;
  justify-content: center;
}

.ecosystem-chart-div {
  position: relative;
  height: 100vh;
}

.main-chart-div {
  height: 100vh;
}

.ecosystem-chart {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: var(--box-shadow);
  border: 1.5px solid rgba(192,192,255,1);
  border-radius: 50%;
  height: 58%;
}

#donutchart {
  position: absolute;
  z-index: 2;
  top: 25%;
  transform: translate(0, -25%);
  box-shadow: 0px 0px 12px 0px rgba(192,192,255,1);
  border: 3px solid rgba(192,192,255,1);
  border-radius: 50%;
}

#donutchart2 {
  position: absolute;
  z-index: 1;
  top: 25%;
  transform: translate(0, -25%);
}

.chart-parts-div {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 10vh;
  justify-content: space-evenly;
}

.teleplan-img {
  width: 50px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.eHealth-img {
  width: 50px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.pharmaNet-img {
  width: 50px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.hospital-img {
  width: 50px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.external-label {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 8px;
}

/*
=============================================
APP DIV CSS
=============================================
*/
.app-div {
  display: flex;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 25px;
  width: 125px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.app-phone-img {
  width: 90px;
  height: 90px;
}

/*
=============================================
BOTTOM PATIENT DIV CSS
=============================================
*/
.endPatient-div {
  margin-top: 2.5%;
  display: flex;
}

.endPatient-img {
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  // width: 15%;
}

/*
=============================================
ARROW CSS
=============================================
*/
.dotted-path {
  stroke-dasharray: 3px 7px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-width: 15;
  animation: dash 30s linear infinite;
}

.dotted-path-reverse {
  stroke-dasharray: 3px 7px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-width: 15;
  animation: reverse-dash 30s linear infinite;
}

.linear-path {
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: 1, 15;
  stroke: rgb(203, 223, 237);
  stroke-width: 3;
  animation: dash 30s linear infinite;
}

.linear-path-reverse {
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: 1, 15;
  stroke: rgb(203, 223, 237);
  stroke-width: 3;
  animation: reverse-dash 30s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 600;
  }
}

@keyframes reverse-dash {
  from {
    stroke-dashoffset: 600;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.arrow-img {
  position: absolute;
  width: 2.5%;
  margin: 0;
  left: 38%;
  transform: translateY(10%);
  padding: 0;
}

.arrow-img-right {
  position: absolute;
  width: 2.5%;
  margin: 0;
  right: 38%;
  transform: translateY(10%) rotate(180deg);
  padding: 0;
}

.arrow-div {
  padding-top: 75px;
}

.abovechart-arrow-div {
  padding-top: 10vh;
}

.belowchart-arrow-div {
  padding-top: 75vh;
}

.arrow-div-2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.gapline {
  border-left: 2px solid white;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: gaplineanimate 3s ease infinite;
  transform: rotate(0deg) !important;
}

.chart-arrow-div {
  display: flex;
  width: 65%;
  // height: 100%;
  align-items: center;
}

.chart-gapline {
  border-left: 2px solid white;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: gaplineanimate 3s ease infinite;
  transform: rotate(0deg) !important;
}

@keyframes gaplineanimate {
  0% {
    background-position: 0% 51%;
    border-color: #ffd64a;
  }

  50% {
    background-position: 100% 50%;
    border-color: #ffffff;
  }

  100% {
    background-position: 0% 51%;
    border-color: #ffd64a;
  }
}

/*
=============================================
MOBILE
=============================================
*/
@media only screen and (min-width: 576px) {
  .svg-icon {
    // margin-top: 15%;
    height: 150px;
  }

  .svg-icon-down {
    margin-left: auto;
    margin-right: auto;
    height: 75px;
  }

  .svg-icon-patientchart {
    height: 150px;
  }

  .chart-arrow-div {
    // margin-bottom: 50px;
  }

  .ecosystem-chart {
    width: 62.5%;
  }

  .inner-chart {
    width: 62.5%;
  }
}

/*
=============================================
TABLET
=============================================
*/
@media only screen and (min-width: 768px) {
  .chart-arrow-div {
    // width: 50%;
  }

  .ecosystem-chart {
    width: 60%;
  }

  .inner-chart {
    width: 60%;
  }

  #donutchart {
    top: 50%;
    transform: translate(0, -50%);
  }

  #donutchart2 {
    top: 50%;
    transform: translate(0, -50%);
  }

  .chart-parts-div {
    height: 100vh;
    left: 0;
    bottom: 0;
    display: block;
  }

  .chart-div-teleplan {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 27.5%;
    gap: 15%;
  }

  .chart-div-eHealthViewer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 6%;
    width: 27.5%;
    gap: 15%;
  }

  .chart-div-pharmanet {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 0;
    width: 27.5%;
    gap: 15%;
  }

  .chart-div-hospital {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 6%;
    width: 27.5%;
    gap: 15%;
  }

  .patient-img {
    width: 75px;
    height: 75px;
  }

  .doctor-img {
    width: 75px;
    height: 75px;
  }

  .clinic-img {
    width: 90px;
    height: 90px;
  }

  .patientchart-img {
    width: 75px;
    height: 75px;
  }

  .app-phone-img {
    width: 75px;
    height: 75px;
  }
  .endPatient-img {
    width: 75px;
    height: 75px;
  }

  .teleplan-img-div {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .eHealth-img-div {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .pharmanet-img-div {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .hospital-img-div {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .teleplan-img {
    width: 50px;
    height: 50px;
  }

  .eHealth-img {
    width: 50px;
    height: 50px;
  }

  .pharmaNet-img {
    width: 50px;
    height: 50px;
  }

  .hospital-img {
    width: 50px;
    height: 50px;
  }
}

/*
=============================================
SMALL DESKTOP
=============================================
*/
@media only screen and (min-width: 992px) {
  .chart-arrow-div {
    // width: 75%;
  }

  .external-label {
    font-size: 16px;
  }

  .ecosystem-chart {
    
    width: 50%;
  }

  .inner-chart {
    width: 50%;
  }

  .patient-img {
    width: 90px;
    height: 90px;
  }

  .doctor-img {
    width: 90px;
    height: 90px;
  }

  .clinic-img {
    width: 105px;
    height: 105px;
  }

  .patientchart-img {
    width: 90px;
    height: 90px;
  }

  .app-phone-img {
    width: 90px;
    height: 90px;
  }

  .endPatient-img {
    width: 90px;
    height: 90px;
  }

  .teleplan-img {
    width: 50px;
    height: 50px;
  }

  .eHealth-img {
    width: 50px;
    height: 50px;
  }

  .pharmaNet-img {
    width: 50px;
    height: 50px;
  }

  .hospital-img {
    width: 50px;
    height: 50px;
  }
}

/*
=============================================
DESKTOP
=============================================
*/
@media only screen and (min-width: 1200px) {
  .ecosystem-chart {
    width: 40%;
  }

  .inner-chart {
    width: 40%;
  }
  .patient-img {
    width: 100px;
    height: 100px;
  }

  .doctor-img {
    width: 100px;
    height: 100px;
  }

  .clinic-img {
    width: 125px;
    height: 125px;
  }

  .patientchart-img {
    width: 100px;
    height: 100px;
  }

  .teleplan-img {
    width: 90px;
    height: 90px;
  }

  .eHealth-img {
    width: 90px;
    height: 90px;
  }

  .pharmaNet-img {
    width: 90px;
    height: 90px;
  }

  .hospital-img {
    width: 90px;
    height: 90px;
  }

  .app-phone-img {
    width: 100px;
    height: 100px;
  }

  .endPatient-img {
    width: 100px;
    height: 100px;
  }
}
