/*
=============================================
GENERAL CSS
=============================================
*/
.section-pad {
    height: 100vh;
    display: flex;
    justify-content: center;
}

/*
=============================================
PATIENT DOCTOR DIV CSS
=============================================
*/
.patientDoctor-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    align-items: center;
}

.patientchart-div {
    display: flex;
    width: 25%;
    position: absolute;
    bottom: 5%;
}

.patient-div {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12.5%;
    /* gap: 5vw; */
}

.doctor-div {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12.5%;
    /* gap: 5vw; */
}

.clinic-div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12.5%;
}
.chart-div-teleplan {
    transform: translate(5%,0px) !important;
}

.patient-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.doctor-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.clinic-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.patientchart-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*
=============================================
CHART DIV CSS
=============================================
*/
.chart-section-pad {
    height: 1px;
    display: flex;
    justify-content: center;
}

.ecosystem-chart-div {
    position: relative;
    height: 100vh;
}

.main-chart-div {
    display: flex;
}

.ecosystem-chart {
    padding-top: 7.5vh;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.inner-chart {
    padding-top: 7.5vh;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.chart-parts-div {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 10vh;
    justify-content: space-evenly;
}

.teleplan-img {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
    margin-left:auto;
    margin-right:auto;
}

.eHealth-img {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
    margin-left:auto;
    margin-right:auto;
}

.pharmaNet-img {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
    margin-left:auto;
    margin-right:auto;
}

.hospital-img {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
    margin-left:auto;
    margin-right:auto;
}
.external-label{
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    padding-top: 8px;
}
/* 
=============================================
APP DIV CSS
=============================================
*/
.app-div {
    display: flex;
}

.app-phone-img {
    margin-left: auto;
    margin-right: auto;
    width: 17.5%;
    align-items: center;
    vertical-align: center;
    text-align: center;
}

/* 
=============================================
BOTTOM PATIENT DIV CSS
=============================================
*/
.endPatient-div {
    display: flex;
}

.endPatient-img {
    margin-left: auto;
    margin-right: auto;
    width: 17.5%
}

/*
=============================================
ARROW CSS
=============================================
*/
.indicator {
    position: relative;
    width: 3vw;
    height: 3vw;
    max-width: 40px;
    max-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.indicator-pad {
    position: absolute;
    bottom: 40%;
}

.rotate-down {
    transform: rotate(45deg);
}

.rotate-right {
    transform: rotate(-45deg);
}

.rotate-left {
    transform: rotate(135deg);
}

.rotate-top {
    transform: rotate(225deg);
}

.rotate-teleplan {
    transform: translateX(45px) translateY(100px) rotate(-55deg);
}

.rotate-eHealth {
    transform: translateX(45px) translateY(-25px) rotate(55deg);
}

.rotate-pharmanet {
    transform: translateX(-45px) translateY(100px) rotate(55deg);
}

.rotate-hospital {
    transform: translateX(-45px) translateY(-25px) rotate(-55deg);
}

.indicator span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    animation: indicatoranimate 1s linear infinite;
}

.indicator span:nth-child(1) {
    top: -70%;
    left: -70%;
    animation-delay: 0s;
}

.indicator span:nth-child(2) {
    top: -35%;
    left: -35%;
    animation-delay: 0.2s;
}

.indicator span:nth-child(3) {
    top: 0;
    left: 0;
    animation-delay: 0.4s;
}

.indicator span:nth-child(4) {
    top: 35%;
    left: 35%;
    animation-delay: 0.6s;
}

.indicator span:nth-child(5) {
    top: 70%;
    left: 70%;
    animation-delay: 0.8s;
}


@keyframes indicatoranimate {
    0% {
        border-color: #fff;
        transform: translate(0, 0);
    }

    20% {
        border-color: #fff;
        transform: translate(15px, 15px);
    }

    20.1%,
    100% {
        border-color: #ffd64a;
    }
}
.arrow-div{
    padding-top: 75px;
}
.arrow-div-2 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.gapline {
    border-left: 2px solid white;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: gaplineanimate 3s ease infinite;
    transform: rotate(0deg) !important;
}

.chart-arrow-div {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.chart-gapline {
    border-left: 2px solid white;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: gaplineanimate 3s ease infinite;
    transform: rotate(0deg) !important;
}

@keyframes gaplineanimate {
    0% {
        background-position: 0% 51%;
        border-color: #ffd64a
    }

    50% {
        background-position: 100% 50%;
        border-color: #ffffff
    }

    100% {
        background-position: 0% 51%;
        border-color: #ffd64a
    }
}

@media only screen and (min-width: 576px) {
    .chart-arrow-div {
        margin-bottom: 50px;
    }

    .ecosystem-chart {
        width: 75%;
    }

    .inner-chart {
        width: 75%;
    }
}

@media only screen and (min-width: 768px) {
    .chart-arrow-div {
        margin-bottom: 50px;
    }

    .ecosystem-chart {
        width: 55%;
    }

    .inner-chart {
        width: 55%;
    }

    .patient-img {
        width: 60%;
    }

    .doctor-img {
        width: 60%;
    }

    .clinic-img {
        width: 60%;
    }

    .patientchart-img {
        width: 60%;
    }

    .app-phone-img {
        width: 15%;
    }

    .endPatient-img {
        width: 15%;
    }

    .teleplan-img {
        width: 7.5vw;
        height: 7.5vw;
    }

    .eHealth-img {
        width: 7.5vw;
        height: 7.5vw;
    }

    .pharmaNet-img {
        width: 7.5vw;
        height: 7.5vw;
    }

    .hospital-img {
        width: 7.5vw;
        height: 7.5vw;
    }
}

@media only screen and (min-width: 992px) {
    .indicator {
        width: 1.25vw;
        height: 1.25vw;
        max-width: 40px;
        max-height: 40px;
    }

    .chart-arrow-div {
        margin-bottom: 50px;
    }
    .external-label{
        font-size: 16px;
    }
    .ecosystem-chart {
        top: 10%;
        width: 55%;
    }

    .inner-chart {
        top: 10%;
        width: 55%;
    }

    .chart-parts-div {
        height: 100vh;
        left: 0;
        bottom: 0;
        display: block;
    }

    .patient-img {
        width: 40%;
    }

    .doctor-img {
        width: 40%;
    }

    .clinic-img {
        width: 40%;
    }

    .patientchart-img {
        width: 40%;
    }

    .app-phone-img {
        width: 10%;
    }

    .endPatient-img {
        width: 10%;
    }

    .chart-div-teleplan {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10%;
        left: 5%;
        gap: 2.5vw;
    }

    .chart-div-eHealthViewer {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10%;
        left: 5%;
        gap: 2.5vw;
    }

    .chart-div-pharmanet {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10%;
        right: 5%;
        gap: 2.5vw;
    }

    .chart-div-hospital {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10%;
        right: 5%;
        gap: 2.5vw;
    }

    .teleplan-img {
        width: 10vw;
        height: 10vw;
    }

    .eHealth-img {
        width: 10vw;
        height: 10vw;
    }

    .pharmaNet-img {
        width: 10vw;
        height: 10vw;
    }

    .hospital-img {
        width: 10vw;
        height: 10vw;
    }
}

/* bootstrap large */
@media only screen and (min-width: 1200px) {
    
    .ecosystem-chart {
        width: 40%;
    }

    .inner-chart {
        width: 40%;
    }

    .teleplan-img {
        width: 120px;
        height: 120px;
    }

    .eHealth-img {
        width: 120px;
        height: 120px;
    }

    .pharmaNet-img {
        width: 120px;
        height: 120px;
    }

    .hospital-img {
        width: 120px;
        height: 120px;
    }

    .patient-img {
        width: 30%;
    }

    .doctor-img {
        width: 30%;
    }

    .clinic-img {
        width: 30%;
    }

    .patientchart-img {
        width: 30%;
    }

    .app-phone-img {
        width: 7.5%;
    }

    .endPatient-img {
        width: 7.5%;
    }
}