/*
=============================================
GENERAL CSS
=============================================
*/
.section-pad {
    height: 100vh;
    display: flex;
    justify-content: center;
}

/*
=============================================
PATIENT DOCTOR DIV CSS
=============================================
*/
.patientDoctor-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    align-items: center;
}
.doctor-patient-div {
    display: flex;
    justify-content: center;
    /* margin-top: -150px; */
    margin-bottom: 100px;
}

.patient-div {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 5vw; */
}
.doctor-div {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 5vw; */
}
.clinic-div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.patient-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.doctor-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.clinic-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.teleplan2-img {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

/*
=============================================
CHART DIV CSS
=============================================
*/
.chart-section-pad {
    height: 1px;
    display: flex;
    justify-content: center;
}

.ecosystem-chart-div {
    position: relative;
    height: 100vh;
}

.main-chart-div {
    display: flex;
}

.ecosystem-chart {
    padding-top: 10vh;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.inner-chart {
    padding-top: 10vh;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* 
=============================================
APP DIV CSS
=============================================
*/
.app-div {
    display: flex;
}

.app-phone-img {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    align-items: center;
    vertical-align: center;
    text-align: center;
}

/* 
=============================================
BOTTOM PATIENT DIV CSS
=============================================
*/
.endPatient-div {
    display: flex;
}

.endPatient-img {
    margin-left: auto;
    margin-right: auto;
    width: 20%
}

/*
=============================================
ARROW CSS
=============================================
*/
/* .big-down-arrow {
    margin-left: auto;
    margin-right: auto;
    color: #06A8FF;
    transform: rotate(90deg) !important;
    font-size: 10em;
    animation: animate 4s infinite;
} */
.big-down-arrow {
    position: relative;
    margin-top: 100px;
    width: 30%;
    height: 15px;
    transform: rotate(90deg);
    display: flex;
}

.big-down-arrow:before {
    content: "";
    background: #ffd64a;
    width: 6px;
    clip-path: polygon(0 10px, calc(100% - 15px) 10px, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, calc(100% - 15px) calc(100% - 10px), 0 calc(100% - 10px));
    animation: downarrow 3s infinite linear normal;
}

@keyframes downarrow {
    0% {
        opacity: 0;
        stroke-dashoffset: 10;
    }

    50% {
        opacity: 1;
    }

    90% {
        flex-grow: 1
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 22;
        flex-grow: 1;

    }
}

.arrow-div-2 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.gapline {
    border-left: 2px solid white;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: gaplineanimate 3s ease infinite;
    transform: rotate(0deg) !important;
}

.chart-arrow-div {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75%;
}

.chart-gapline {
    border-left: 2px solid white;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: gaplineanimate 3s ease infinite;
    transform: rotate(0deg) !important;
}

@keyframes gaplineanimate {
    0% {
        background-position: 0% 51%;
        border-color: #ffd64a
    }

    50% {
        background-position: 100% 50%;
        border-color: #ffffff
    }

    100% {
        background-position: 0% 51%;
        border-color: #ffd64a
    }
}

/* TEST */
.indicator {
    position: relative;
    width: 1.25vw;
    height: 1.25vw;
    max-width: 40px;
    max-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.indicator-pad {
    position: absolute;
    bottom: 30%;
}

/* .smallindicator {
    position: relative;
    width: 1.25vw;
    height: 1.25vw;
    min-width: 15px;
    min-width: 15px;
    max-height: 30px;
    max-height: 30px;
    margin: auto auto;
}

.smallindicator span:nth-child(1) {
    top: -35px;
    left: -35px;
    animation-delay: 0s;
    transform: rotate(180deg);
}

.smallindicator span:nth-child(2) {
    top: -25px;
    left: -25px;
    animation-delay: 0.2s;
    transform: rotate(180deg);
}

.smallindicator span:nth-child(3) {
    top: -15px;
    left: -15px;
    animation-delay: 0.4s;
    transform: rotate(180deg);
}

.smallindicator span:nth-child(4) {
    top: -50%;
    left: 0;

    transform: rotate(135deg);
    animation-delay: 0.6s;
    border-bottom: none;
}

.smallindicator span:nth-child(5) {
    top: 5px;
    left: 5px;

    animation-delay: 0.8s;
}

.smallindicator span:nth-child(6) {
    top: 15px;
    left: 15px;
    animation-delay: 1.0s;
}

.smallindicator span:nth-child(7) {
    top: 25px;
    left: 25px;
    animation-delay: 1.2s;
} */

.rotate-down {
    transform: rotate(45deg);
}

.rotate-right {
    transform: rotate(-45deg);
}

.rotate-left {
    transform: rotate(135deg);
}

.rotate-top {
    transform: rotate(225deg);
}

.rotate-teleplan{
    transform: translateX(45px) translateY(-25px) rotate(55deg);
}
.rotate-eHealth{
    transform: translateX(45px) translateY(-25px) rotate(55deg);
}
.rotate-pharmanet{
    transform: translateX(-45px) translateY(-25px) rotate(-55deg);
}
.rotate-hospital{
    transform: translateX(-45px) translateY(-25px) rotate(-55deg);
}

.indicator span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    animation: indicatoranimate 1s linear infinite;
}

/* .smallindicator span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    animation: doubleindicatoranimate 1s linear infinite;
} */

/* .double-indicator-div {
    display: flex;
    width: 7.5vw;
    height: 7.5vw;
} */

.indicator span:nth-child(1) {
    top: -70%;
    left: -70%;
    animation-delay: 0s;
}

.indicator span:nth-child(2) {
    top: -35%;
    left: -35%;
    animation-delay: 0.2s;
}

.indicator span:nth-child(3) {
    top: 0;
    left: 0;
    animation-delay: 0.4s;
}

.indicator span:nth-child(4) {
    top: 35%;
    left: 35%;
    animation-delay: 0.6s;
}

.indicator span:nth-child(5) {
    top: 70%;
    left: 70%;
    animation-delay: 0.8s;
}


@keyframes indicatoranimate {
    0% {
        border-color: #fff;
        transform: translate(0, 0);
    }

    20% {
        border-color: #fff;
        transform: translate(15px, 15px);
    }

    20.1%,
    100% {
        border-color: #ffd64a;
    }
}

/* @keyframes doubleindicatoranimate {
    50% {
        border-color: #fff;
    }

    0%,
    100% {
        border-color: #ffd64a;
    }
} */

.chart-parts-div {
    position: absolute;
    width: 100%;
    display: flex;
    gap: 5%;
    bottom: 10vh;
    left: 10%;
    margin-left: auto;
    margin-right: auto;
}

.teleplan-img {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
}

.eHealth-img {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
}

.pharmaNet-img {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
}

.hospital-img {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
}

@media only screen and (min-width: 768px) {
    .ecosystem-chart {
        width: 90%;
    }

    .inner-chart {
        width: 90%;
    }
    .patient-img {
        width: 40%;
    }
    .doctor-img {
        width: 40%;
    }
    .clinic-img {
        width: 40%;
    }
    .teleplan2-img {
        width: 10%;
    }
    .app-phone-img {
        width: 10%;
    }
    .endPatient-img{
        width: 10%;
    }
}

@media only screen and (min-width: 992px) {
    .ecosystem-chart {
        width: 65%;
    }
    .inner-chart {
        width: 65%;
    }
}

/* bootstrap large */
@media only screen and (min-width: 1200px) {
    .ecosystem-chart {
        width: 50%;
    }

    .inner-chart {
        width: 50%;
    }
    .chart-parts-div {
        height: 75vh;
        left: 0;
        bottom: 0;
        display: block;
    }

    .chart-div-teleplan {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 37.5%;
        left: 0%;
        gap: 2.5vw;
    }

    .chart-div-eHealthViewer {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 20%;
        left: 5%;
        gap: 2.5vw;
    }

    .chart-div-pharmanet {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 37.5%;
        right: 0%;
        gap: 2.5vw;
    }

    .chart-div-hospital {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 20%;
        right: 5%;
        gap: 2.5vw;
    }

    .teleplan-img {
        width: 100px;
        height: 100px;
    }

    .eHealth-img {
        width: 100px;
        height: 100px;
    }

    .pharmaNet-img {
        width: 100px;
        height: 100px;
    }

    .hospital-img {
        width: 100px;
        height: 100px;
    }
}