<div *ngIf="_authService.loggedIn()">
  <app-navbar></app-navbar>
  <a class="exex nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="logoutUser()">Logout</a>
</div>
<router-outlet></router-outlet>
<div *ngIf="!minimizedCookieBar" class="cookie-bar" @fadeIn @fadeOut>
  <p class="cookie-text">
    This website uses cookies to improve your experience. We'll assume you're ok
    with this, but you can opt-out if you wish.
  </p>
  <button class="btn btn-cookie-settings" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cookie
    settings</button>
  <button class="btn btn-cookie-accept" (click)="accpetCookie()">Accept</button>
</div>

<div *ngIf="minimizedCookieBar" (click)="minimizeCookie()" class="minimized-cookie-bar">
  <p class="minimized-cookie-text">
    Cookie Policy
  </p>
</div>

<!-- MODAL -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Privacy Overview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="modal-body-text">This website uses cookies to improve your experience while you navigate through the
          website. Out of these
          cookies, the cookies that are categorized as necessary are stored on your browser as they are essential for
          the
          working of basic functionalities of the website.
          <span *ngIf="showmoretext">
            We also use third-party cookies that help us analyze and
            understand how you use this website. These cookies will be stored in your browser only with your consent.
            You
            also have the option to opt-out of these cookies. But opting out of some of these cookies may have an effect
            on
            your browsing experience.
          </span>
        </p>
        <p class="show-more-text" (click)="showmoretext = !showmoretext">Show <span
            *ngIf="!showmoretext">more</span><span *ngIf="showmoretext">less</span></p>
        <mat-accordion>
          <mat-expansion-panel class="collapsible-individual-div">
            <mat-expansion-panel-header class="collapsible-div">
              <mat-panel-title class="collapsible-title">
                Necessary
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="collapsible-content">
              Necessary cookies are absolutely essential for the website to function properly. This category only
              includes cookies that ensures basic functionalities and security features of the website. These cookies do
              not store any personal information.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel class="collapsible-individual-div">
            <mat-expansion-panel-header class="collapsible-div">
              <mat-panel-title class="collapsible-title">
                Non-Necessary
              </mat-panel-title>
              <div class="toggle-switch-div">
                <p class="toggle-switch-text">{{selected ? "Enabled" : "Disabled"}}</p>
                <label class="toggle-switch">
                  <input type="checkbox" [(ngModel)]="selected" checked>
                  <div class="slider"></div>
                </label>
              </div>
            </mat-expansion-panel-header>
            <p class="collapsible-content">

              Any cookies that may not be particularly necessary for the website to function and is used specifically to
              collect user personal data via analytics, ads, other embedded contents are termed as non-necessary
              cookies. It is mandatory to procure user consent prior to running these cookies on your website.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn cookie-btn" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>