/* Preloader */
.preloader {
    background-color: var(--color-background-light);
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 1;
    z-index: 99999999999999999;
    // height: -webkit-fill-available;
    // min-height: -webkit-fill-available;
}

.preloader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    animation: smokeOut 1s ease-in-out infinite alternate;
    text-shadow: 0 0 1px black;
}

.loader:before {
    content: "Loading";
}

@keyframes smokeOut {
    100% {
        opacity: 0.08;
        filter: blur(5px);
        letter-spacing: 4px;
    }
}