<div class="custom-container text-light">
    <section class="contact-form-section" style="max-width:1200px">
        <h2>Let’s Connect.</h2>
        <p class="contact-form-description">See Why Clinics are Switching to iClinic.</p>
        <form class="contact-form">
            <div class="contactform-individual-div">
                <label class="contactform-label">FIRST NAME:</label>
                <input type="text" class="contactform-input-box input-firstname" />
            </div>

            <div class="contactform-individual-div">
                <label class="contactform-label">LAST NAME:</label>
                <input type="text" class="contactform-input-box input-lastname" />
            </div>

            <div class="contactform-individual-div">
                <label class="contactform-label">ORGANIZATION:</label>
                <input type="text" class="contactform-input-box input-lastname" />
            </div>

            <div class="contactform-individual-div">
                <label class="contactform-label">POSITION:</label>
                <input type="text" class="contactform-input-box input-lastname" />
            </div>

            <div class="contactform-individual-div">
                <label class="contactform-label">EMAIL ADDRESS:</label>
                <input type="text" class="contactform-input-box input-lastname" />
            </div>

            <div class="contactform-individual-div">
                <label class="contactform-label">PHONE NUMBER:</label>
                <input type="text" class="contactform-input-box input-lastname" />
            </div>

            <div class="contactform-individual-div">
                <label class="contactform-label">PROVINCE:</label>
                <select class="contactform-input-box input-provice" id="selectprovince">
                    <option value="">Select...</option>
                    <option value="AB">Alberta</option>
                    <option value="BC">British Columbia</option>
                    <option value="MB">Manitoba</option>
                    <option value="NB">New Brunswick</option>
                    <option value="NL">Newfoundland and Labrador</option>
                    <option value="NS">Nova Scotia</option>
                    <option value="NT">Northwest Territories</option>
                    <option value="NU">Nunavut</option>
                    <option value="ON">Ontario</option>
                    <option value="PE">Prince Edward Island</option>
                    <option value="QC">Quebec</option>
                    <option value="SK">Saskatchewan</option>
                    <option value="YT">Yukon</option>
                </select>
            </div>

            <div class="contactform-individual-div">
                <label class="contactform-label">TELL US MORE ABOUT YOUR INQUIRY TODAY:</label>
                <input type="text" class="contactform-input-box input-tellusmore" />
            </div>

            <div class="submit-button-div">
                <button class="button-46" role="button">Submit</button>
            </div>
        </form>
    </section>
</div>
<app-footer></app-footer>