<div class="custom-container text-light">
    <div class="contact-form-text-div">
        <p class="contact-form-text-div-title">
            Let's Connect. Users are Switching to iClinic for
        </p>

        <div class="contact-form-text-div-card">
            <p class="contact-form-text-div-subtitle text-light text-center">
                Improved Accuracy and Efficiency
            </p>
        </div>
        <div class="contact-form-text-div-card2">
            <p class="contact-form-text-div-subtitle text-light text-center">
                Better User Experience
            </p>
        </div>
        <div class="contact-form-text-div-card3">
            <p class="contact-form-text-div-subtitle text-light text-center">
                Greater Time Save For More Profit
            </p>
        </div>
    </div>
    <div class="sections-div">
        <section class="contact-form-section" style="max-width: 1200px">
            <p class="contact-form-title pb-4">
                Connect with Us. We want to hear from You!
            </p>
            <!-- <p class="contact-form-description">placeholder</p>
        <p class="contact-form-description">placeholder</p> -->
            <form class="contact-form" [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
                <div class="contactform-individual-div">
                    <label class="contactform-label">First Name *</label>
                    <input [class.invalid-form]="
              contactUsForm.controls['firstName'].touched &&
              contactUsForm.controls['firstName'].errors?.required
            " type="text" id="firstName" class="contactform-input-box input-firstname" formControlName="firstName"
                        required />
                </div>
                <div *ngIf="
            contactUsForm.controls['firstName'].invalid &&
            (contactUsForm.controls['firstName'].dirty ||
              contactUsForm.controls['firstName'].touched)
          " class="validation-text">
                    <div *ngIf="contactUsForm.controls['firstName'].errors!.required">
                        Required.
                    </div>
                </div>

                <div class="contactform-individual-div">
                    <label class="contactform-label">Last Name *</label>
                    <input [class.invalid-form]="
              contactUsForm.controls['lastName'].touched &&
              contactUsForm.controls['lastName'].errors?.required
            " type="text" id="lastName" class="contactform-input-box input-lastName" formControlName="lastName"
                        required />
                </div>
                <div *ngIf="
            contactUsForm.controls['lastName'].invalid &&
            (contactUsForm.controls['lastName'].dirty ||
              contactUsForm.controls['lastName'].touched)
          " class="validation-text">
                    <div *ngIf="contactUsForm.controls['lastName'].errors!.required">
                        Required.
                    </div>
                </div>

                <div class="contactform-individual-div">
                    <label class="contactform-label">Organization *</label>
                    <input [class.invalid-form]="
              contactUsForm.controls['organization'].touched &&
              contactUsForm.controls['organization'].errors?.required
            " type="text" id="organization" class="contactform-input-box input-organization"
                        formControlName="organization" required />
                </div>
                <div *ngIf="
            contactUsForm.controls['organization'].invalid &&
            (contactUsForm.controls['organization'].dirty ||
              contactUsForm.controls['organization'].touched)
          " class="validation-text">
                    <div *ngIf="contactUsForm.controls['organization'].errors!.required">
                        Required.
                    </div>
                </div>

                <div class="contactform-individual-div">
                    <label class="contactform-label">Position *</label>
                    <input [class.invalid-form]="
              contactUsForm.controls['position'].touched &&
              contactUsForm.controls['position'].errors?.required
            " type="text" id="position" class="contactform-input-box input-position" formControlName="position"
                        required />
                </div>
                <div *ngIf="
            contactUsForm.controls['position'].invalid &&
            (contactUsForm.controls['position'].dirty ||
              contactUsForm.controls['position'].touched)
          " class="validation-text">
                    <div *ngIf="contactUsForm.controls['position'].errors!.required">
                        Required.
                    </div>
                </div>

                <div class="contactform-individual-div">
                    <label class="contactform-label">Email Address *</label>
                    <input [class.invalid-form]="
              contactUsForm.controls['email'].touched &&
              contactUsForm.controls['email'].errors?.required
            " type="text" id="email" class="contactform-input-box input-email" formControlName="email" required />
                </div>
                <div *ngIf="
            contactUsForm.controls['email'].invalid &&
            (contactUsForm.controls['email'].dirty ||
              contactUsForm.controls['email'].touched)
          " class="validation-text">
                    <div *ngIf="contactUsForm.controls['email'].errors!.required">
                        Required.
                    </div>
                </div>

                <div class="contactform-individual-div">
                    <label class="contactform-label">Phone Number * </label>
                    <input [class.invalid-form]="
              contactUsForm.controls['phone'].touched &&
              contactUsForm.controls['phone'].errors?.required
            " type="text" id="phone" class="contactform-input-box input-phone" formControlName="phone" required />
                </div>
                <div *ngIf="
            contactUsForm.controls['phone'].invalid &&
            (contactUsForm.controls['phone'].dirty ||
              contactUsForm.controls['phone'].touched)
          " class="validation-text">
                    <div *ngIf="contactUsForm.controls['phone'].errors!.required">
                        Required.
                    </div>
                </div>

                <div class="contactform-individual-div">
                    <label class="contactform-label">Province *</label>
                    <select [class.invalid-form]="
              contactUsForm.controls['province'].touched &&
              contactUsForm.controls['province'].errors?.required
            " class="contactform-input-box input-provice" id="selectprovince" formControlName="province" required>
                        <option value="">Select...</option>
                        <option value="AB">Alberta</option>
                        <option value="BC">British Columbia</option>
                        <option value="MB">Manitoba</option>
                        <option value="NB">New Brunswick</option>
                        <option value="NL">Newfoundland and Labrador</option>
                        <option value="NS">Nova Scotia</option>
                        <option value="NT">Northwest Territories</option>
                        <option value="NU">Nunavut</option>
                        <option value="ON">Ontario</option>
                        <option value="PE">Prince Edward Island</option>
                        <option value="QC">Quebec</option>
                        <option value="SK">Saskatchewan</option>
                        <option value="YT">Yukon</option>
                    </select>
                </div>
                <div *ngIf="
            contactUsForm.controls['province'].invalid &&
            (contactUsForm.controls['province'].dirty ||
              contactUsForm.controls['province'].touched)
          " class="validation-text">
                    <div *ngIf="contactUsForm.controls['province'].errors!.required">
                        Required.
                    </div>
                </div>
                <div class="contactform-individual-div">
                    <label class="contactform-label">Tell Us More *</label>
                    <textarea class="contactform-input-box input-tellusmore"></textarea>
                </div>

                <div class="submit-button-div">
                    <button [disabled]="!contactUsForm.valid" class="submit-button" role="button">
                        Submit
                    </button>
                </div>
            </form>
        </section>
        <section class="support-form-section">
            <div class="iclinicSupport-div">
                <p class="font-weight-bold support-form-title pb-4">iClinic Support</p>
                <div class="icons-div">
                    <mat-icon class="text-light email-icon" aria-hidden="false">email</mat-icon>
                    <p class="support-form-subtitle">support@iclinicemr.com</p>
                </div>

                <div class="icons-div">
                    <mat-icon class="text-light email-icon" aria-hidden="false">phone</mat-icon>
                    <p class="support-form-subtitle">1-778-000-0000</p>
                </div>
            </div>
            <div clas="iclinicSalesInquiries-div">
                <p class="font-weight-bold support-form-title pb-4">Sales Inquiries</p>
                <div class="icons-div">
                    <mat-icon class="text-light email-icon" aria-hidden="false">email</mat-icon>
                    <p class="support-form-subtitle">help@iclinicemr.com</p>
                </div>

                <div class="icons-div">
                    <mat-icon class="text-light email-icon" aria-hidden="false">phone</mat-icon>
                    <p class="support-form-subtitle">1-778-000-0000</p>
                </div>
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>