.contact-form-section {
    position: relative;
    max-width: 900px;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 16px;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.second-section-div{
    width: 100%;
}

.support-form-section {
    position: relative;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.address-form-section{
    position: relative;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    box-shadow: var(--box-shadow);
}
.address-form-subtitle{
    color: var(--text-thirtiary);
}
.contact-form {
    max-width: 830px;
    overflow-x: hidden;
    width: 100%;
}

.contact-form-text-div {
    padding-top: 10%;
    padding-bottom: 12.5%;
    position: relative;
    font-size: 27px;
    // height: 75vh;
}

.contact-form-title-div {
    padding-bottom: 2.5%;
}

.contact-form-text-title {
    color: var(--text-thirtiary);
    font-size: 14px;
    text-align: center;
}

.contact-form-text-subtitle {
    color: var(--text-thirtiary);
    font-size: 14px;
    text-align: center;
}

.contact-form-text-div-subtitle {
    color: var(--text-thirtiary);
    margin: 0;
    font-size: 14px;
}

.contact-form-text-div-card {
    margin-top: 25px;
    width: 75%;
    border-radius: 10px;
    padding: 25px;
    animation: lefttoright 2s linear forwards;
    /* margin-left: -100%; */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 12px 0px rgba(192,192,255,1);
    border: 3px solid rgba(192,192,255,1);
    opacity: 0;
}

.contact-form-text-div-card2 {
    /* position:absolute; */
    // margin-left: -100%;
    margin-top: 25px;
    /* right: 0; */
    width: 75%;
    border-radius: 10px;
    padding: 25px;
    animation: righttoleft 2s linear 1s forwards;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 12px 0px rgba(192,192,255,1);
    border: 3px solid rgba(192,192,255,1);
    opacity: 0;
}

.contact-form-text-div-card3 {
    margin-top: 25px;
    width: 75%;
    border-radius: 10px;
    padding: 25px;
    animation: lefttoright 2s linear 2s forwards;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 12px 0px rgba(192,192,255,1);
    border: 3px solid rgba(192,192,255,1);
    opacity: 0;
}

.contact-form-title {
    color: var(--text-thirtiary);
    font-size: 14px;
}

.contactform-label {
    color: var(--text-thirtiary);
    font-size: 12px;
    margin-bottom: 5px;
}

.contactform-individual-div {
    display: flex;
    flex-direction: column;
}

.icons-div {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.contactform-input-box {
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(150, 150, 150, 0.35);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding: 8px;
    margin-bottom: 20px;
}

.invalid-form {
    border: 2px solid var(--iclinic-blue) !important;
    outline: none;
}

.validation-text {
    color: var(--iclinic-blue);
    margin: 0;
    padding: 0;
    margin-top: -10px;
    margin-bottom: 10px;
}
.customized-width{
    width: 47.5%;
}
.contactform-input-box:focus-visible {
    border: 2px solid var(--iclinic-blue) !important;
    outline: none;
}

#selectprovince {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-tellusmore {
    height: 86px;
    padding: 12px;
}

.submit-button-div {
    width: 25%;
}

.submit-button {
    // border: 1px solid #3a3a3a;
    // color: #616161;
    align-items: center;
    border: 1px solid #616161;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 0px rgba(150, 150, 150, 0.35);
    display: flex;
    justify-content: center;
    padding: 12px 50px;
    text-decoration: none;
    transition: all 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: not-allowed;
    height: 43px;
    color: var(--text-thirtiary);
    // background-color: var(--iclinic-blue);
}

.submit-button:not([disabled]) {
    background: var(--iclinic-blue);
    border: 1px solid #3a3a3a;
    align-items: center;
    border: 1px solid #616161;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 0px rgba(150, 150, 150, 0.35);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px 50px;
    text-decoration: none;
    transition: all 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    // background-color: var(--light-iclinic-blue);
}

.button-error {
    border: 1px solid red !important;
    background: #1a1a1a !important;
    color: red !important;
    cursor: not-allowed !important;

}

.button-alert-text {
    margin-top: 16px;
    color: white;
    white-space: nowrap;
}

.button-error-text {
    margin-top: 16px;
    color: red !important;
    white-space: nowrap;
}

.submit-button:hover:not([disabled]) {
    background-color: rgba(105, 180, 250, 1);
}

.support-form-title {
    color: var(--text-thirtiary);
    font-size: 14px;
}

.support-form-subtitle {
    color: var(--text-thirtiary);
    font-size: 12px;
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.iclinicSupport-div {
    margin-bottom: 1rem;
}

/*
=============================================
MOBILE
=============================================
*/

@media only screen and (min-width: 768px) {
    .contact-form-text-div-card {
        width: 45vw;
    }

    .contact-form-text-div-card2 {
        width: 45vw;
    }

    .contact-form-text-div-card3 {
        width: 45vw;
    }

    .sections-div {
        display: flex;
        justify-content: space-between;
    }

    .contact-form-section {
        margin-bottom: 0;
        width: 63%;
    }

    .second-section-div{
        width: 28%;
        display: flex;
        flex-direction: column;
        gap: 10%;
    }
    .support-form-section {
        height: 60%;
    }

    .address-form-section{
        height: 40%;
    }
    .contact-form-text-div-title {
        font-size: 18px;
    }

    .contact-form-text-div-subtitle {
        font-size: 18px;
    }

    .contact-form-title {
        font-size: 18px;
    }

    .contactform-label {
        font-size: 12px;
    }

    .support-form-title {
        font-size: 18px;
    }

    .support-form-subtitle {
        font-size: 12px;
    }
}

/*
=============================================
DESKTOP
=============================================
*/

@media only screen and (min-width: 1200px) {
    .contact-form-text-title {
        font-size: 36px;
    }

    .contact-form-text-subtitle {
        font-size: 36px;
        padding-bottom: 5%;
    }

    .contact-form-text-div {
        // height: 100vh;
    }

    .contact-form-text-div-subtitle {
        font-size: 24px;
    }

    .contact-form-title {
        font-size: 24px;
    }

    .support-form-title {
        font-size: 24px;
    }

    .contactform-label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .support-form-subtitle {
        font-size: 16px;
    }
}

@keyframes lefttoright {
    0% {
        opacity: 0;
        // transform: translate3d(-2000px, 0, 0);
    }
    100% {
        opacity: 1;
        // transform: translate(0,0);
    }
}

/*
=============================================
ANIMATION
=============================================
*/

@keyframes righttoleft {
    0% {
        opacity: 0;
        // transform: translate3d(2000px, 0, 0);
    }
    100% {
        opacity: 1;
        // transform: translate(0,0);
    }
}

