.solutions-container {
  width: 90%;
  padding-top: 100px;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.solutions-text-div {
  width: 100%;
}

.solutions-chart-div {
  position: relative;
  height: 100%;
}

.solutions-mainTitle {
  font-size: 38px;
  margin: 0;
  text-align: center;
  /* font-weight: bold; */
}
.solutions-title-div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 10%;
  width: 97%;
  box-shadow: var(--box-shadow);
}
.solutions-title {
  width: 100%;
  text-align: center;

  font-size: 24px;
}

.description-div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.description {
  font-size: 14px;
  text-align: justify;
  margin: 0;
  height: 15vh;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.charts-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-chart-div {
  position: relative;
  z-index: 2;
  overflow: visible !important;
  padding: 10px;
  box-shadow: var(--box-shadow);
  border: 1.5px solid rgba(192, 192, 255, 1);
  border-radius: 50%;
}

.inner-chart-div {
  z-index: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 90%;
}

#donutchart {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 0px 12px 0px rgba(192, 192, 255, 1);
  border: 3px solid rgba(192, 192, 255, 1);
  border-radius: 50%;
}
@media only screen and (min-width: 576px) {
  .solutions-chart-div {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .solutions-mainTitle {
    font-size: 36px;
    padding-bottom: 20%;

    // border-radius: 10px;
    // padding: 12px;
  }

  .solutions-title {
    font-size: 24px;
    /* padding-top: 40%; */

    // border-radius: 10px;
    // padding: 12px;
  }

  .description {
    font-size: 14px;
    height: auto;
    margin: 0;
    margin-top: 15px;
    // border-radius: 10px;
    // padding: 12px;
  }

  .solutions-container {
    display: flex;
    justify-content: space-between;
  }

  .solutions-text-div {
    padding-top: 17.5%;
    width: 25%;
    height: 50vh;
  }

  .solutions-chart-div {
    margin-top: 5%;
    width: 60%;
    position: relative;
  }
  .main-chart-div {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .solutions-mainTitle {
    font-size: 40px;
    padding-bottom: 10%;
  }

  .solutions-title {
    font-size: 36px;
    white-space: nowrap;
    overflow: visible;
    padding: 8px;
    // width: 115%;
    /* padding-top: 70%; */
  }

  .description {
    font-size: 20px;
    height: auto;
    margin: 0;
    margin-top: 15px;
  }

  .solutions-text-div {
    padding-top: 17.5%;
    width: 40%;
  }

  .solutions-chart-div {
    width: 55%;
    position: relative;
  }
}
.ring-div {
  background-color: transparent;
  border: 3px solid rgba(192, 192, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(192, 192, 255, 1);
  height: 25%;
  border-radius: 50%;
  width: 25%;
  top: 37.5%;
  left: 37.5%;
  position: absolute;
}
.ring-div2 {
  background-color: transparent;
  border: 3px solid rgba(192, 192, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(192, 192, 255, 1);
  height: 60%;
  border-radius: 50%;
  width: 60%;
  top: 20%;
  left: 20%;
  position: absolute;
}

/* TITLE COLOR CHANGE */
.af {
  background: -webkit-linear-gradient(
    90deg,
    rgba(253, 232, 235, 255) 0%,
    rgba(248, 203, 208, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainaf {
  color: rgba(248, 203, 208, 255);
}

.cr {
  background: -webkit-linear-gradient(
    90deg,
    rgba(252, 231, 240, 255) 0%,
    rgba(245, 188, 209, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maincr {
  color: rgba(245, 188, 209, 255);
}

.crw {
  background: -webkit-linear-gradient(
    90deg,
    rgba(244, 221, 235, 255) 0%,
    rgba(205, 156, 199, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maincrw {
  color: rgba(205, 156, 199, 255);
}

.hcm {
  background: -webkit-linear-gradient(
    90deg,
    rgba(240, 230, 241, 255) 0%,
    rgba(189, 168, 208, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainhcm {
  color: rgba(189, 168, 208, 255);
}

.hf {
  background: -webkit-linear-gradient(
    90deg,
    rgba(233, 236, 246, 255) 0%,
    rgba(164, 172, 215, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainhf {
  color: rgba(164, 172, 215, 255);
}

.hfo {
  background: -webkit-linear-gradient(
    90deg,
    rgba(217, 236, 250, 255) 0%,
    rgba(156, 193, 231, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainhfo {
  color: rgba(156, 193, 231, 255);
}

.lp {
  background: -webkit-linear-gradient(
    90deg,
    rgba(215, 240, 253, 255) 0%,
    rgba(151, 207, 235, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainlp {
  color: rgba(151, 207, 235, 255);
}

.sc {
  background: -webkit-linear-gradient(
    90deg,
    rgba(198, 233, 244, 255) 0%,
    rgba(150, 216, 231, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainsc {
  color: rgba(150, 216, 231, 255);
}

.scess {
  background: -webkit-linear-gradient(
    90deg,
    rgba(219, 241, 244, 255) 0%,
    rgba(165, 219, 220, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainscess {
  color: rgba(165, 219, 220, 255);
}

.wc {
  background: -webkit-linear-gradient(
    90deg,
    rgba(214, 255, 252, 1) 0%,
    rgba(201, 255, 251, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainwc {
  color: rgba(201, 255, 251, 1);
}

.fr {
  background: -webkit-linear-gradient(
    90deg,
    rgba(230, 243, 226, 255) 0%,
    rgba(189, 223, 183, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainfr {
  color: rgba(189, 223, 183, 255);
}

.pd {
  background: -webkit-linear-gradient(
    90deg,
    rgba(224, 238, 199, 255) 0%,
    rgba(179, 215, 133, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainpd {
  color: rgba(179, 215, 133, 255);
}

.ascopd {
  background: -webkit-linear-gradient(
    90deg,
    rgba(242, 246, 202, 255) 0%,
    rgba(225, 232, 141, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainascopd {
  color: rgba(225, 232, 141, 255);
}

.iclinicmd {
  background: -webkit-linear-gradient(90deg, white 0%, rgb(203, 223, 237) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainiclinicmd {
  color: var(--light-iclinic-blue);
}

.iclinic-button-inner {
  position: absolute;
  width: 137.5px;
  height: 137.5px;
  border-radius: 50%;
  left: 40%;
  top: 40%;
  z-index: 5;
  background: transparent;
  border: transparent;
}
