.solutions-container {
  width: 90%;
  padding-top: 100px;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.top-content-text-div {
  color: var(--text-secondary);
  margin-bottom: 5%;
}

.btn-custom-book-demo {
  margin-right: 8px;
  font-style: normal;
  color: var(--iclinic-blue-white);
  border: 1px solid #a11f74;
  font-size: 16px;
}

.btn-custom-book-demo:hover {
  background-color: #a11f74;
}

.solutions-chart-div {
  position: relative;
  height: 100%;
}

.solutions-mainTitle {
  font-size: 38px;
  margin: 0;
  text-align: center;
  /* font-weight: bold; */
}

.flip-title {
  width: 100%;
  height: 50px;
  position: relative;
  perspective: 1000px;
}

.solutions-title-div {
  display: flex;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  animation: randomFlip 50s forwards infinite;
}

.solutions-title {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0px 0px 12px 0px rgba(192, 192, 255, 1);
  border: 3px solid rgba(192, 192, 255, 1);
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.solutions-title-back {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0px 0px 12px 0px rgba(192, 192, 255, 1);
  border: 3px solid rgba(192, 192, 255, 1);
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.description-div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.description-solutions {
  height: 22vh;
  margin-top: 15px;
  margin-bottom: 50px;
}

.charts-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-chart-div {
  position: relative;
  z-index: 2;
  overflow: visible !important;
  padding: 10px;
  box-shadow: var(--box-shadow);
  border: 1.5px solid rgba(192, 192, 255, 1);
  border-radius: 50%;
}

.inner-chart-div {
  z-index: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 90%;
}

#donutchart {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 0px 12px 0px rgba(192, 192, 255, 1);
  border: 3px solid rgba(192, 192, 255, 1);
  border-radius: 50%;
}

@media only screen and (min-width: 576px) {
  .solutions-chart-div {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .nowrap-maintitle{
    white-space: nowrap;
  }
  .solutions-mainTitle {
    font-size: 36px;
    // border-radius: 10px;
    // padding: 12px;
  }

  .solutions-title-div {
    // margin-top: 0;
  }

  .solutions-text-div {
    width: 37.5%;
    height: 50vh;
  }
  .solutions-title {
    font-size: 20px;
  }

  .solutions-title-back {
    font-size: 20px;
  }

  .description-solutions {
    height: auto;
    margin-top: 8px;
  }

  .solutions-container {
    display: flex;
    justify-content: space-between;
  }

  .solutions-chart-div {
    margin-top: 5%;
    width: 60%;
    position: relative;
  }

  .main-chart-div {
    margin-top: 0;
  }

  .btn-custom-book-demo {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .solutions-text-div {
    width: 37.5%;
    height: 50vh;
  }

  .solutions-text-div {
    padding-top: 0;
  }

  .solutions-title {
    font-size: 24px;
  }

  .solutions-title-back {
    font-size: 24px;
  }

  .description-solutions {
    margin-top: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .solutions-text-div {
    padding-top: 5%;
  }
}

@media only screen and (min-width: 1400px) {
  .btn-custom-book-demo {
    font-size: 24px;
  }

  .solutions-mainTitle {
    font-size: 36px;
  }

  .solutions-title {
    font-size: 32px;
    white-space: nowrap;
    overflow: visible;
    // width: 115%;
    /* padding-top: 70%; */
  }

  .solutions-title-back {
    font-size: 32px;
  }

  .description-solutions {
    font-size: 20px;
    margin-top: 15px;
  }

  .solutions-text-div {
    padding-top: 2.5%;
    width: 40%;
  }

  .solutions-chart-div {
    width: 55%;
    position: relative;
  }
}

.iclinic-button-inner {
  position: absolute;
  height: 33%;
  border-radius: 50%;
  width: 33%;
  top: 33.5%;
  left: 33.5%;
  z-index: 5;
  background: transparent;
  border: transparent;
  color: #450159;

  :nth-child(1) {
    font-size: 1.5vw;
  }

  :nth-child(2) {
    font-size: 1vw;
  }
}

.ring-div {
  background-color: transparent;
  border: 3px solid rgba(192, 192, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(192, 192, 255, 1);
  height: 33%;
  border-radius: 50%;
  width: 33%;
  top: 33.5%;
  left: 33.5%;
  position: absolute;
}

.ring-div2 {
  background-color: transparent;
  border: 3px solid rgba(192, 192, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(192, 192, 255, 1);
  height: 75%;
  border-radius: 50%;
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  position: absolute;
}

/* TITLE COLOR CHANGE */
// .af {
//   background: -webkit-linear-gradient(90deg,
//       rgba(253, 232, 235, 255) 0%,
//       rgba(248, 203, 208, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }
// .cr {
//   background: -webkit-linear-gradient(90deg,
//       rgba(252, 231, 240, 255) 0%,
//       rgba(245, 188, 209, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }



// .crw {
//   background: -webkit-linear-gradient(90deg,
//       rgba(244, 221, 235, 255) 0%,
//       rgba(205, 156, 199, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }



// .hcm {
//   background: -webkit-linear-gradient(90deg,
//       rgba(233, 236, 246, 255) 0%,
//       rgba(164, 172, 215, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }


// .hf {
//   background: -webkit-linear-gradient(90deg,
//       rgba(225, 225, 255, 1) 0%,
//       rgba(213, 213, 255, 1) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }


// .hfo {
//   background: -webkit-linear-gradient(90deg,
//       rgba(204, 204, 255, 1) 0%,
//       rgba(192, 192, 255, 1) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .lp {
//   background: -webkit-linear-gradient(90deg,
//       rgba(217, 236, 250, 255) 0%,
//       rgba(156, 193, 231, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .sc {
//   background: -webkit-linear-gradient(90deg,
//       rgba(215, 240, 253, 255) 0%,
//       rgba(151, 207, 235, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .scess {
//   background: -webkit-linear-gradient(90deg,
//       rgba(198, 233, 244, 255) 0%,
//       rgba(150, 216, 231, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .wc {
//   background: -webkit-linear-gradient(90deg,
//       rgba(219, 241, 244, 255) 0%,
//       rgba(165, 219, 220, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .fr {
//   background: -webkit-linear-gradient(90deg,
//       rgba(230, 243, 226, 255) 0%,
//       rgba(189, 223, 183, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .pd {
//   background: -webkit-linear-gradient(90deg,
//       rgba(224, 238, 199, 255) 0%,
//       rgba(179, 215, 133, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .ascopd {
//   background: -webkit-linear-gradient(90deg,
//       rgba(242, 246, 202, 255) 0%,
//       rgba(225, 232, 141, 255) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }
// .iclinicmd {
//   background: -webkit-linear-gradient(90deg, white 0%, rgb(203, 223, 237) 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }
.mainaf {
  color: rgba(248, 203, 208, 255);
}

.maincr {
  color: rgba(245, 188, 209, 255);
}

.maincrw {
  color: rgba(205, 156, 199, 255);
}

.mainhcm {
  color: rgba(164, 172, 215, 255);
}

.mainhf {
  color: rgba(213, 213, 255, 1);
}

.mainhfo {
  color: rgba(192, 192, 255, 1);
}

.mainlp {
  color: rgba(156, 193, 231, 255);
}

.mainsc {
  color: rgba(151, 207, 235, 255);
}

.mainscess {
  color: rgba(150, 216, 231, 255);
}

.mainwc {
  color: rgba(165, 219, 220, 255);
}

.mainfr {
  color: rgba(189, 223, 183, 255);
}

.mainpd {
  color: rgba(179, 215, 133, 255);
}

.mainascopd {
  color: rgba(225, 232, 141, 255);
}

.mainiclinicmd {
  color: var(--light-iclinic-blue);
}

@keyframes randomFlip {
  0% {
    transform: rotateY(0deg);
  }

  5% {
    transform: rotateY(180deg);
  }

  10% {
    transform: rotateY(0deg);
  }

  15% {
    transform: rotateY(180deg);
  }

  20% {
    transform: rotateY(180deg);
  }

  25% {
    transform: rotateY(180deg);
  }

  30% {
    transform: rotateY(0deg);
  }

  35% {
    transform: rotateY(180deg);
  }

  45% {
    transform: rotateY(0deg);
  }

  45% {
    transform: rotateY(180deg);
  }

  50% {
    transform: rotateY(0deg);
  }

  55% {
    transform: rotateY(180deg);
  }

  60% {
    transform: rotateY(0deg);
  }

  65% {
    transform: rotateY(180deg);
  }

  70% {
    transform: rotateY(0deg);
  }

  75% {
    transform: rotateY(180deg);
  }

  80% {
    transform: rotateY(0deg);
  }

  85% {
    transform: rotateY(180deg);
  }

  90% {
    transform: rotateY(0deg);
  }

  95% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}