<div class="solutions-container">
  <div class="solutions-text-div">
    <p class="solutions-mainTitle" [ngClass]="{
        mainaf: textColorIndex === 0,
        maincr: textColorIndex === 1,
        maincrw: textColorIndex === 2,
        mainhcm: textColorIndex === 3,
        mainhf: textColorIndex === 4,
        mainhfo: textColorIndex === 5,
        mainlp: textColorIndex === 6,
        mainsc: textColorIndex === 7,
        mainscess: textColorIndex === 8,
        mainwc: textColorIndex === 9,
        mainfr: textColorIndex === 10,
        mainpd: textColorIndex === 11,
        mainascopd: textColorIndex === 12
      }">
        {{ mainTitleInitial }}
      </p>
      <div class="solutions-title-div">
        <p class="solutions-title" [ngClass]="{
          af: textColorIndex === 0,
          cr: textColorIndex === 1,
          crw: textColorIndex === 2,
          hcm: textColorIndex === 3,
          hf: textColorIndex === 4,
          hfo: textColorIndex === 5,
          lp: textColorIndex === 6,
          sc: textColorIndex === 7,
          scess: textColorIndex === 8,
          wc: textColorIndex === 9,
          fr: textColorIndex === 10,
          pd: textColorIndex === 11,
          ascopd: textColorIndex === 12
        }">
          {{ title }}
        </p>
      </div>
    <div class="d-flex description-div">
      <p class="description" [innerText]="description"></p>
    </div>
  </div>
  <div class="solutions-chart-div">
    <div *ngIf="mobile" class="main-chart-div">
      <canvas
        baseChart
        [data]="doughnutChartDataMobile"
        [type]="doughnutChartType"
        [options]="chartOptions"
        (chartHover)="chartHovered($event)"
        id="donutchart"
      >
      </canvas>
    </div>
    <div *ngIf="tablet" class="main-chart-div">
      <canvas
        baseChart
        [data]="doughnutChartDataTablet"
        [type]="doughnutChartType"
        [options]="chartOptions"
        (chartHover)="chartHovered($event)"
        id="donutchart"
      >
      </canvas>
    </div>
    <div *ngIf="desktop" class="main-chart-div">
      <canvas
        baseChart
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        [options]="chartOptions"
        (chartHover)="chartHovered($event)"
        id="donutchart"
      >
      </canvas>
    </div>
    <div class="inner-chart-div">
      <canvas
        baseChart
        [data]="doughnutChartData2"
        [type]="doughnutChartType2"
        [options]="chartOptions2"
        id="donutchart2"
      >
      </canvas>
      <div class="ring-div"></div>
      <div class="ring-div2"></div>
    </div>

    <button class="iclinic-button-inner" (mouseover)="showtitlee(true)" (mouseout)="showtitlee(false)"></button>
  </div>
</div>
<app-footer></app-footer>
