.solutions-container {
  width: 90%;
  margin-top: 100px;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.solutions-text-div {
  width: 100%;
}

.solutions-chart-div {
  position: relative;
  height: 100%;
}

.mainTitle {
  font-size: 38px;
  margin: 0;
}

.title {
  color: #ffff;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.description {
  color: #ffff;
  font-size: 14px;
  text-align: justify;
  margin: 0;
  height: 15vh;
  margin-top: 15px;
  margin-bottom: 50px;
}

.charts-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-chart-div {
  position: relative;
  z-index: 2;
  overflow: visible !important;
}

.inner-chart-div {
  z-index: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 90%;
  /* width: 400px !important;
  height: 400px !important;
  margin: auto auto; */
}

/* .cardiologylabel {
  font-size: 1vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  top: 30%;
  right: 40.5%;
  z-index: 5;
  transform: rotate(100deg);
}

.cardiologylabel::first-letter {
  font-size: 2vw;
}

.geriatricslabel {
  font-size: 1.5vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute;
  color: rgba(206, 255, 173, 1);
  top: 40.5%;
  right: 63%;
  z-index: 5;
  transform: rotate(15deg);
}

.geriatricslabel::first-letter {
  font-size: 2vw;
}

.neurologylabel {
  font-size: 1.5vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute;
  color: rgba(201, 255, 251, 1);
  top: 34%;
  right: 58%;
  z-index: 5;
  transform: rotate(45deg);
}

.neurologylabel::first-letter {
  font-size: 2vw;
}

.respirologylabel {
  font-size: 1.5vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute;
  color: rgba(255, 218, 193, 1);
  top: 30%;
  right: 49.5%;
  z-index: 5;
  transform: rotate(70deg);
}

.respirologylabel::first-letter {
  font-size: 2vw;
} */

@media only screen and (min-width: 576px) {
  .solutions-chart-div {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .mainTitle {
    font-size: 36px;
    padding-top: 10%;
  }

  .title {
    font-size: 24px;
    padding-top: 40%;
  }

  .description {
    font-size: 14px;
    height: auto;
    margin: 0;
    margin-top: 15px;
  }

  .solutions-container {
    display: flex;
    justify-content: space-between;
  }

  .solutions-text-div {
    padding-top: 10%;
    width: 30%;
    height: 50vh;
  }

  .solutions-chart-div {
    width: 65%;
    position: relative;
  }

  .main-chart-div {
    margin-top: 0;
  }

  /* .cardiologylabel {
    font-size: 1vw;
  }

  .cardiologylabel::first-letter {
    font-size: 1.5vw;
  }

  .geriatricslabel {
    font-size: 1vw;
  }

  .geriatricslabel::first-letter {
    font-size: 1.5vw;
  }

  .neurologylabel {
    font-size: 1vw;
  }

  .neurologylabel::first-letter {
    font-size: 1.5vw;
  }

  .respirologylabel {
    font-size: 1vw;
  }

  .respirologylabel::first-letter {
    font-size: 1.5vw;
  } */
}

/* @media only screen and (min-width: 992px) {
  .mainTitle {
    font-size: 36px;
  }

  .title {
    font-size: 36px;
  }

  .description {
    font-size: 16px;
  }

  .solutions-text-div {
  }
} */

@media only screen and (min-width: 1400px) {
  .mainTitle {
    font-size: 48px;
  }
  .title {
    font-size: 36px;
    width: 110%;
    padding-top: 70%;
  }
  .description {
    font-size: 14px;
    height: auto;
    margin: 0;
    margin-top: 15px;
  }
  .solutions-text-div {
    padding-top: 15%;
    width: 20%;
  }
  .solutions-chart-div {
    width: 75%;
    position: relative;
  }

}

/* extra wide screen */
@media only screen and (min-width: 1800px) {
  /* .cardiologylabel {
    font-size: 16px;
  }

  .cardiologylabel::first-letter {
    font-size: 24px;
  }

  .geriatricslabel {
    font-size: 16px;
  }

  .geriatricslabel::first-letter {
    font-size: 24px;
  }

  .neurologylabel {
    font-size: 16px;
  }

  .neurologylabel::first-letter {
    font-size: 24px;
  }

  .respirologylabel {
    font-size: 16px;
  }

  .respirologylabel::first-letter {
    font-size: 24px;
  } */
}

/* ROTATE */

/* .rotate {
  animation: rotation 160s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */

/* .ring-div {
  background-color: transparent;
  border: 3px solid lightblue;
  height: 36%;
  border-radius: 50%;
  width: 36%;
  top: 32%;
  left: 32%;
  position: absolute;
} */

/* TITLE COLOR CHANGE */
.wc {
  background: -webkit-linear-gradient(rgba(218, 140, 169, 1) 24%,
      rgba(215, 125, 159, 1) 45%,
      white 70%,
      rgba(215, 125, 159, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.af {
  background: -webkit-linear-gradient(rgba(206, 116, 167, 1) 24%,
      rgba(176, 83, 135, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(224, 134, 185, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cr {
  background: -webkit-linear-gradient(rgba(217, 93, 103, 1) 24%,
      rgba(208, 99, 108, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(223, 84, 95, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crw {
  background: -webkit-linear-gradient(rgba(217, 1, 122, 1) 24%,
      rgba(255, 103, 188, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(227, 42, 146, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lp {
  background: -webkit-linear-gradient(rgba(61, 34, 41, 1) 24%,
      rgba(113, 45, 63, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(120, 53, 70, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hcm {
  background: -webkit-linear-gradient(rgba(226, 98, 95, 1) 24%,
      rgba(226, 98, 95, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(246, 133, 130, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hf {
  background: -webkit-linear-gradient(rgba(163, 65, 98, 1) 24%,
      rgba(230, 151, 177, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(200, 102, 135, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hfo {
  background: -webkit-linear-gradient(rgba(128, 51, 102, 1) 24%,
      rgba(215, 130, 187, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(128, 37, 97, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scess {
  background: -webkit-linear-gradient(rgba(255, 120, 215, 1) 24%,
      rgba(203, 62, 161, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(198, 93, 167, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sc {
  background: -webkit-linear-gradient(rgba(221, 148, 162, 1) 24%,
      rgba(198, 146, 155, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(199, 145, 155, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fr {
  background: -webkit-linear-gradient(rgba(252, 252, 89, 1) 24%,
      rgba(231, 231, 69, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(244, 244, 59, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pd {
  background: -webkit-linear-gradient(rgba(97, 223, 254, 1) 24%,
      rgba(172, 239, 255, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(149, 234, 254, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ascopd {
  background: -webkit-linear-gradient(rgba(127, 43, 252, 1) 24%,
      rgba(208, 160, 255, 1) 45%,
      rgba(255, 255, 255, 1) 70%,
      rgba(188, 122, 254, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}