<div class="solutions-container">
    <div class="solutions-text-div">
        <p class="mainTitle" [ngClass]="{
            af: textColorIndex === 0,
            cr: textColorIndex === 1,
            crw: textColorIndex === 2,
            hcm: textColorIndex === 3,
            hf: textColorIndex === 4,
            hfo: textColorIndex === 5,
            lp: textColorIndex === 6,
            sc: textColorIndex === 7,
            scess: textColorIndex === 8,
            wc: textColorIndex === 9,
            fr: textColorIndex === 10,
            pd: textColorIndex === 11,
            ascopd: textColorIndex === 12}">{{ mainTitleInitial }}</p>
        <p class=" title" [ngClass]="{
            af: textColorIndex === 0,
            cr: textColorIndex === 1,
            crw: textColorIndex === 2,
            hcm: textColorIndex === 3,
            hf: textColorIndex === 4,
            hfo: textColorIndex === 5,
            lp: textColorIndex === 6,
            sc: textColorIndex === 7,
            scess: textColorIndex === 8,
            wc: textColorIndex === 9,
            fr: textColorIndex === 10,
            pd: textColorIndex === 11,
            ascopd: textColorIndex === 12
      }">
            {{ title }}
        </p>
        <p class="description" [innerText]="description"></p>
    </div>
    <div class="solutions-chart-div rotate">
        <div class="main-chart-div">
            <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType" [options]="chartOptions"
                (chartHover)="chartHovered($event)" id="donutchart">
            </canvas>
        </div>
        <div class="inner-chart-div">
            <canvas baseChart [data]="doughnutChartData2" [type]="doughnutChartType2" [options]="chartOptions2"
                id="donutchart2">
            </canvas>
            <div class="ring-div">

            </div>
            <!-- <p class="cardiologylabel">Cardiology</p>
            <p class="geriatricslabel">Geriatrics</p>
            <p class="neurologylabel">Neurology</p>
            <p class="respirologylabel">Respirology</p> -->
        </div>
    </div>
</div>
<app-footer></app-footer>