.solutions-container {
  width: 90%;
  padding-top: 100px;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.solutions-text-div {
  width: 100%;
}

.solutions-chart-div {
  position: relative;
  height: 100%;
}

.mainTitle {
  font-size: 38px;
  margin: 0;
  /* font-weight: bold; */
}

.title {
  font-size: 24px;
  margin: 0;
}

.description {
  font-size: 14px;
  text-align: justify;
  margin: 0;
  height: 15vh;
  margin-top: 15px;
  margin-bottom: 50px;
}

.charts-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-chart-div {
  position: relative;
  z-index: 2;
  overflow: visible !important;
}

.inner-chart-div {
  z-index: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 90%;
  /* width: 400px !important;
  height: 400px !important;
  margin: auto auto; */
}

/* .cardiologylabel {
  font-size: 1vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  top: 30%;
  right: 40.5%;
  z-index: 5;
  transform: rotate(100deg);
}

.cardiologylabel::first-letter {
  font-size: 2vw;
}

.geriatricslabel {
  font-size: 1.5vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute;
  color: rgba(206, 255, 173, 1);
  top: 40.5%;
  right: 63%;
  z-index: 5;
  transform: rotate(15deg);
}

.geriatricslabel::first-letter {
  font-size: 2vw;
}

.neurologylabel {
  font-size: 1.5vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute;
  color: rgba(201, 255, 251, 1);
  top: 34%;
  right: 58%;
  z-index: 5;
  transform: rotate(45deg);
}

.neurologylabel::first-letter {
  font-size: 2vw;
}

.respirologylabel {
  font-size: 1.5vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute;
  color: rgba(255, 218, 193, 1);
  top: 30%;
  right: 49.5%;
  z-index: 5;
  transform: rotate(70deg);
}

.respirologylabel::first-letter {
  font-size: 2vw;
} */

#donutchart{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media only screen and (min-width: 576px) {
  .solutions-chart-div {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .mainTitle {
    font-size: 36px;
    padding-bottom: 20%;
  }

  .title {
    font-size: 24px;
    /* padding-top: 40%; */
  }

  .description {
    font-size: 14px;
    height: auto;
    margin: 0;
    margin-top: 15px;
  }

  .solutions-container {
    display: flex;
    justify-content: space-between;
  }

  .solutions-text-div {
    padding-top: 17.5%;
    width: 25%;
    height: 50vh;
  }

  .solutions-chart-div {
    width: 60%;
    position: relative;
  }

  .main-chart-div {
    margin-top: 0;
  }

  /* .cardiologylabel {
    font-size: 1vw;
  }

  .cardiologylabel::first-letter {
    font-size: 1.5vw;
  }

  .geriatricslabel {
    font-size: 1vw;
  }

  .geriatricslabel::first-letter {
    font-size: 1.5vw;
  }

  .neurologylabel {
    font-size: 1vw;
  }

  .neurologylabel::first-letter {
    font-size: 1.5vw;
  }

  .respirologylabel {
    font-size: 1vw;
  }

  .respirologylabel::first-letter {
    font-size: 1.5vw;
  } */
}

/* @media only screen and (min-width: 992px) {
  .mainTitle {
    font-size: 36px;
  }

  .title {
    font-size: 36px;
  }

  .description {
    font-size: 16px;
  }

  .solutions-text-div {
  }
} */

@media only screen and (min-width: 1400px) {
  .mainTitle {
    font-size: 48px;
    padding-bottom: 10%;
  }

  .title {
    font-size: 36px;
    width: 110%;
    /* padding-top: 70%; */
  }

  .description {
    font-size: 14px;
    height: auto;
    margin: 0;
    margin-top: 15px;
  }

  .solutions-text-div {
    padding-top: 22.5%;
    width: 35%;
  }

  .solutions-chart-div {
    width: 50%;
    position: relative;
  }

}

/* extra wide screen */
@media only screen and (min-width: 1800px) {
  /* .cardiologylabel {
    font-size: 16px;
  }

  .cardiologylabel::first-letter {
    font-size: 24px;
  }

  .geriatricslabel {
    font-size: 16px;
  }

  .geriatricslabel::first-letter {
    font-size: 24px;
  }

  .neurologylabel {
    font-size: 16px;
  }

  .neurologylabel::first-letter {
    font-size: 24px;
  }

  .respirologylabel {
    font-size: 16px;
  }

  .respirologylabel::first-letter {
    font-size: 24px;
  } */
}

/* ROTATE */

/* .rotate {
  animation: rotation 160s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */

/* .ring-div {
  background-color: transparent;
  border: 3px solid lightblue;
  height: 36%;
  border-radius: 50%;
  width: 36%;
  top: 32%;
  left: 32%;
  position: absolute;
} */

/* TITLE COLOR CHANGE */
.af {
  background: -webkit-linear-gradient(90deg, rgba(255, 247, 252, 1) 0%, rgba(255, 243, 251, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainaf {
  color: rgba(255, 243, 251, 1);
}

.cr {
  background: -webkit-linear-gradient(90deg, rgba(255, 239, 249, 1) 0%, rgba(255, 235, 248, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maincr {
  color: rgba(255, 235, 248, 1);
}

.crw {
  background: -webkit-linear-gradient(90deg, rgba(255, 236, 248, 1) 0%, rgba(255, 233, 247, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maincrw {
  color: rgba(255, 233, 247, 1);
}

.hcm {
  background: -webkit-linear-gradient(90deg, rgba(253, 234, 255, 1) 0%, rgba(249, 224, 251, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainhcm {
  color: rgba(249, 224, 251, 1);
}

.hf {
  background: -webkit-linear-gradient(90deg, rgba(253, 234, 255, 1) 0%, rgba(249, 224, 251, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainhf {
  color: rgba(249, 224, 251, 1);
}

.hfo {
  background: -webkit-linear-gradient(90deg, rgba(253, 230, 255, 1) 0%, rgba(253, 224, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainhfo {
  color: rgba(253, 224, 255, 1);
}

.lp {
  background: -webkit-linear-gradient(90deg, rgba(253, 227, 255, 1) 0%, rgba(252, 216, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainlp {
  color: rgba(252, 216, 255, 1);
}

.sc {
  background: -webkit-linear-gradient(90deg, white 0%, rgba(213, 213, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainsc {
  color: rgba(213, 213, 255, 1);
}

.scess {
  background: -webkit-linear-gradient(90deg, white 0%, rgba(206, 206, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainscess {
  color: rgba(206, 206, 255, 1);
}

.wc {
  background: -webkit-linear-gradient(90deg, white 0%, rgba(192, 192, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainwc {
  color: rgba(192, 192, 255, 1);
}

.fr {
  background: -webkit-linear-gradient(90deg, white 0%, rgba(206, 255, 173, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainfr {
  color: rgba(206, 255, 173, 1);
}

.pd {
  background: -webkit-linear-gradient(90deg, white 0%, rgba(201, 255, 251, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainpd {
  color: rgba(201, 255, 251, 1);
}

.ascopd {
  background: -webkit-linear-gradient(90deg, white 0%, rgba(255, 218, 193, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainascopd {
  color: rgba(255, 218, 193, 1);
}