@charset "utf-8";
@import "../jae.scss";
@import "assets/fonts/fonts.scss";

body {
  font-family: "ITCAvantGardeStd-medium";
  font-size: 1rem;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
