@use "@angular/material" as mat;
@include mat.core();

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.custom-container {
  width: 90%;
  padding-top: 100px;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.max-width-custom {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

/*
=============================================
GLOBAL VARIABLES
=============================================
*/
:root {
  --iclinic-blue: rgb(128, 182, 222);
  --light-iclinic-blue: rgb(203, 223, 237);
  --pd-blue: rgba(201, 255, 251, 1);
  --fr-green: rgba(206, 255, 173, 1);
  --ascopd-beige: rgba(255, 218, 193, 1);

  // LIGHT THEME
  --light-bg-primary: white;

  // DARK THEME
  --dark-bg-primary: #151217;
}

.color-scheme-dark {
  //   @include mat.core-color($dark-theme);
  //   @include mat.button-color($dark-theme);
  //   @include mat.icon-color($dark-theme);
  //   @include mat.list-color($dark-theme);
  //   @include mat.sidenav-color($dark-theme);
  //   @include mat.toolbar-color($dark-theme);
  //   @include mat.card-color($dark-theme);
  // Example how you can easy add own custom styles
  color: white;

  button {
    color: white;
  }

  background-color: var(--dark-bg-primary);

  .cookie-bar {
    background-color: var(--dark-bg-primary);
  }

  .minimized-cookie-bar {
    background-color: var(--dark-bg-primary);
  }

  .modal-content {
    background-color: var(--dark-bg-primary);
  }

  .inverse-font-color {
    color: black;
  }

  .card-div {
    background-color: var(--dark-bg-primary);
  }

  //footer
  .link {
    color: white;
  }

  .custom-nav-link {
    color: white;
  }

  .footer-big-div {
    background-color: var(--dark-bg-primary);
  }
}

.color-scheme-light {
  //   @include mat.core-color($light-theme);
  //   @include mat.button-color($light-theme);
  //   @include mat.icon-color($light-theme);
  //   @include mat.list-color($light-theme);
  //   @include mat.sidenav-color($light-theme);
  //   @include mat.toolbar-color($light-theme);
  //   @include mat.card-color($light-theme);
  // Example how you can easy add own custom styles
  background-color: white;
  color: black;

  button {
    color: black;
  }

  .modal-content {
    background-color: white;
  }

  .cookie-bar {
    background-color: white;
  }

  .minimized-cookie-bar {
    background-color: white;
  }


  .inverse-font-color {
    color: white;
  }

  .card-div {
    background-color: white;
  }

  //footer
  .link {
    color: black;
  }

  .custom-nav-link {
    color: white;
  }

  .navbar-custom {
    background-color: var(--light-iclinic-blue) !important;
  }

  .footer-big-div {
    background-color: var(--light-iclinic-blue) !important;
  }

  //CHANGE? TODO
  .solutions-title {
    color: black !important;
    -webkit-text-fill-color: black !important;
  }

  .solutions-mainTitle {
    color: black !important;
  }
}