/* angular ui material */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import "~bootstrap/dist/css/bootstrap.css"; */

body, p{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.background-regular{
    background-color: #151217;
}
.custom-container{
    width: 90%; 
    padding-top: 100px;
    max-width: 1300px !important; 
    margin-left: auto;
    margin-right: auto;
    height:100%;
}
.max-width-custom{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
/*
=============================================
GLOBAL VARIABLES
=============================================
*/
:root{
    --iclinic-blue: rgb(128, 182, 222); /* #80B6DE */
    --pd-blue: rgba(201, 255, 251, 1); /* #C9FFFB */
    --fr-green: rgba(206,255,173,1); /* #CEFFAD */
    --ascopd-beige: rgba(255, 218, 193, 1); /* #FFDAC1 */
}