/* angular ui material */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import "~bootstrap/dist/css/bootstrap.css"; */

html,
body {
    height: 100%;
    background-color: #151217;
}

body, p{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-container{
    max-width: 1300px;
    margin-top: 100px;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
}