@use "@angular/material" as mat;
@include mat.core();

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.custom-container {
  width: 90%;
  padding-top: 100px;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.max-width-custom {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

/*
=============================================
GLOBAL VARIABLES
=============================================
*/
:root {
  --iclinic-blue: rgb(128, 182, 222);
  --pd-blue: rgba(201, 255, 251, 1);
  --fr-green: rgba(206, 255, 173, 1);
  --ascopd-beige: rgba(255, 218, 193, 1);

/*
=============================================
LIGHT THEME GLOBAL VARIABLES
=============================================
*/
  --light-bg-primary: white;
  --light-bg-secondary: #F9F7F7;
  --light-bg-third: #DBE2EF;
  --light-bg-four: #3F72AF;
  --light-bg-fifth: #112D4E;
  --light-iclinic-blue: rgb(203, 223, 237);

/*
=============================================
DARK THEME GLOBAL VARIABLES
=============================================
*/
  --dark-bg-primary: #151217;
}

/*
=============================================
DARK THEME VARIABLES
=============================================
*/
.color-scheme-dark {
  color: white;
  background-color: var(--dark-bg-primary);

  button {
    color: white;
  }

  .link {
    color: white;
  }

  .black-text{
    color: black;
  }

  .inverse-font-color {
    color: black;
  }
  
  .custom-nav-link {
    color: white;
  }

  /* HOME */
  .cookie-bar {
    background-color: var(--dark-bg-primary);
  }

  .minimized-cookie-bar {
    background-color: var(--dark-bg-primary);
  }

  .modal-content {
    background-color: var(--dark-bg-primary);
  }

  /* NAVBAR */
  .navbar-inner-custom {
    background-color: #212121;
  }

  /* ABOUT US */
  .card-div {
    background-color: var(--dark-bg-primary);
  }

  /* FOOTER */
  .footer-big-div {
    background-color: var(--dark-bg-primary);
  }

  .footer-container {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

}
/*
=============================================
LIGHT THEME VARIABLES
=============================================
*/
.color-scheme-light {
  background-color: var(--light-bg-secondary);
  color: black;

  button {
    color: black;
  }

  .link {
    color: black;
  }

  .black-text{
    color: black;
  }

  /* HOME */
  .modal-content {
    background-color: white;
  }

  .cookie-bar {
    background-color: white;
  }

  .minimized-cookie-bar {
    background-color: white;
  }

  .inverse-font-color {
    color: white;
  }

  .card-div {
    background-color: white;
  }
  .custom-nav-link {
    color: white;
  }

  /* NAVBAR */
  .navbar-custom {
    background-color: var(--light-iclinic-blue) !important;
  }

  .navbar-inner-custom {
    background-color: white;
  }

  /* FOOTER */
  .footer-big-div {
    background-color: var(--light-iclinic-blue) !important;
  }

  .footer-container {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  //CHANGE? TODO
  .solutions-title {
    color: black !important;
    -webkit-text-fill-color: black !important;
  }

  .solutions-mainTitle {
    color: black !important;
  }

  .contact-form-section {
    background-color: white;
  }

  .support-form-section {
    background-color: white;
  }

  .contact-form-text-div-card {
    background-color: white;
  }

  .contact-form-text-div-card2 {
    background-color: white;
  }

  .contact-form-text-div-card3 {
    background-color: white;
  }
}